<% @ledger_entry_header=LedgerEntryHeader.find(ledger_entry_header_id.to_i)%>
<html>
  <head>
    <style>
    * { margin: 0; padding: 0; }
    /**/
    body { font: 14px/1.4 Times, Serif; }
    #page-wrap { width: 850px; height: 455px; margin: 0 auto; background: #fff !important; border: 2px solid #000; }

    textarea { border: 0; font: 14px Times, Serif; overflow: hidden; resize: none; }
   
    .delivery_to { border: 0; font: 14px Times, Serif; height:130px;width:240px; resize: none; }

    table { border-collapse: collapse; width: 845px;}
    table td, table th { border: 2px solid black !important; padding: 2px; background: #fff !important; color: #000!important;}

    #header { height: 100px; width: 100%; margin: 10px 0; background: #fff; text-align: center; color: #000;font: bold;text-decoration: uppercase;  padding: 4px 0px; }

    .customeraddress { margin: 0 10px 0 0; width: 220px; height: 300px; float: left; }
    /**/
    .cc_mail_box{width: 200px; height: 25px; font: 14px Times, Serif; }
    #attachment_box{border: 0; font: 14px Times, Serif; height:120px;width:270px; resize: none; float: left; position: relative; top: 61px; }
    #attachment_else_box{border: 0; font: 14px Times, Serif; height:120px;width:270px; resize: none; float: left; right: 370px; position: relative; top: 61px; }
    #regular_attachment_box{border: 0; font: 14px Times, Serif; height:120px;width:270px; resize: none;float:left; position: relative; bottom: 140px; left: 720px}
    #found_ok {width: 25em;  height: 5em; float: center; position: relative; bottom: -57px; left: 235px}
    #customer { overflow: hidden; }
    #button { width: 250px; height: 50px; float: right; }
    #smallbutton {width: 125px; height: 50px; float: right; }
    #sidesmallbutton {width: 125px; height: 50px; float: right;}
    #leftsmallbutton { width: 125px; height: 50px; float: left; }
    #logo { text-align: right; float: right; position: relative; margin-top: 0px; margin-right: 60px; border: 1px solid #fff; max-width: 540px; max-height: 150px; overflow: hidden; float:center; }
    #logoctr { display: none; }
    #logo:hover #logoctr, #logo.edit #logoctr { display: block; text-align: right; line-height: 25px; background: #22222263; padding: 0 5px; }
    #logohelp { text-align: left; display: none; font-style: italic; padding: 10px 5px;}
    #logohelp input { margin-bottom: 5px; }
    .edit #logohelp { display: block; }
    .edit #save-logo, .edit #cancel-logo { display: inline; }
    .edit #image, #save-logo, #cancel-logo, .edit #change-logo, .edit #delete-logo { display: none; }
    #customer-title { font-size: 15px; font-weight: bold; }

    #meta { margin-top: 1px; width: 845px; float: right; }

    #meta td.meta-head { width: 200px; text-align: left; background: #22222263; }
    #meta td textarea { width: 700px; text-align: left; }

    #metadata { margin-top: 1px; width: 845px; float: left; }
    #metadata td { text-align: left;  }
    #metadata td.meta-head { width: 20px; text-align: left; background: #22222263; }
    #metadata td textarea { height: 20px; text-align: left; width: 200px; }

    #items { clear: both; width: 100%; margin: 30px 0 0 0 }
    #items th { background: #c85e17; }
    #items th.quantity { text-align: right; }
    #items textarea { width: 80px; height: 50px; }
    #items tr.item-row td { border-width: 0px; border-bottom: 1px solid black; vertical-align: top; }
    #items td.description { width: 300px; }
    #items td.item-name { width: 175px; }
    #items td.description textarea, #items td.item-name textarea { width: 100%; }
    #items td.total-line { border-right: 0; text-align: right; }
    #items td.reg-nos { border-right: 0; text-align: center; text-transform: uppercase; font: 13px Helvetica, Sans-Serif; letter-spacing: 5px; }
    #items td.quantity { text-align: right; }
    #items td.quantity_centre { text-align: center; }

    #items td.total-value { border-left: 0; padding: 10px; text-align: right; }
    #items td.total-value textarea { height: 20px; background: none; }
    #items td.balance { background: #c85e17; }
    #items td.blank { border: 0; }
    .tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}

    #terms { text-align: left; margin: 8px 0 0 0; }
    #terms h5 { text-transform: uppercase; font: 13px Helvetica, Sans-Serif; letter-spacing: 10px; border-bottom: 1px solid black; padding: 0 0 4px 0; margin: 0 0 8px 0; }
    #terms h3 { text-align: center; font: 10px Helvetica, Sans-Serif; letter-spacing: 4px; padding: 0 0 8px 0; margin: 0 0 4px 0; }
    #terms h4 { text-align: center; font: 15px Helvetica, Sans-Serif; letter-spacing: 4px; border-bottom: 1px solid black; padding: 0 0 8px 0; margin: 0 0 4px 0; }

    #terms textarea { width: 100%; text-align: left;}

    .auto-textarea{height:auto; width:auto;}
    .quatation_details{width:100px;}
    .item_details{width:770px;text-align:justify;text-justify:inter-word;}
    .delete-wpr { position: relative; }
    .delete { display: block; color: #000; text-decoration: none; position: absolute; background: #EEEEEE; font-weight: bold; padding: 0px 3px; border: 1px solid; top: -6px; left: -22px; font-family: Verdana; font-size: 12px; }

    .address { margin: 0 10px 10px 0; width: 200px; height: 120px; float: right;text-align: left; }
    .customer_address {  border: 0; font: 14px Times, Serif; width:200px; text-align:left; float: right; }
    .company_address { border: 0; font: 14px Times, Serif; width:240px; resize: none; text-align: left; float: left;   }
    </style>
  </head>

  <body>
    
    <table class="table table-striped table-hover metadata" id="page-wrap">
      <tbody>
          <tr>
            <td colspan="2" style="text-align: center!important;"><u><b><font style="font-size: 27px!important;">Demand Notice</font></b><br>Flat <b><%= @ledger_entry_header.booking.cost_sheet.flat.full_name%></b> at <b><%= @ledger_entry_header.booking.cost_sheet.flat.block.business_unit.name%></b></u></td>
          </tr>
          <tr>
            <% all_milestone_descriptions = @ledger_entry_header.ledger_entry_items.map {|ledger_entry_item| ledger_entry_item.milestone.payment_milestone.description}
              milestone_description=''
              all_milestone_descriptions.each do |description|
                milestone_description+=description+','
              end
             %>
            <td colspan="2">Dear <b><%= @ledger_entry_header.booking.cost_sheet.lead.name%></b>,<br><br> You have booked the above flat <b><%= @ledger_entry_header.booking.cost_sheet.flat.full_name%></b> in our project <b><%= @ledger_entry_header.booking.cost_sheet.flat.block.business_unit.name%></b>, thanks for the same. Please note that on <b><%= @ledger_entry_header.date.to_date.strftime('%d/%m/%Y')%></b> the milestone - <b><%= milestone_description[0..milestone_description.length-2]%></b> has been achieved, hence we are sending you a fresh demand and detail of outstanding amount.</b></td>
          </tr>
          <tr>
            <th style="background: #afafaf!important; text-align: center!important;">Particulars</th>
            <th style="background: #afafaf!important; text-align: center!important;">Amount</th>
          </tr>
          <tr>
            <td>Total Demand raised previously:</td>
            <td style="text-align: right!important;"><%= @ledger_entry_header.demand_raised_previously.round%></td>
          </tr>
          <tr>
            <td>Total payment received till date:</td>
            <td style="text-align: right!important;"><%= @ledger_entry_header.payement_received_till_date.round%></td>
          </tr>
          <tr>
            <td>Unpaid amount: <i>(total demand raised till date-total payment received till date)</i></td>
            <% unpaid_amount = (@ledger_entry_header.demand_raised_previously-@ledger_entry_header.payement_received_till_date)%>
            <td style="text-align: right!important;"><%= unpaid_amount.round%></td>
          </tr>
          <tr>
            <td>Current activity's demand amount:</td>
            <%current_amount= 0
              @ledger_entry_header.ledger_entry_items.each do |ledger_entry_item| 
                current_amount += @ledger_entry_header.booking.cost_sheet.milestone_amount(ledger_entry_item.milestone_id)
              end
            %>
            <td style="text-align: right!important;"><%= current_amount.round%></td>
          </tr>
          <tr>
            <td><b>Total payable amount:</b> <i>(Unpaid Amount+Current activity's demand amount)</i></td>
            <td style="text-align: right!important;"><b><%= (grand_total = (unpaid_amount+current_amount).round)%></b></td>
          </tr>

          <tr>
            <td colspan="2">Amount in words (Rs.): <b><i> <%= grand_total.round.to_i.rupees%> only.</i></b></td>
          </tr>
          
            <tr>  
              <td colspan="2"><b>Terms & Conditions:</b> The above mentioned total due amount is excluding interest for late payment. You are therefore requested to remit/pay the above mentioned amount immediately to avoid further interest accrual @ 18% p.a. However, interest on previous outstanding shall be payable till the date of payment. Please ignore this demand letter, if already paid. Demand letter does not mean revocation of termination. If you have been issued termination letter, kindly contact us immediately at 033-40319999. 
            </tr>
            <tr>
              <td>
                Company Name: Dream Gateway Hotels Ltd.<br>
                PAN: AADCD0692H<br>
                GSTIN: AADCD0692H1ZL<br>
                SAC CODE: 995411<br>
                Bank Name : HDFC BANK LTD<br>
                Bank Branch Add : 72 SARAT BOSE ROAD<br>
                Kolkata : 700025<br>
                Bank A/C No : 50200006508062<br>
                IFSC : HDFC0001404
              </td>
              <td>
                E & O.E.<br><%= image_tag 'https://dm2304files.storage.live.com/y4mmRc8He-bBMhxijexsqhppV7Q6-3OcMsuMmY4iFRfSL-fhG0nIImEwBtApY2r0yRbP8o5uC9YssQo2Vn7a4WA-RXIsrvMQ1OP3CZ8E5swI7UUI_wMaPmIAXn7M4FqrzGV-6pj7xzDD8c8ZqqxBQgoVI2Np92vVRjnx8tFSSz9rh-mOSES-exIVRBbudp0ICXZ?width=384&height=161&cropmode=none', alt: "", class: "signature"%><br>For Dream Gateway Hotels Ltd.<br><br><br>This is a computer generated document no signature required
              </td>
            </tr>
    </tbody>
  </table><br>

<style>
  .signature{
    width: 120px;
    height: auto;
  }
</style> 
    </body>
</html>