<% @money_receipt=DemandMoneyReceipt.find(money_receipt_id.to_i)%>
<html>
  <head>
    <style>
    * { margin: 0; padding: 0; }
    /**/
    body { font: 14px/1.4 Times, Serif; }
    #page-wrap { width: 850px; height: 455px; margin: 0 auto; background: #fff !important; border: 2px solid #000; }

    textarea { border: 0; font: 14px Times, Serif; overflow: hidden; resize: none; }
   
    .delivery_to { border: 0; font: 14px Times, Serif; height:130px;width:240px; resize: none; }

    table { border-collapse: collapse; width: 845px;}
    table td, table th { border: 2px solid black !important; padding: 2px; background: #fff !important; color: #000!important;}

    #header { height: 100px; width: 100%; margin: 10px 0; background: #fff; text-align: center; color: #000;font: bold;text-decoration: uppercase;  padding: 4px 0px; }

    .customeraddress { margin: 0 10px 0 0; width: 220px; height: 300px; float: left; }
    /**/
    .cc_mail_box{width: 200px; height: 25px; font: 14px Times, Serif; }
    #attachment_box{border: 0; font: 14px Times, Serif; height:120px;width:270px; resize: none; float: left; position: relative; top: 61px; }
    #attachment_else_box{border: 0; font: 14px Times, Serif; height:120px;width:270px; resize: none; float: left; right: 370px; position: relative; top: 61px; }
    #regular_attachment_box{border: 0; font: 14px Times, Serif; height:120px;width:270px; resize: none;float:left; position: relative; bottom: 140px; left: 720px}
    #found_ok {width: 25em;  height: 5em; float: center; position: relative; bottom: -57px; left: 235px}
    #customer { overflow: hidden; }
    #button { width: 250px; height: 50px; float: right; }
    #smallbutton {width: 125px; height: 50px; float: right; }
    #sidesmallbutton {width: 125px; height: 50px; float: right;}
    #leftsmallbutton { width: 125px; height: 50px; float: left; }
    #logo { text-align: right; float: right; position: relative; margin-top: 0px; margin-right: 60px; border: 1px solid #fff; max-width: 540px; max-height: 150px; overflow: hidden; float:center; }
    #logoctr { display: none; }
    #logo:hover #logoctr, #logo.edit #logoctr { display: block; text-align: right; line-height: 25px; background: #22222263; padding: 0 5px; }
    #logohelp { text-align: left; display: none; font-style: italic; padding: 10px 5px;}
    #logohelp input { margin-bottom: 5px; }
    .edit #logohelp { display: block; }
    .edit #save-logo, .edit #cancel-logo { display: inline; }
    .edit #image, #save-logo, #cancel-logo, .edit #change-logo, .edit #delete-logo { display: none; }
    #customer-title { font-size: 15px; font-weight: bold; }

    #meta { margin-top: 1px; width: 845px; float: right; }

    #meta td.meta-head { width: 200px; text-align: left; background: #22222263; }
    #meta td textarea { width: 700px; text-align: left; }

    #metadata { margin-top: 1px; width: 845px; float: left; }
    #metadata td { text-align: left;  }
    #metadata td.meta-head { width: 20px; text-align: left; background: #22222263; }
    #metadata td textarea { height: 20px; text-align: left; width: 200px; }

    #items { clear: both; width: 100%; margin: 30px 0 0 0 }
    #items th { background: #c85e17; }
    #items th.quantity { text-align: right; }
    #items textarea { width: 80px; height: 50px; }
    #items tr.item-row td { border-width: 0px; border-bottom: 1px solid black; vertical-align: top; }
    #items td.description { width: 300px; }
    #items td.item-name { width: 175px; }
    #items td.description textarea, #items td.item-name textarea { width: 100%; }
    #items td.total-line { border-right: 0; text-align: right; }
    #items td.reg-nos { border-right: 0; text-align: center; text-transform: uppercase; font: 13px Helvetica, Sans-Serif; letter-spacing: 5px; }
    #items td.quantity { text-align: right; }
    #items td.quantity_centre { text-align: center; }

    #items td.total-value { border-left: 0; padding: 10px; text-align: right; }
    #items td.total-value textarea { height: 20px; background: none; }
    #items td.balance { background: #c85e17; }
    #items td.blank { border: 0; }
    .tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}

    #terms { text-align: left; margin: 8px 0 0 0; }
    #terms h5 { text-transform: uppercase; font: 13px Helvetica, Sans-Serif; letter-spacing: 10px; border-bottom: 1px solid black; padding: 0 0 4px 0; margin: 0 0 8px 0; }
    #terms h3 { text-align: center; font: 10px Helvetica, Sans-Serif; letter-spacing: 4px; padding: 0 0 8px 0; margin: 0 0 4px 0; }
    #terms h4 { text-align: center; font: 15px Helvetica, Sans-Serif; letter-spacing: 4px; border-bottom: 1px solid black; padding: 0 0 8px 0; margin: 0 0 4px 0; }

    #terms textarea { width: 100%; text-align: left;}

    .auto-textarea{height:auto; width:auto;}
    .quatation_details{width:100px;}
    .item_details{width:770px;text-align:justify;text-justify:inter-word;}
    .delete-wpr { position: relative; }
    .delete { display: block; color: #000; text-decoration: none; position: absolute; background: #EEEEEE; font-weight: bold; padding: 0px 3px; border: 1px solid; top: -6px; left: -22px; font-family: Verdana; font-size: 12px; }

    .address { margin: 0 10px 10px 0; width: 200px; height: 120px; float: right;text-align: left; }
    .customer_address {  border: 0; font: 14px Times, Serif; width:200px; text-align:left; float: right; }
    .company_address { border: 0; font: 14px Times, Serif; width:240px; resize: none; text-align: left; float: left;   }
    </style>
  </head>

  <body>
    <div id="page-wrap">
      <div id="header">
        <div class="row">
          <div class="col-md-12">
            <p><b>JAIN GROUP PROJECTS PVT.LTD.</b><br><U>JAIN GROUP<br>44/2A, Hazra Road, Kolkata-19</U><br><U><b>MONEY RECEIPT</b></U><br><u>Project: <%= @money_receipt.booking.cost_sheet.flat.block.business_unit.name %></u></p>
          </div>
        </div>
      </div>                    
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
        	<br>
          <p style="text-align: right !important; color: #000 !important;"><br>Payment Date: <%= @money_receipt.date.strftime('%d/%m/%Y')%><br></p>
        </div>
      </div>	
    <table class="table table-striped table-hover metadata">
      <tbody>
        <tr>
          <td colspan="2"><b>Name of Owner:</b></td>
          <td colspan="5"><b><%= @money_receipt.booking.cost_sheet.flat.lead.name%></b></td>
          <td colspan="2"><%= @money_receipt.booking.cost_sheet.flat.block.name%>-<%= @money_receipt.booking.cost_sheet.flat.full_name%></td>
        </tr>
          <tr>
            <td colspan="7"><b>Amount Paid:</b></td>
            <td colspan="2"><%= @money_receipt.amount%></td>
          </tr>
          <tr>
            <td colspan="1"><b>Bank:</b></td>
            <td colspan="3"><%= @money_receipt.try(:bank_name)%></td>
            <td colspan="2"><b>Cheque No.</b></td>
            <td colspan="3"><%= @money_receipt.try(:cheque_number)%></td>
          </tr>
        <% total = @money_receipt.amount%>
          <tr>
            <td colspan="9">Amount in words (Rs.): <b><i><%= total.to_i.rupees%> only.</i></b></td>
          </tr>
          <tr>
          	<td colspan="5">
          		Company Name: PALANHARE MAINTENANCE LLP<br>
      				PAN: AATFP2178H<br>
      				GSTIN: 19AATFP2178H1ZM<br>
      				SAC CODE: 995419<br>
      				Bank Name : HDFC BANK LTD<br>
      				Bank Branch Add : 72 SARAT BOSE ROAD<br>
      				Kolkata : 700025<br>
      				Bank A/C No : 50200026846903<br>
      				IFSC : HDFC0001404
			      </td>
          	<td colspan="4">
          		E & O.E.<br><br><br>For JAIN GROUP PROJECTS PVT.LTD.<br><br><br>This is a computer generated document no signature required
          	</td>
          </tr>
</tbody>
 

</table>
      <br>                  
    </body>
</html>