<%@header = 'Electric Money Receipt Register'%>
<h1>Electrical Money Receipt Register</h1>
    <%= form_tag 'electrical_money_receipt_register', :html => {:class => 'form-horizontal'} do %>    
      <div class="row">
        <div class="col-lg-1">
          <h5>Project:</h5>
        </div>
        <div class="col-lg-3">
          <%= select(:business_unit, :business_unit_id, options_for_select(@business_units, selected: @business_unit_id),{}, {:class => 'form-control'}) %>
        </div>
        <div class="col-lg-1">
          <h5>From:</h5>
        </div>
        <% 
          if request.get?
            previous_from = DateTime.now.beginning_of_month-3.month
            previous_to = (previous_from+2.month).end_of_month
          else
            previous_from = @from
            previous_to = @to
          end
        %>
        <div class="col-lg-2">
          <%= date_field_tag 'electrical_money_receipt[from]',previous_from.to_date, :class => 'form-control'%>
        </div>
        <div class="col-lg-1">
          <h5>To:</h5>
        </div>
        <div class="col-lg-2">
          <%= date_field_tag 'electrical_money_receipt[to]',previous_to.to_date, :class => 'form-control'%>
        </div>
        <div class="col-lg-2">
          <%= submit_tag 'View Details',:class => 'btn btn-primary btn-block' %>
        </div>
      </div><br>
    <%end%>
<%= form_tag 'bulk_electrical_money_receipt_delete', :html => {:class => 'form-horizontal'} do %>    
  <table id="customers">
    <thead>
      <tr>
        <% if current_personnel.email == 'ayush@thejaingroup.com'%>
          <th></th>
        <%end%>
        <th>Project</th>
        <th>Customer</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Block</th>
        <th>Flat</th>
        <th>Payment Date</th>
        <th>Cheque No.</th>
        <th>Bank</th>
        <th>Amount</th>
        <th>Remarks</th>
      </tr>
    </thead>

    <tbody>
      <%grand_total=0%>
    	<% @electrical_money_receipts.each do |electrical_money_receipt|%>
      		<tr>
            <% if current_personnel.email == 'ayush@thejaingroup.com'%>
              <td><%= check_box_tag 'electrical_money_receipt_ids[]', electrical_money_receipt.id%></td>
            <%end%>
            <td><%= electrical_money_receipt.flat.block.business_unit.name%></td>
      			<td><%= electrical_money_receipt.lead.try(:name)%></td>
            <td><%= electrical_money_receipt.lead.try(:email)%></td>
            <td><%= electrical_money_receipt.lead.try(:mobile)%></td>
            <td><%= electrical_money_receipt.flat.block.name%></td>
      			<td><%= electrical_money_receipt.flat.full_name%></td>
      			<td><%= electrical_money_receipt.date.to_date.strftime('%d/%m/%y')%></td>
            <td><%= electrical_money_receipt.try(:cheque_number)%></td>
            <td><%= electrical_money_receipt.try(:bank_name)%></td>
            <td><%= electrical_money_receipt.amount%></td>
            <%grand_total+=electrical_money_receipt.amount%>
            <td><%= electrical_money_receipt.try(:remarks)%></td>
      		</tr>
    	<%end%>
          <tr>
            <td>Grand Total:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            <td><b><%= grand_total%></b></td><td></td>
          </tr>
    </tbody>
  </table><br>
  <% if current_personnel.email == 'ayush@thejaingroup.com'%>
    <div class="row">
      <div class="col-lg-2">
      <%= submit_tag 'Bulk Deletion', :class => 'btn btn-primary'%>
      </div>
    </div>
  <%end%>
<%end%>