<%@header = 'SMS Templates'%>
<h1>SMS Templates</h1>

<%= form_tag 'sms_template_index', :html => {:class => 'form-horizontal'} do %>    
  <div class="row">
	    <div class="col-lg-1">
		    <h5>SMS Type:</h5>
		</div>
	    <div class="col-lg-2">
	      <%= select(:sms_template,:sms_type, options_for_select(@sms_types, selected: @sms_template_type),{prompt: "SMS Type"}, {:class => 'form-control'}) %>
	    </div>
	    <div class="col-lg-1">
		    <h5>Inactive:</h5>
		</div>
		<% if @inactive == "true"%>
			<div class="col-lg-1">
		      <%= check_box_tag 'inactive', true,nil, :checked => true%>
		    </div>
		<%else%>
		    <div class="col-lg-1">
		      <%= check_box_tag 'inactive', true,nil%>
		    </div>
		<%end%>
	    <div class="col-lg-2">
      		<%= submit_tag 'View Details',:class => 'btn btn-primary btn-block' %>
    	</div>
  </div><br>
<%end%>



<table id="customers" >
	<thead>
		<th>Project</th>
		<th>Send After Days</th>
		<th>Title</th>
		<th>Lost</th>
		<th>Live</th>
		<th>Ad Hoc</th>
		<th>Birthday wish</th>
		<th>Anniversary Wish</th>
		<th>Fresh</th>
		<th>Organised Visit</th>
		<th>Site Visited</th>
		<th>Booked</th>
		<th>Inactive</th>
		<th></th>
		<th></th>
		<th></th>
	</thead>
	<tbody>
		<% @sms_templates.each do |sms_template| %>
			<tr>
				<td><%= sms_template.business_unit.name%></td>
				<td><%= sms_template.send_after_days%></td>
				<td><%= sms_template.title%></td>
				<td><%= sms_template.try(:lost)%></td>
				<td><%= sms_template.try(:live)%></td>
				<td><%= sms_template.try(:ad_hoc)%></td>
				<td><%= sms_template.try(:birthday_wish)%></td>
				<td><%= sms_template.try(:anniversary_wish)%></td>
				<td><%= sms_template.try(:fresh)%></td>
				<td><%= sms_template.try(:organised_visit)%></td>
				<td><%= sms_template.try(:site_visited)%></td>
				<td><%= sms_template.try(:booked)%></td>
				<td><%= sms_template.try(:inactive)%></td>
				<td><%= link_to 'Edit', marketing_automation_sms_template_edit_path(sms_template),:class => 'edit_btn ', :style => "text-decoration: none"%></td>
				<td><%= link_to 'Destroy', marketing_automation_sms_template_destroy_path(sms_template),:class => "dlt_btn", :style => "text-decoration: none", data: { confirm: 'Are you sure ?'}%></td>
				<td><%= link_to 'Preview', marketing_automation_sms_template_preview_index_path(sms_template),:class => 'link_btn ', :style => "text-decoration: none"%></td>
			</tr>
		<%end%>
	</tbody>
</table>
<br>
<%= link_to 'New Entry', marketing_automation_sms_template_new_path, :class => 'btn btn-primary' %>
