<table id="detail_table" class="detail customers">  
    <thead>  
    <tr>  
        <th>Id</th>  
        <th>Source</th>  
        <th>Leads Generated</th>
        <th>SV from LeadGen</th>
        <th>Bkd from LeadGen</th>
        <th>Lost from LeadGen</th>
        <th>Site Visited</th>
        <th>Booked</th>
        <th>Lost</th>  
    </tr>  
</thead>
<tbody>
<% @source_tree.each do |key,value| %>
<% if value[2]=={} %>

    <tr>  
        <td><%= key %></td>  
        <td><%= SourceCategory.find(key).heirarchy%></td>  
        <td><%= value[0] %></td>
        <td><%= value[9] %></td>
        <td><%= value[11] %></td>
        <td><%= value[13] %></td>
        <td><%= value[3] %></td>
        <td><%= value[5] %></td>
        <td><%= value[7] %></td>  
    </tr>

<% else %>

    <tr class="great_grand_parent" id=<%= key %> title="Click to expand/collapse" style="cursor: pointer;">  
        <td><%= key %></td>  
        <td><%= SourceCategory.find(key).heirarchy%> +</td>  
        <td><%= value[0] %></td>
        <td><%= value[9] %></td>
        <td><%= value[11] %></td>
        <td><%= value[13] %></td>
        <td><%= value[3] %></td>
        <td><%= value[5] %></td>
        <td><%= value[7] %></td>  
    </tr>

    <% if value[1] != 0 && value[1] != value[0] %> 
    <tr class=<%= "grand_parent_"+(key.to_s) %> title="Click to expand/collapse" style="cursor: pointer;">  
            <td><%= key %></td>  
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp<%= SourceCategory.find(key).heirarchy%>(Self)</td>  
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[1] %></td>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[10] %></td>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[12] %></td>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[14] %></td>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[4] %></td>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[6] %></td>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[8] %></td>  
    </tr>
    <% end %>

    <% value[2].keys.each do |grand_parent| %>
        <tr class=<%= "grand_parent_"+(key.to_s) %> id=<%= grand_parent %> title="Click to expand/collapse" style="cursor: pointer;">  
            <td><%= grand_parent %></td>  
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp<%= SourceCategory.find(grand_parent).heirarchy%> <b><%= '+' if value[2][grand_parent][2] != {} %></b></td>  
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][0] %></td>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][9] %></td>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][11] %></td>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][13] %></td> 
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][3] %></td>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][5] %></td>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][7] %></td>  
        </tr>    
            <% if value[2][grand_parent][1] != 0 && value[2][grand_parent][1] != value[2][grand_parent][0] %> 
            <tr class=<%= "parent_"+(grand_parent.to_s) %> title="Click to expand/collapse" style="cursor: pointer;">  
                    <td><%= grand_parent %></td>  
                    <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= SourceCategory.find(grand_parent).heirarchy%>(Self)</td>  
                    <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][1] %></td>
                    <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][10] %></td>
                    <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][12] %></td>
                    <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][14] %></td> 
                    <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][4] %></td>
                    <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][6] %></td>
                    <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][8] %></td>  
            </tr>
            <% end %>
            <% if value[2][grand_parent][2] != {} %>
                <% value[2][grand_parent][2].keys.each do |parent| %>
                    <tr class=<%= "parent_"+(grand_parent.to_s) %> id=<%= parent %> title="Click to expand/collapse" style="cursor: pointer;">  
                        <td><%= parent %></td>  
                        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= SourceCategory.find(parent).heirarchy%> <b><%= '+' if value[2][grand_parent][2][parent][2] != {} %></b></td>  
                        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][0] %></td>
                        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][9] %></td>
                        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][11] %></td>
                        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][13] %></td> 
                        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][3] %></td>
                        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][5] %></td>
                        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][7] %></td>  
                    </tr>    
                        <% if value[2][grand_parent][2][parent][1] != 0 && value[2][grand_parent][2][parent][1] != value[2][grand_parent][2][parent][0] %> 
                        <tr class=<%= "child_"+(parent.to_s) %> title="Click to expand/collapse" style="cursor: pointer;">  
                                <td><%= parent %></td>  
                                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= SourceCategory.find(parent).heirarchy%>(Self)</td>  
                                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][1] %></td>
                                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][10] %></td>
                                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][12] %></td>
                                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][14] %></td>
                                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][4] %></td>
                                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][6] %></td>
                                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][8] %></td>  
                        </tr>
                        <% end %>
                        <% if value[2][grand_parent][2][parent][2] != {} %>
                            <% value[2][grand_parent][2][parent][2].keys.each do |child| %>
                                <tr class=<%= "child_"+(parent.to_s) %> id=<%= child %> title="Click to expand/collapse" style="cursor: pointer;">  
                                    <td><%= child %></td>  
                                    <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= SourceCategory.find(child).heirarchy%><b> <%= '+' if value[2][grand_parent][2][parent][2][child][2] != {} %></b></td>  
                                    <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][2][child][0] %></td>
                                    <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][2][child][9] %></td>
                                    <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][2][child][11] %></td>
                                    <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][2][child][13] %></td>
                                    <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][2][child][3] %></td>
                                    <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][2][child][5] %></td>
                                    <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][2][child][7] %></td>  
                                </tr>    
                                    <% if value[2][grand_parent][2][parent][2][child][1] != 0 && value[2][grand_parent][2][parent][2][child][1] != value[2][grand_parent][2][parent][2][child][0] %> 
                                    <tr class=<%= "grand_child_"+(child.to_s) %> title="Click to expand/collapse" style="cursor: pointer;">  
                                            <td><%= child %></td>  
                                            <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= SourceCategory.find(child).heirarchy%>(Self)</td>  
                                            <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][2][child][1] %></td>
                                            <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][2][child][10] %></td>
                                            <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][2][child][12] %></td>
                                            <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][2][child][14] %></td>
                                            <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][2][child][4] %></td>
                                            <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][2][child][6] %></td>
                                            <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][2][child][8] %></td>  
                                    </tr>
                                    <% end %>
                                    <% if value[2][grand_parent][2][parent][2][child][2] != {} %>
                                        <% value[2][grand_parent][2][parent][2][child][2].keys.each do |grand_child| %>
                                            <tr class=<%= "grand_child_"+(child.to_s) %> id=<%= grand_child %> title="Click to expand/collapse" style="cursor: pointer;">  
                                                <td><%= grand_child %></td>  
                                                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= SourceCategory.find(grand_child).heirarchy%></td>  
                                                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][2][child][2][grand_child][0] %></td> <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][2][child][2][grand_child][9] %></td>
                                                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][2][child][2][grand_child][11] %></td>
                                                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][2][child][2][grand_child][13] %></td><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][2][child][2][grand_child][3] %></td>
                                                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][2][child][2][grand_child][5] %></td>
                                                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][2][child][2][grand_child][7] %></td> 
                                            </tr>    
                                                <% if value[2][grand_parent][2][parent][2][child][2][grand_child][1] != 0 && value[2][grand_parent][2][parent][2][child][2][grand_child][1] != value[2][grand_parent][2][parent][2][child][2][grand_child][0] %> 
                                                <tr class=<%= "grand_child_"+(grand_child.to_s) %> title="Click to expand/collapse" style="cursor: pointer;">  
                                                        <td><%= grand_child %></td>  
                                                        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= SourceCategory.find(grand_child).heirarchy%>(Self)</td>  
                                                        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][2][child][2][grand_child][1] %></td>
                                                        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][2][child][2][grand_child][10] %></td>
                                                        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][2][child][2][grand_child][12] %></td>
                                                        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][2][child][2][grand_child][14] %></td>
                                                        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][2][child][2][grand_child][4] %></td>
                                                        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][2][child][2][grand_child][6] %></td>
                                                        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= value[2][grand_parent][2][parent][2][child][2][grand_child][8] %></td>  
                                                </tr>
                                                <% end %>
                                        <% end %>
                                    <% end %>            
                            <% end %>        
                        <% end %>            

                <% end %>
            <% end %>            

    <% end %>
        
<% end %>
<% end %>           
</tbody>  
</table>  

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>  
<script type="text/javascript">  
    $(document).ready(function () {  
            $('tr.great_grand_parent')  
                .css("cursor", "pointer")  
                .attr("title", "Click to expand/collapse")  
                .click(function () {  
                    $(this).siblings('.grand_parent_' + this.id).toggle();
                    $('tr.grand_parent_' + this.id)  
                        .css("cursor", "pointer")  
                        .attr("title", "Click to expand/collapse")  
                        .click(function () {  
                            $(this).siblings('.parent_' + this.id).toggle();  
                            $('tr.parent_' + this.id)  
                                .css("cursor", "pointer")  
                                .attr("title", "Click to expand/collapse")  
                                .click(function () {  
                                    $(this).siblings('.child_' + this.id).toggle();
                                    $('tr.child_' + this.id)  
                                        .css("cursor", "pointer")  
                                        .attr("title", "Click to expand/collapse")  
                                        .click(function () {  
                                            $(this).siblings('.grand_child_' + this.id).toggle();  
                                        });  
                                });
                        });             
                });  
            $('tr[class^=grand_parent_]').hide().children('td');
            $('tr[class^=parent_]').hide().children('td');
            $('tr[class^=child_]').hide().children('td');
            $('tr[class^=grand_child_]').hide().children('td');
    });  
    </script>  
