<%@header = 'Electric Bill Edit'%>
<%= form_for @electrical_bill, url: {action: @electrical_bill_action} do |f| %>
  <% if @electrical_bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@electrical_bill.errors.count, "error") %> prohibited this raw material from being saved:</h2>
      <ul>
      <% @electrical_bill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-lg-5 col-lg-offset-3">
    <div class="well bs-component">
      <legend>&nbspUpdate Electrical Bill</legend>
       <div class="row" >
        <div class="form-group">    
          <div class="col-lg-2">
          	<%= f.label :'Unit', :class => 'col-lg-2 control-label'%>
          </div>
          <div class="col-lg-4">
            <%= f.number_field :unit, :class => 'form-control'%>
          </div>
          <div class="col-lg-2">
          	<%= f.label :Rate , :class => 'col-lg-2 control-label'%>
          </div>
          <div class="col-lg-4">
           <%= f.text_field :rate, :class => 'form-control', :readonly => true%>
          </div>
        </div>
       </div><br>
      
      <div class="row">
        <div class="form-group">    
          <div class="col-lg-2">
          	<%= f.label :From, :class => 'col-lg-2 control-label'%>
          </div>
          <div class="col-lg-4">
           <%= f.date_field :from, :class => 'form-control'%>
          </div>
          <div class="col-lg-2">
            <%= f.label :To, :class => 'col-lg-2 control-label'%>
          </div>
          <div class="col-lg-4">
           <%= f.date_field :to, :class => 'form-control' %>
          </div>
        </div>
      </div><br>

      <div class="row">
        <div class="form-group">    
          <div class="col-lg-2">
          	<%= f.label :'Opening-reading', :class => 'col-lg-2 control-label'%>
          </div>
          <div class="col-lg-4">
           <%= f.number_field :opening_reading, :class => 'form-control'%>
          </div>
          <div class="col-lg-2">
            <%= f.label :'Closing-reading', :class => 'col-lg-2 control-label'%>
          </div>
          <div class="col-lg-4">
           <%= f.number_field :closing_reading, :class => 'form-control' %>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-8 col-lg-offset-4">
          <br>
          <%= f.submit 'Edit Bill',:class => 'btn btn-primary btn_width' %>
        </div>
      </div>
    </div>
  </div>
  <%= hidden_field_tag :electrical_bill_id, @electrical_bill.id %>
<% end %>
<style>
  .well{
    width: 700px !important;
    height: auto !important;
  }
  .btn_width{
    width: 50% !important;
  }
</style>