<%@header = 'Manual Electrical Receipt List'%>
<%= form_tag 'manual_electrical_receipt_send', :html => {:class => 'form-horizontal'} do %>
<h1>Manual Electric Receipt sending List</h1>
<table id="customers">
  <thead>
    <tr>
      <th></th>
      <th>Project</th>
      <th>Customer's Name</th>
      <th>Mobile</th>
      <th>Block</th>
      <th>Flat</th>
      <th>Opening Reading</th>
      <th>Closing Reading</th>
      <th>Amount</th>
      <th>Payment Date</th>
      <th>Cheque No.</th>
      <th>Bank</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  	<% @electrical_money_receipts.each do |electrical_money_receipt|%>
  				<tr>
  					<td><%= check_box_tag 'electrical_money_receipt_ids[]',electrical_money_receipt.id%></td>
  					<td><%= electrical_money_receipt.flat.block.business_unit.name%></td>
  					<td><%= electrical_money_receipt.lead.name%></td>
            <td><%= electrical_money_receipt.lead.try(:mobile)%></td>
  					<td><%= electrical_money_receipt.flat.block.name%></td>
  					<td><%= electrical_money_receipt.flat.full_name%></td>
            <td><%= electrical_money_receipt.try(:opening_reading)%></td>
            <td><%= electrical_money_receipt.try(:closing_reading)%></td>
            <td><%= electrical_money_receipt.amount%></td>
  					<td><%= electrical_money_receipt.date.to_date.strftime('%d/%m/%y')%></td>
  					<td><%= electrical_money_receipt.try(:cheque_number)%></td>
  					<td><%= electrical_money_receipt.try(:bank_name)%></td>
            <td><%= link_to 'Edit', electrical_bill_electrical_money_receipt_edit_path(electrical_money_receipt)%></td>
            <td>
            <% if current_personnel.email != 'ayush@thejaingroup.com' %>
            <% else %>
              <%= link_to 'Destroy', electrical_bill_electrical_money_receipt_destroy_path(electrical_money_receipt), data: { confirm: 'Are you sure ?'}%>
            <% end %>
            </td>            
            <td><%= link_to 'Preview', electrical_bill_electrical_money_receipt_preview_index_path(electrical_money_receipt),:class => 'link_btn ', :style => "text-decoration: none"%></td>
  				</tr>
  	<%end%>
  </tbody>
</table><br>
<%= submit_tag 'Manually Sent',:class => 'btn btn-primary' %>
<%end%> 