<div>
<table cellpadding="0" cellspacing="0" border="0"  align="center" style="border-collapse:collapse;line-height:100%!important;margin:0;padding:0;width:100%!important">
        <tbody><tr>
            <td>
                <table style="border-collapse:collapse;margin:auto;max-width:700px;min-width:320px;background:#f5f5f5;width:100%">
                    <tbody><tr>
                        <td valign="top"  style="padding:0px 20px">
                        <table cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;color:#545454;font-family:'Helvetica Neue',Arial,sans-serif;font-size:13px;line-height:20px;margin:0 auto;max-width:100%;width:100%">
                          <tbody>
                            <tr>
                              <td style="padding:0 20px;text-align:center;height:100px">
                                <% if @picked_lead.business_unit.name=='Serene Tower' %>
                                <%= image_tag(attachments['serene_logo.png'].url) %>
                                <% elsif @picked_lead.business_unit.name=='Jyoti Residency' %>
                                <%= image_tag(attachments['jyoti-logo.png'].url) %>
                                <% end %>
                              </td>
                            </tr>
                          </tbody>
                        </table>                            
                            <table cellpadding="0" cellspacing="0" border="0" align="center" style="background-clip:padding-box;border-collapse:collapse;color:#545454;font-family:'Helvetica Neue',Arial,sans-serif;font-size:13px;line-height:20px;margin:0 auto;width:100%">
                                <tbody><tr>
                                    <td valign="top" >
                                        <table cellpadding="0" cellspacing="0" border="0" class="" style="background-clip:padding-box;border-collapse:separate;width:100%;background:#fff;border-radius:3px">
                                            <tbody><tr>
                                                <td class="" style="background-clip:padding-box;color:#545454;font-family:'Helvetica Neue',Arial,sans-serif;font-size:14px;line-height:20px;overflow:hidden;padding:15px 20px">
                                                <!--  -->

<p>Dear Madam/Sir,</p>
<br>
<p> Greetings !! Thank you for your enquiry at <%= @picked_lead.business_unit.name %>. </p> 

<p>We tried calling you but could not reach you please let me know a good time to call you.</p>

<% if @picked_lead.business_unit.walkthrough==nil || @picked_lead.business_unit.walkthrough=='' %>
<% else %>
<br>
<p>Meanwhile, please click the below link to view our project walk through video -</p>

<%= @picked_lead.business_unit.walkthrough %>
<% end %>
<br>
<h3>Regards,</h3>

<h3><%= @picked_lead.personnel.name %></h3>
<b>(Executive-Sales & Marketing)</b>
<br>
<% if @picked_lead.business_unit.organisation_id == 1 %>
<%else%>
    <b><%= @picked_lead.personnel.mobile %></b>
<%end%>
<br><br><br><br><br>


                                                <!--  -->
                                                
                                                </td>
                                            </tr>
                                        </tbody></table>
                                        <% if @picked_lead.personnel.organisation.name=='Jain Group' %>
                                        <%= image_tag(attachments['jg_mail.jpg'].url) %>
                                        <% elsif @picked_lead.business_unit.name=='Serene Tower' %>
                                        <%= image_tag(attachments['SereneTower.jpg'].url) %>
                                        <% elsif @picked_lead.business_unit.name=='Jyoti Residency' %>
                                        <%= image_tag(attachments['JyotiResidency.jpg'].url) %>
                                        <% end %>
                                    </td>
                                </tr>
                            </tbody></table>
                            <table cellpadding="0" cellspacing="0" border="0"  align="center" style="border-collapse:collapse;color:#545454;font-family:'Helvetica Neue',Arial,sans-serif;font-size:13px;line-height:20px;margin:0 auto;max-width:100%;width:100%">
                                <tbody><tr>
                                    <td style="padding:20px;color:#8b8b8b;text-align:center">
                                        <p style="margin:6px 0"></p>
                                        
                                    </td>
                                </tr>                       
                            </tbody></table>
                        </td>
                    </tr>
                </tbody>
                </table>
            </td>
        </tr>
    </tbody>
    </table>

</div>


<style type="text/css">

p {
    font-family: "Times New Roman";
    font-color: #000000;
}

.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

</style>
