<p>Dear Sir,</p>
<h1>Listing fresh leads unattended > 3 hours</h1>

<table border="1">
  <thead>
    <tr>
       <th>name</th>
       <th>generated on</th>
       <th>email</th>
        <th>mobile</th>
        <th>project</th>
        <th>personnel</th>
    </tr>
  </thead>

  <tbody>
    <% @data.each do |lead| %>
	      <tr>
	        <td><%= lead.name %></td>
	        <td><%= lead.created_at.strftime("%d/%m/%y") %></td>
          <% if lead.business_unit.organisation_id == 1 %>
            <td></td>
            <td></td>
          <%else%>
  	        <td><%= lead.email %></td>
  	        <td><%= lead.mobile %></td>
          <%end%>
	        <td><%= lead.business_unit.name %></td>
	        <td><%= lead.personnel.name %></td>
	      </tr>
    <% end %>
  </tbody>
</table>

