Dear <b><%= @flat.lead.name%></b>,<br><br>

This is a gentle reminder to you regarding the outstanding amount and the delay charges on your flat <b><%= @flat.block.name%>-<%= @flat.floor%><%= @flat.name%></b> of Sqft. <b><%= @flat.SBA%></b> in <b><%= @flat.block.business_unit.name%></b>. The remaining outstanding amount is Rs. <b><%= @outstanding.round%></b>,  and the delay charges are Rs. <b><%= @accrued_interest.round%></b>.
<br><br>
Please note that delay charges have been calculated post <b>20/06/2020</b>. Delay charges prior to the same will be communicated shortly. <br><br>
Please try to pay these amounts as soon as possible and oblige.<br><br>
<p>Regards,</p>
<p>Rupsa Banerjee/Suvrajyoti Dey</p>
<p>+91 9007576657/+91 9903088846</p>