<p>Dear <%= @demand_money_receipt.booking.cost_sheet.lead.name %>,</p>
<p>Please find money receipt for clearing your dues against your flat <%= @demand_money_receipt.booking.cost_sheet.flat.full_name %> in <%= @demand_money_receipt.booking.cost_sheet.flat.block.name %> of our project <%= @demand_money_receipt.booking.cost_sheet.flat.block.business_unit.name %> attached herewith.</p>
<p>Regards,</p>
<p><%= @current_personnel.name%></p>
<p>+91 <%= @current_personnel.mobile%></p>
