<h1>Listing escalations</h1>

<table>
  <thead>
    <tr>
      <th>Level</th>
      <th>Personnel</th>
      <th>Year</th>
      <th>Month</th>
      <th>Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @escalations.each do |escalation| %>
      <tr>
        <td><%= escalation.level %></td>
        <td><%= escalation.personnel_id %></td>
        <td><%= escalation.year %></td>
        <td><%= escalation.month %></td>
        <td><%= escalation.count %></td>
        <td><%= link_to 'Show', escalation %></td>
        <td><%= link_to 'Edit', edit_escalation_path(escalation) %></td>
        <td><%= link_to 'Destroy', escalation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Escalation', new_escalation_path %>
