<div class="col-lg-5 col-lg-offset-3">
	<div class="well bs-component">
		<center><legend>Adhoc Charge</legend></center>
		<%= form_for @adhoc_charge, url: {action: @adhoc_charge_action} do |f| %>
  		  <% if @adhoc_charge.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@adhoc_charge.errors.count, "error") %> prohibited this adhoc_charge from being saved:</h2>

		      <ul>
		      <% @adhoc_charge.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		  <div class="row">
		  	<div class="col-lg-2">
		    	<%= f.label :Description, :class => "control-label" %>
		    </div>
		    <div class="col-lg-10">
		    	<%= f.text_field :description, :class => "form-control" %>
		  	</div>
	      </div><br>
	  	  <div class="row">
	      	<div class="col-lg-8 col-lg-offset-2">
	    		<%= f.submit :class => 'btn btn-primary btn-block'%>
	  		</div>
	      </div>
	      <%= hidden_field_tag :adhoc_charge_id, @adhoc_charge.id%>
	    <% end %>
  	</div>
</div>
