<%= form_for @payment_milestone, url: {action: @payment_milestone_action} do |f| %>

  <% if @payment_milestone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment_milestone.errors.count, "error") %> prohibited this payment_milestone from being saved:</h2>

      <ul>
      <% @payment_milestone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-lg-5 col-lg-offset-4">
  <div class="well bs-component">
    <legend>&nbspNew payment_milestone</legend>
      <div class="form-group">
          <%= f.label :'Description', :class => 'col-lg-2 control-label'%>
          <div class="col-lg-8">
            <%= f.text_field :description, :class => 'form-control' %>        
          </div>
      </div>
      <br>
      <div class="form-group">
        <div class="col-lg-8 col-lg-offset-2">
          <br>
          <%= f.submit :class => 'btn btn-primary btn-block' %>      
        </div>   
      </div>
      <br><br>
  </div>
</div>

<%= hidden_field_tag :payment_milestone_id, @payment_milestone.id %>
<% end %>