<html>
  <head>
    <style>
    * { margin: 0; padding: 0; }
    /**/
    body { font: 14px/1.4 Times, Serif; }
    #page-wrap { width: 850px; height: 455px; margin: 0 auto; background: #fff !important; border: 2px solid #000; }

    textarea { border: 0; font: 14px Times, Serif; overflow: hidden; resize: none; }
   
    .delivery_to { border: 0; font: 14px Times, Serif; height:130px;width:240px; resize: none; }

    table { border-collapse: collapse; width: 845px;}
    table td, table th { border: 2px solid black !important; padding: 13px; background: #fff; color: #000!important; font-size: 20px!important;}

    #header { height: 100px; width: 100%; margin: 10px 0; background: #fff; text-align: center; color: #000;font: bold;text-decoration: uppercase;  padding: 4px 0px; }

    .customeraddress { margin: 0 10px 0 0; width: 220px; height: 300px; float: left; }
    /**/
    .cc_mail_box{width: 200px; height: 25px; font: 14px Times, Serif; }
    #attachment_box{border: 0; font: 14px Times, Serif; height:120px;width:270px; resize: none; float: left; position: relative; top: 61px; }
    #attachment_else_box{border: 0; font: 14px Times, Serif; height:120px;width:270px; resize: none; float: left; right: 370px; position: relative; top: 61px; }
    #regular_attachment_box{border: 0; font: 14px Times, Serif; height:120px;width:270px; resize: none;float:left; position: relative; bottom: 140px; left: 720px}
    #found_ok {width: 25em;  height: 5em; float: center; position: relative; bottom: -57px; left: 235px}
    #customer { overflow: hidden; }
    #button { width: 250px; height: 50px; float: right; }
    #smallbutton {width: 125px; height: 50px; float: right; }
    #sidesmallbutton {width: 125px; height: 50px; float: right;}
    #leftsmallbutton { width: 125px; height: 50px; float: left; }
    #logo { text-align: right; float: right; position: relative; margin-top: 0px; margin-right: 60px; border: 1px solid #fff; max-width: 540px; max-height: 150px; overflow: hidden; float:center; }
    #logoctr { display: none; }
    #logo:hover #logoctr, #logo.edit #logoctr { display: block; text-align: right; line-height: 25px; background: #22222263; padding: 0 5px; }
    #logohelp { text-align: left; display: none; font-style: italic; padding: 10px 5px;}
    #logohelp input { margin-bottom: 5px; }
    .edit #logohelp { display: block; }
    .edit #save-logo, .edit #cancel-logo { display: inline; }
    .edit #image, #save-logo, #cancel-logo, .edit #change-logo, .edit #delete-logo { display: none; }
    #customer-title { font-size: 15px; font-weight: bold; }

    #meta { margin-top: 1px; width: 845px; float: right; }

    #meta td.meta-head { width: 200px; text-align: left; background: #22222263; }
    #meta td textarea { width: 700px; text-align: left; }

    #metadata { margin-top: 1px; width: 845px; float: left; }
    #metadata td { text-align: left;  }
    #metadata td.meta-head { width: 20px; text-align: left; background: #22222263; }
    #metadata td textarea { height: 20px; text-align: left; width: 200px; }

    #items { clear: both; width: 100%; margin: 30px 0 0 0 }
    #items th { background: #c85e17; }
    #items th.quantity { text-align: right; }
    #items textarea { width: 80px; height: 50px; }
    #items tr.item-row td { border-width: 0px; border-bottom: 1px solid black; vertical-align: top; }
    #items td.description { width: 300px; }
    #items td.item-name { width: 175px; }
    #items td.description textarea, #items td.item-name textarea { width: 100%; }
    #items td.total-line { border-right: 0; text-align: right; }
    #items td.reg-nos { border-right: 0; text-align: center; text-transform: uppercase; font: 13px Helvetica, Sans-Serif; letter-spacing: 5px; }
    #items td.quantity { text-align: right; }
    #items td.quantity_centre { text-align: center; }

    #items td.total-value { border-left: 0; padding: 10px; text-align: right; }
    #items td.total-value textarea { height: 20px; background: none; }
    #items td.balance { background: #c85e17; }
    #items td.blank { border: 0; }
    .tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}

    #terms { text-align: left; margin: 8px 0 0 0; }
    #terms h5 { text-transform: uppercase; font: 13px Helvetica, Sans-Serif; letter-spacing: 10px; border-bottom: 1px solid black; padding: 0 0 4px 0; margin: 0 0 8px 0; }
    #terms h3 { text-align: center; font: 10px Helvetica, Sans-Serif; letter-spacing: 4px; padding: 0 0 8px 0; margin: 0 0 4px 0; }
    #terms h4 { text-align: center; font: 15px Helvetica, Sans-Serif; letter-spacing: 4px; border-bottom: 1px solid black; padding: 0 0 8px 0; margin: 0 0 4px 0; }

    #terms textarea { width: 100%; text-align: left;}

    .auto-textarea{height:auto; width:auto;}
    .quatation_details{width:100px;}
    .item_details{width:770px;text-align:justify;text-justify:inter-word;}
    .delete-wpr { position: relative; }
    .delete { display: block; color: #000; text-decoration: none; position: absolute; background: #EEEEEE; font-weight: bold; padding: 0px 3px; border: 1px solid; top: -6px; left: -22px; font-family: Verdana; font-size: 12px; }

    .address { margin: 0 10px 10px 0; width: 200px; height: 120px; float: right;text-align: left; }
    .customer_address {  border: 0; font: 14px Times, Serif; width:200px; text-align:left; float: right; }
    .company_address { border: 0; font: 14px Times, Serif; width:240px; resize: none; text-align: left; float: left;   }
    </style>
  </head>

  <body>
      <% @lead=Lead.find(lead_id) %>
      <% @flat=Flat.find(flat_id) %>
      <% total_consideration=0.00 %>
    <center>
      <table style="width: 100vh!important; height: 100vh!important;"> 
        <tbody>
          <tr>
            <td colspan="9" style="text-align: center!important;"><%= image_tag("https://imageclassify.s3.amazonaws.com/Southern+Vista.png", alt: "",class: "header_logo") %></td>
          </tr>
          <tr style="background-color: grey!important;">
             <th colspan="5">Description</th>
             <th colspan="4" align="right">Info</th>
          </tr>
          <tr>
            <td colspan="5">Row Bungalow No</td>
            <td colspan="4" align="right"><%= @flat.floor %></td>
          </tr>
          <tr>
            <td colspan="5">Type</td>
            <td colspan="4" align="right"><%= @flat.name %></td>
          </tr>
          <tr>
            <td colspan="5">Bungalow Price</td>
            <td colspan="4" align="right"><b><%= (sprintf('%.2f', @flat.price+mark_up)) %></b></td>
          </tr>

          <% total_extra_charges=0 
            extra_development_charges=ExtraDevelopmentCharge.where(business_unit_id: BusinessUnit.find_by_name('Southern Vista').id)
             extra_development_charges.each do |extra_development_charge|
              if extra_development_charge.rate != nil
                total_extra_charges+=(@flat.flat_bua*extra_development_charge.rate)
              elsif extra_development_charge.amount != nil
                total_extra_charges+=extra_development_charge.amount
              end
             end
          %>

          <% extra_development_charges.each do |extra_development_charge| %>
            <tr>
            <%if extra_development_charge.rate != nil %>
            <td colspan="5"><%= extra_development_charge.extra_charge.description %> @ <%= extra_development_charge.rate.round(2) %> per sft of Built Up Area</td>
            <td colspan="4" align="right"><%= (sprintf('%.2f', (@flat.flat_bua*extra_development_charge.rate))) %></td>  
            <% elsif extra_development_charge.amount != nil %>
            <td colspan="5"><%= extra_development_charge.extra_charge.description %></td>
            <td colspan="4" align="right"><%= (sprintf('%.2f', extra_development_charge.amount)) %></td>
            <% end %>
            </tr>
          <%end%>

          <tr>
            <td colspan="5">Total Extra Charges</td>
            <td colspan="4" align="right"><b><%= (sprintf('%.2f', total_extra_charges)) %></b></td>
          </tr>
          
          <tr>
            <td colspan="5">GST on Bungalow(5%)</td>
            <td colspan="4" align="right"><%= (sprintf('%.2f', ((@flat.price+mark_up).round(2))*0.05)) %></td>
          </tr>  
          <tr>
            <td colspan="5">GST on Extra Charges(18%)</td>
            <td colspan="4" align="right"><%= (sprintf('%.2f', (total_extra_charges.round(2))*0.18)) %></td>
          </tr>
          <tr>
            <td colspan="5">Price Excl Maintenance</td>
            <td colspan="4" align="right"><b><%= (sprintf('%.2f', ((total_extra_charges.round(2))+(((total_extra_charges.round(2))*0.18).round(2)))+(((@flat.price+mark_up).round(2))+((((@flat.price+mark_up).round(2))*0.05).round(2))))) %></b></td>
          </tr>
          <% posession_charges=PosessionCharge.where(business_unit_id: BusinessUnit.find_by_name('Southern Vista').id)
           maintenance_amount=@flat.flat_bua*posession_charges[0].rate*12 %>
          <tr>
            <td colspan="5">Built Up Area</td>
            <td colspan="4" align="right"><%= @flat.flat_bua %> sft</td>
          </tr>
          <tr>
            <td colspan="5">Land Area</td>
            <td colspan="4" align="right"><%= @flat.land_area %> Cottah</td>
          </tr>
          
          <tr>
            <td colspan="5">Maintenance Deposit Rs. 3 per sqft for 1 year</td>
            <td colspan="4" align="right"><%= (sprintf('%.2f', maintenance_amount)) %></td>
          </tr>

          <tr>
            <td colspan="5">GST on Maintenance(18%)</td>
            <td colspan="4" align="right"><%= (sprintf('%.2f', ((maintenance_amount.round(2))*0.18))) %></td>
          </tr>
          
          <tr>
            <td colspan="5"><b>Total Price Including All</b></td>
            <% top_section_total=(((@flat.price+mark_up).round(2))+(((@flat.price+mark_up)*0.05).round(2))+(total_extra_charges.round(2))+((total_extra_charges*0.18).round(2))+((maintenance_amount).round(2))+((maintenance_amount*0.18).round(2)))%>
            <td colspan="4" align="right"><b><%=(sprintf('%.2f', (((@flat.price+mark_up).round(2))+(((@flat.price+mark_up)*0.05).round(2))+(total_extra_charges.round(2))+((total_extra_charges*0.18).round(2))+((maintenance_amount).round(2))+((maintenance_amount*0.18).round(2))))) %></b></td>
          </tr>

          
        </tbody>
      </table>

<br><br><br><br><br><br><br><br><br><br><br><br>      


    <table style="width: 100vh!important; height: 100vh!important;"> 
      <tbody>
        <tr style="background-color: grey!important;">
           <th colspan="5">Milestone</th>
           <th colspan="4">Description</th>
           <th colspan="3">Amount</th>
        </tr>
        <tr>
          <td colspan="5">Booking Amount (On day of Application)</td>
          <td colspan="4">10% of the Row Bungalow Cost + GST</td>
          <% total_consideration+=((@flat.price+mark_up)*0.1*1.05).round(2) %>
          <td colspan="3" align="right"><%= ((@flat.price+mark_up)*0.1*1.05).round(2) %></td>
        </tr>
        <tr>
          <td colspan="5">On Execution of Agreement for Sale (Within 30 days of Application)</td>
          <td colspan="4">10% of the Row Bungalow Cost + GST</td>
          <% total_consideration+=((@flat.price+mark_up)*0.1*1.05).round(2) %>
          <td colspan="3" align="right"><%= ((@flat.price+mark_up)*0.1*1.05).round(2) %></td>
        </tr>
        <% total_extra_charges=0 
          extra_development_charges=ExtraDevelopmentCharge.includes(:extra_charge).where(business_unit_id: BusinessUnit.find_by_name('Southern Vista').id, :extra_charges => {description: ['Club Charges','Generator, Transformer & Electricity Expenses','Incidental Charges','Legal Charges']})
           extra_development_charges.each do |extra_development_charge|
            if extra_development_charge.rate != nil
              total_extra_charges+=(@flat.flat_bua*extra_development_charge.rate)
            elsif extra_development_charge.amount != nil
              total_extra_charges+=extra_development_charge.amount
            end
           end
        %>
        <tr>
          <td colspan="5">On Completion of Ground Floor Slab Casting</td>
          <td colspan="4">20% of the Row Bungalow Cost + 50% of Club Charges + 50% of Generator, Transformer & Electricity Expenses + 50% of Legal Charges + 50% of Incidental Charges + GST</td>
          <% total_consideration+=(((@flat.price+mark_up)*0.2*1.05)+(total_extra_charges*0.5*1.18)).round(2) %>
          <td colspan="3" align="right"><%= (((@flat.price+mark_up)*0.2*1.05)+(total_extra_charges*0.5*1.18)).round(2) %></td>
        </tr>
        <% total_extra_charges=0 
          extra_development_charges=ExtraDevelopmentCharge.includes(:extra_charge).where(business_unit_id: BusinessUnit.find_by_name('Southern Vista').id, :extra_charges => {description: ['Club Charges','Generator, Transformer & Electricity Expenses']})
           extra_development_charges.each do |extra_development_charge|
            if extra_development_charge.rate != nil
              total_extra_charges+=(@flat.flat_bua*extra_development_charge.rate)
            elsif extra_development_charge.amount != nil
              total_extra_charges+=extra_development_charge.amount
            end
           end
        %>
        <tr>
          <td colspan="5">On Completion Ultimate Floor Roof Casting</td>
          <td colspan="4">20% of the Row Bungalow Cost + 50% of Club Charges + 50% of Generator, Transformer & Electricity Expenses + GST</td>
          <% total_consideration+=(((@flat.price+mark_up)*0.2*1.05)+(total_extra_charges*0.5*1.18)).round(2) %>
          <td colspan="3" align="right"><%= (((@flat.price+mark_up)*0.2*1.05)+(total_extra_charges*0.5*1.18)).round(2) %></td>
        </tr>
        <tr>
          <td colspan="5">On Completion of Internal Brickwork of the Said Row Bungalow</td>
          <td colspan="4">20% of the Row Bungalow Cost + GST</td>
          <% total_consideration+=((@flat.price+mark_up)*0.2*1.05).round(2) %>
          <td colspan="3" align="right"><%= ((@flat.price+mark_up)*0.2*1.05).round(2) %></td>
        </tr>
        <tr>
          <td colspan="5">On Completion of the Said Row Bungalow</td>
          <td colspan="4">10% of the Row Bungalow Cost + GST</td>
          <% total_consideration+=((@flat.price+mark_up)*0.1*1.05).round(2) %>
          <td colspan="3" align="right"><%= ((@flat.price+mark_up)*0.1*1.05).round(2) %></td>
        </tr>
        <% total_extra_charges=0 
          extra_development_charges=ExtraDevelopmentCharge.includes(:extra_charge).where(business_unit_id: BusinessUnit.find_by_name('Southern Vista').id, :extra_charges => {description: ['Incidental Charges','Legal Charges']})
           extra_development_charges.each do |extra_development_charge|
            if extra_development_charge.rate != nil
              total_extra_charges+=(@flat.flat_bua*extra_development_charge.rate)
            elsif extra_development_charge.amount != nil
              total_extra_charges+=extra_development_charge.amount
            end
           end
        %>
        <% association_charges=0 
          extra_development_charges=ExtraDevelopmentCharge.includes(:extra_charge).where(business_unit_id: BusinessUnit.find_by_name('Southern Vista').id, :extra_charges => {description: ['Formation of Association']})
           extra_development_charges.each do |extra_development_charge|
            if extra_development_charge.rate != nil
              association_charges+=(@flat.flat_bua*extra_development_charge.rate)
            elsif extra_development_charge.amount != nil
              association_charges+=extra_development_charge.amount
            end
           end
        %>
        <% posession_charges=PosessionCharge.where(business_unit_id: BusinessUnit.find_by_name('Southern Vista').id)
         maintenance_amount=@flat.flat_bua*posession_charges[0].rate*12 %>
        <tr>
          <td colspan="5">On Offer of Possession</td>
          <td colspan="4">10% of the Row Bungalow Cost + 50% of Legal Charges + 50% of Incidental Charges + Charges for Formation of Association + Maintenance Deposit + GST</td>
          <% total_consideration+=(((@flat.price+mark_up)*0.1*1.05)+(total_extra_charges*0.5*1.18)+(association_charges*1.18)+(maintenance_amount*1.18)).round(2) %>
          <td colspan="3" align="right"><%= (((@flat.price+mark_up)*0.1*1.05)+(total_extra_charges*0.5*1.18)+(association_charges*1.18)+(maintenance_amount*1.18)).round(2) %></td>
        </tr>
        <tr>
          <td colspan="9"><b>Total Price Inc All</b></td>
          <td colspan="3" align="right"><b><%= (sprintf('%.2f', top_section_total)) %></b></td>
        </tr>
        
      </tbody>
    </table>
</center>
  </body>
<style type="text/css">
  .header_logo{
    width: 300px!important;
    height: 120px!important;s
  }
</style>

</html>