<%= form_tag 'followup_entry', :html => {:class => 'form-horizontal'} do %>
  <%= hidden_field_tag 'lead_id[]', @lead.id%>
  <% if params[:connected_call] == nil %>
    <%= hidden_field_tag :telephony_call_id, nil, :id => 'telephony_call' %>
  <%else%>
    <% if @telephony_call == nil %>
      <%= hidden_field_tag :telephony_call_id, nil, :id => 'telephony_call' %>
    <%else%>
      <%= hidden_field_tag :telephony_call_id, @telephony_call.id %>
      
    <%end%>
  <%end%>
  <div align="center">
    <h3>
      Project: <%= @lead.business_unit.name%>, Lead Name: <%= @lead.name %>, Mob: <%= @lead.mobile.last(4)%>,-<%= @lead.personnel.name %>
      <abbr title="Lead Edit"> 
        <%= link_to edit_lead_path(@lead), target: "_blank", class: "btn btn-default btn-xs" do%>
          <i class="glyphicon glyphicon-pencil"></i>
        <%end%>
      </abbr>
    </h3><br>
    <%
      google_campaign = "" 
      google_lead_detail = GoogleLeadDetail.find_by_lead_id(@lead.id)
      if google_lead_detail == nil
      else
        campaign_id = google_lead_detail.campaignid 
        if campaign_id == nil || campaign_id == "" 
        else
          if GoogleCampaign.find_by_campaign_id(campaign_id) == nil
          else
            google_campaign = GoogleCampaign.find_by_campaign_id(campaign_id).campaign_name
          end
        end
      end
    %>
    <h3 style="color: #000; font-size: 17px; font-weight: 800;">Source: <%= google_campaign.to_s+"-"+@lead.source_category.heirarchy.to_s%></h3>
    <% google_lead_detail = GoogleLeadDetail.find_by_lead_id(@lead.id)%>
    <% if google_lead_detail == nil %>
    <% elsif (google_lead_detail.campaignid == nil && google_lead_detail.adgroupid == nil && google_lead_detail.creative == nil) || (google_lead_detail.campaignid == "" && google_lead_detail.adgroupid == "" && google_lead_detail.creative == "")%>
      <h3 style="color: #000; font-size: 17px; font-weight: 800;">Lead Type: Organic</h3>
    <%end%>
  </div>
  <div class="container">
    <div class="form-group">
      <div class="row"> 
        <div ><i>  &nbsp;</i></div>
        <% if current_personnel.status=='Admin'%>
          <div class="col-md-2">
            <div ><i>  &nbsp;</i></div>
            <%= submit_tag 'Delete', name: 'delete', :class => 'btn btn-primary' %>
          </div>
        <% end %>
        <div class="col-md-3 executive_div">
          <div ><b><i> <font color="#004fff"> Executive </font></i></b></div>
          <%= select(:lead, :personnel, options_for_select(@executives, selected: current_personnel.id), {}, { :class => 'form-control', :id => 'executive_option' })   %>
        </div>  
        <div class="col-md-5 follow_up_div">
          <div ><b><i> <font color="#004fff">  Followed up/Site Visited/Booked/Lost Date</font> </i></b></div>
          <%= date_field(:lead, :flexible_date, max: Date.today, :class => "form-control", :value => ((Time.now)).strftime('%Y-%m-%d'), :required => true) %>
        </div>
        <div class="col-md-4">
          <div ><b><i><font color="#004fff"> To Followup On</font></i></b></div>
          <% if (Time.now+5.hours+30.minutes)>(Time.now.beginning_of_day+16.hours) %>
            <%= date_field(:lead, :followup_date, :class => "form-control", :value => ((Time.now)+86400).strftime('%Y-%m-%d')) %>
          <% else %>
            <%= date_field(:lead, :followup_date, :class => "form-control", :value => Time.now.strftime('%Y-%m-%d')) %>
          <% end %> 
          <%= time_select :lead, :followup_time, {ampm: true, minute_step: 30, default: Time.now.beginning_of_day+19.hours} %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
          <p class="text-danger"><%= radio_button_tag :anticipation , 'Hot', true %>Hot</p>
          <p class="text-success"><%= radio_button_tag :anticipation , 'Good' %>Good</p>
          <p class="text-info"><%= radio_button_tag :anticipation , '' %>Normal</p>
        </div>
        <div class="col-md-4">
          <div ><b><i><font color="#004fff">  Status </font></i></b></div>
          <% if current_personnel.organisation.name=='Jain Group' && current_personnel.access_right==nil %>
              <%= select(:lead, :status, options_for_select([['Status to remain Same', -1],['Fresh Lead', 0], ['Qualified', 9], ['Interested in Site Visit', 10],['OV', 1], ['Site Visited',2 ], ['Virtually Visited', 11],['Negotiation',3 ],['Lost', 5]]),{}, { :class => 'form-control', :id=>'lead_status_id'})   %>&nbsp
              <%= select(:lead, :lost_reason, options_for_select(@lost_reasons),{:prompt => 'Reason for Lead Lost'}, { :class => 'form-control' }) %>
          <% else %>
            <% if current_personnel.name == "Shradhya Saha" || current_personnel.name == "Moumita Mitra" %>
              <%= select(:lead, :status, options_for_select([['Status to remain Same', -1], ['Fresh Lead', 0], ['Qualified', 9], ['Interested in Site Visit', 10], ['OV', 1], ['Site Visited',2 ], ['Virtually Visited', 11],['Negotiation',3 ],['Booked', 4],['Lost', 5]]),{}, { :class => 'form-control', :id=>'lead_status_id', :onchange => "executive_option_status()" })   %>&nbsp
                <%= select(:lead, :lost_reason, options_for_select(@lost_reasons),{:prompt => 'Reason for Lead Lost'}, { :class => 'form-control' }) %>
            <%else%>
              <%= select(:lead, :status, options_for_select([['Status to remain Same', -1], ['Fresh Lead', 0], ['Qualified', 9], ['Interested in Site Visit', 10], ['OV', 1], ['Site Visited',2 ], ['Virtually Visited', 11],['Negotiation',3 ],['Booked', 4],['Lost', 5]]),{}, { :class => 'form-control', :id=>'lead_status_id' })   %>&nbsp
                <%= select(:lead, :lost_reason, options_for_select(@lost_reasons),{:prompt => 'Reason for Lead Lost'}, { :class => 'form-control' }) %>
            <%end%>
          <% end %>    
        </div>
        <div class="col-md-6 follow_up_status_div">
          <div ><b><i><font color="#004fff"> Followup Remarks</font></i></b></div>
          <%= select_tag 'remarks', options_for_select(@common_followup_remarks), :class => 'form-control', :id => 'dropdown_remarks', :prompt => 'Select Followup Remarks',:onchange => 'textarea_remarks_disable("textarea_remarks")'%><br>
          <%= text_area_tag(:remarks, nil, placeholder: 'Enter Followup Remarks', class: "form-control", autocomplete: 'remarks', :id => 'textarea_remarks', :onchange => 'dropdown_remarks_disable("dropdown_remarks")') %>
        </div>
      </div><br>
      <div class="row">
        <div class="col-lg-1">
          Followup:
        </div>
        <div class="col-lg-3">
          <%= select_tag 'followups[]', options_for_select(["Sms Followup", "Email Followup"]), :class => 'form-control, multi_select_style', :multiple => true %>
        </div>
        <div class="col-lg-1">
          Whatsapp:
        </div>
        <div class="col-lg-3">
          <% if current_personnel.business_unit_id == 70 %>
            <%= select_tag 'whatsapp_templates[]', options_for_select(@gurukul_whatsapp_templates), :class => 'form-control, multi_select_style', :multiple => true %>
          <%else%>
            <%= select_tag 'whatsapp_templates[]', options_for_select(@whatsapp_templates), :class => 'form-control, multi_select_style', :multiple => true %>
          <%end%>
        </div>
        <div class="col-lg-1">
          Email:
        </div>
        <div class="col-lg-3">
          <%= select_tag 'email_templates[]', options_for_select(@email_templates), :class => 'form-control, multi_select_style', :multiple => true %>
        </div>
      </div><br>
      <br><div class="small_dividor"></div><br>
      <div class="row">
        <div class="col-md-3">
          Pincode:
          <%= number_field_tag "leading[pincode]", '', :class => 'form-control' %>
        </div>
        <div class="col-md-3">
          Age Bracket:
          <%= select_tag 'leading[age_bracket]', options_for_select(@age_brackets), :class => 'form-control', :prompt => 'Select Age Bracket' %>
        </div>
        <div class="col-md-3">
          Occupation:
          <%= select_tag 'leading[occupation_id]', options_for_select(@occupations), :class => 'form-control selectpicker', data: { live_search: true }, :prompt => 'Select Occupation', :onchange => 'populate_occupation_other()' %>
          <div id="occupation_other">
          </div>
        </div>
        <!-- <div class="col-md-3">
          Company Area:
          <%= select_tag 'leading[work_area_id]', options_for_select(@areas), :prompt => 'Select Area', :class => 'form-control selectpicker', data: { live_search: true }, :onchange => 'populate_work_area_other()' %>
          <div id="work_area_other">
          </div>
        </div> -->
      </div>
      <br><div class="small_dividor"></div>
    </div>
    <% if @whatsapp_templates == [] && @email_templates == [] && @sms_templates == [] %>
    <% else %>
      <div class="dividor"></div><br>
      <div class="row">
        <div class="col-lg-2">
          Wtsapp Templates:
        </div>
        <div class="col-lg-4">
          <%= select_tag "whatsapp_template_ids", options_for_select(@whatsapp_templates), :multiple => true, :class => 'form-control multi_select_style', :style => 'width:276px !important;' %>
        </div>
        <div class="col-lg-2">
          Email Templates:
        </div>
        <div class="col-lg-4">
          <%= select_tag "email_template_ids", options_for_select(@email_templates), :multiple => true, :class => 'form-control multi_select_style', :style => 'width:276px !important;' %>
        </div>
      </div>
    <%end%><br>
    <div class="row">
      <div class="col-lg-12">
<!--         <%= submit_tag 'Update', name: 'update', :class => 'btn btn-primary', id: 'follow_up_update' %> -->  
        <%= submit_tag 'Update', name: 'update', :class => 'btn btn-primary', id: 'follow_up_update', :disabled => true %> 
<!--         <%= submit_tag 'SMS Followup', name: 'sms_followup', :class => 'btn btn-info' %>
        <%= submit_tag 'Email Followup', name: 'email_followup', :class => 'btn btn-info' %> -->
      </div>
    </div><br>
  </div>
<%end%>
<style >
  .anticipation_div{
    width: 10%;
  }
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }
  .small_dividor{
    border-bottom: 1px solid #c3c3c3!important;
  }

</style>
<script>
  function updateFormEnabled() {
    if (verifyAdSettings()) {
        // $('#follow_up_update').prop('disabled', false);
        $('#follow_up_update').prop('value', 'Update');
        document.getElementById('follow_up_update').removeAttribute('data-confirm');
    } else {
        // $('#follow_up_update').prop('disabled', true);
        $('#follow_up_update').prop('value', 'Pick Lost Reason');
    }
    if (BookingPicked()) {
    } else {
        document.getElementById('follow_up_update').setAttribute('data-confirm', "Are you sure this is a booking?");
    }
  }
  function verifyAdSettings() {
    if ($('#lead_lost_reason').val() == "" && $('#lead_status_id').val() == 5) {
        return false;
    } else {
        return true
    }
  }
  function BookingPicked() {
    if ($('#lead_status_id').val() == 4) {
        return false;
    } else {
        return true
    }
  }
  $('#lead_status_id').change(updateFormEnabled);
  $('#lead_lost_reason').change(updateFormEnabled); 
  function change_anticipation(){
    var ant=event.target.attributes[0].value;
    if (ant == 'Hot'){
      $("#anticipation_Hot").prop("checked", true);     
    }
    else if (ant == 'Good'){
      $("#anticipation_Good").prop("checked", true);           
    }
    else{
      $("#anticipation_").prop("checked", true);                 
    }
    var osv=event.target.attributes[1].value;
    var status=event.target.attributes[2].value;
    if (osv == 'true'){
      $("#lead_status_id").val(1);
    }
    else if (osv == 'null'){
      if (status == 'false'){
         $("#lead_status_id").val(2);
      }
      else{
         $("#lead_status_id").val(0);
      }
    }
    else{
      $("#lead_status_id").val(3);
    }
    // else if (osv == null) && (status == null){
    //   $("#lead_status_id").val(0);
    // }
    // else if (osv == null) && (status == false){
    //   $("#lead_status_id").val(2);
    // }
  } 
  function disable_link(link_disable){
    document.getElementById(link_disable).disabled = true;
  }
  function textarea_remarks_disable(textarea_remarks)
  {
    var remarks = event.target.value;
    if (remarks == "") {
      document.getElementById(textarea_remarks).disabled = false;  
    } else {
      document.getElementById(textarea_remarks).disabled = true;
    }
  }
  function dropdown_remarks_disable(dropdown_remarks)
  {
     document.getElementById(dropdown_remarks).disabled = true;
  }
  function populate_area_other()
  {
    var area_type=event.target.innerHTML;
    $.getScript('https://www.realtybucket.com/windows/populate_area_other.js?type='+area_type);
    // $.getScript('http://localhost:3000/windows/populate_area_other.js?type='+area_type);
  }
  function populate_work_area_other()
  {
    var area_type=event.target.innerHTML;
    $.getScript('https://www.realtybucket.com/windows/populate_work_area_other.js?type='+area_type);
    // $.getScript('http://localhost:3000/windows/populate_work_area_other.js?type='+area_type);
  }
  function populate_occupation_other()
  {
    var occupation_type=event.target.innerHTML;
    $.getScript('https://www.realtybucket.com/windows/populate_occupation_other.js?type='+occupation_type);
    // $.getScript('http://localhost:3000/windows/populate_occupation_other.js?type='+occupation_type);
  }
  function executive_option_status()
  {
    var status = event.target.value;
    console.log(status);
    if (status === 9 || status === "9")
    {
      document.getElementById("executive_option").style.display = "none";
    }
    else
    {
     document.getElementById("executive_option").style.display = "block"; 
    }
  }
</script>
<script type="text/javascript">
  $(".chosen").chosen();
</script>
<script>
$(document).ready(function() {
$(".multi_select_style").multiselect().multiselectfilter();
$(".ui-multiselect-all").hide();
$(".ui-multiselect-none").hide()
});
</script>