<%= form_tag 'site_visit_form_submit', :html => {:class => 'form-horizontal'} do %>  
  <%= hidden_field_tag :lead_id, @lead.id%>
  <%= hidden_field_tag :signature_data, '', id: 'signature64' %>
  <div class="col-xs-12">
    <div class="well bs-component">
      <div class="row">
        <div class="col-xs-4">
          <%= image_tag("sv_form_logo.png", alt: "" , class: "img-responsive form_logo") %>
        </div>
        <div class="col-xs-8 form_heading_margin">
          <p class ="form_heading">SITE VISIT FORM</p>
        </div>
      </div>
      <div class="division"></div>
      <div class="row">
        <div class="col-xs-6">
          <font style="color: #000!important; font-weight: 600!important;">Name:</font>
          <%= text_field_tag 'lead[name]', @lead.name, placeholder: 'mandatory*', :class => "form-control" %>
        </div>
        <div class="col-xs-6">
          <font style="color: #000!important; font-weight: 600!important;">Email:</font>
          <%= text_field_tag 'lead[email]', @lead.try(:email), :class => "form-control", :id => "email_input" %>
        </div>
      </div><br>
      <div class="row">
        <div class="col-xs-6">
          <font style="color: #000!important; font-weight: 600!important;">Mobile:</font>
          <%= text_field_tag 'lead[mobile]', @lead.try(:mobile), :class => "form-control", :id => "mobile_input"%>
        </div>
        <div class="col-xs-6">
          <font style="color: #000!important; font-weight: 600!important;">Date Of Birth:</font>
          <%= date_field_tag 'lead[dob]', @lead.dob.try{|x| x.to_date}, :class => "form-control"%>
        </div>
      </div><br>
      <div class="row">
        <div class="col-xs-6">
          <font style="color: #000!important; font-weight: 600!important;">Address:</font>
          <%= text_area_tag 'lead[address]', @lead.try(:address), :class => "form-control"%>
        </div>
        <div class="col-xs-6">
          <font style="color: #000!important; font-weight: 600!important;">Pincode:</font>
          <%= text_field_tag 'lead[pincode]', @lead.try(:pincode), :class => "form-control"%>
        </div>
      </div><br>
      <div class="row">
        <div class="col-xs-6">
          <font style="color: #000!important; font-weight: 600!important;">Occupation:</font>
          <%= select_tag 'lead[occupation_id]', options_for_select(@occupations, selected: @lead.occupation_id), :class => 'form-control chosen', :prompt => 'Select Occupation', :onchange => 'populate_occupation_other()', :style => 'margin-top: 5px!important;' %>
        </div>
        <div class="col-xs-6">
          <font style="color: #000!important; font-weight: 600!important;">Designation:</font>
          <%= select_tag 'lead[designation_id]', options_for_select(@designations, selected: @lead.designation_id), :class => 'form-control chosen', :prompt => 'Select designation', :onchange => 'populate_designation_other()', :style => 'margin-top: 5px!important;' %>
        </div>
      </div><br>
      <div class="row">
        <div class="col-xs-6">
          <div id="occupation_other">
          </div>
        </div>
        <div class=" col-xs-6">
          <div id="designation_other">
          </div>
        </div>
      </div><br>
      <div class="row">
        <div class="col-xs-6">
          <font style="color: #000!important; font-weight: 600!important;">Company:</font>
          <%= text_field_tag 'lead[company]', @lead.try(:company), :class => "form-control"%>
        </div>
        <div class="col-xs-6">
          <font style="color: #000!important; font-weight: 600!important;">Office Address:</font>
          <%= text_field_tag 'lead[work_address]', @lead.try(:work_address), :class => "form-control"%>
        </div>
      </div><br>
      <div class="row">
        <div class="col-xs-2">
          <font style="color: #000!important; font-weight: 600!important;">Flat Type:</font>
        </div>
        <div class="col-xs-2">
            1 BHK <%= radio_button_tag 'flat_type', '1 BHK', @lead.flat_type == 1 %>
        </div>
        <div class="col-xs-2">
            2 BHK <%= radio_button_tag 'flat_type', '2 BHK', @lead.flat_type == 2 %>
        </div>
        <div class="col-xs-2">
            3 BHK <%= radio_button_tag 'flat_type', '3 BHK', @lead.flat_type == 3 %>
        </div>
        <div class="col-xs-2">
            4 BHK <%= radio_button_tag 'flat_type', '4 BHK', @lead.flat_type == 4 %>
        </div>
        <div class="col-xs-2">
            5 BHK <%= radio_button_tag 'flat_type', '5 BHK', @lead.flat_type == 5 %>
        </div>
      </div><br>
      <div class="row">
        <div class="col-xs-2">
          <font style="color: #000!important; font-weight: 600!important;">Budget:</font>
        </div>
        <div class="col-xs-2">
            60-80 L <%= radio_button_tag 'budget', '60-80 L', @lead.budget_to == 80 %>        
        </div>
        <div class="col-xs-3">
            80 L-1 Cr <%= radio_button_tag 'budget', '80 L-1 Cr', @lead.budget_to == 1 %>
        </div>
        <div class="col-xs-2">
            1-1.5 Cr <%= radio_button_tag 'budget', '1-1.5 Cr', @lead.budget_to == 2 %>
        </div>
        <div class="col-xs-3">
            Above 1.5 Cr <%= radio_button_tag 'budget', 'Above 1.5 Cr', @lead.budget_to == 3 %>
        </div>
      </div><br>
      <div class="row">
        <div class="col-xs-4">
          <font style="color: #000!important; font-weight: 600!important;">Purpose Of Buying:</font>
        </div>
        <div class="col-xs-3">
          Investment: <%= radio_button_tag 'purchasing_type', 'investment', @lead.investment == true %>
        </div>
        <div class="col-xs-3">
          Residential: <%= radio_button_tag 'purchasing_type', 'residential', @lead.investment == false %>
        </div>
      </div><br>
      <div class="row">
        <div class="col-xs-12">
          <font style="color: #000!important; font-weight: 600!important;">When are you planning to move into our project:</font>
        </div>
      </div><br>
      <div class="row">
        <div class="col-xs-2">
            1 Month <%= radio_button_tag 'how_soon', '1 Month', @lead.how_soon == "1 Month" %>
        </div>
        <div class="col-xs-2">
            2 Month <%= radio_button_tag 'how_soon', '2 Month', @lead.how_soon == "2 Month" %>
        </div>
        <div class="col-xs-2">
            3 Month <%= radio_button_tag 'how_soon', '3 Month', @lead.how_soon == "3 Month" %>
        </div>
        <div class="col-xs-2">
            4 Month <%= radio_button_tag 'how_soon', '4 Month', @lead.how_soon == "4 Month" %>
        </div>
        <div class="col-xs-4">
            More than that <%= radio_button_tag 'how_soon', 'More than that', @lead.how_soon == "More than 4 month" %>
        </div>
      </div><br>
      <div class="row">
        <div class="col-xs-12">
          <font style="color: #000!important; font-weight: 600!important;">Searching for property since:</font>
        </div>
      </div><br>
      <div class="row">
        <div class="col-xs-2">
            1 Month <%= radio_button_tag 'how_long', '1 Month', @lead.searching_since == "1 Month" %>
        </div>
        <div class="col-xs-2">
            3 Month <%= radio_button_tag 'how_long', '3 Month', @lead.searching_since == "3 Month" %>
        </div>
        <div class="col-xs-2">
            6 Month <%= radio_button_tag 'how_long', '6 Month', @lead.searching_since == "6 Month" %>
        </div>
        <div class="col-xs-2">
            More <%= radio_button_tag 'how_long', 'More than that', @lead.searching_since == "More than 6 month" %>
        </div>
      </div><br>
      <div class="row">
        <div class="col-xs-4" style="margin-top:15px!important;">
          <font style="color: #000!important; font-weight: 600!important;">Other Project Visited:</font>
        </div>
        <div class="col-xs-8">
          <%
            other_project = ""
            if OtherProjectTag.find_by_lead_id(@lead.id) == nil
            else
              other_project = OtherProjectTag.find_by_lead_id(@lead.id).other_project.name
            end
          %>
          <%= text_field_tag "other_project", other_project, :class => 'form-control' %>
        </div>
      </div><br>
      <div class="row">
        <div class="col-xs-6">
          <div id="signatureContainer">
            <canvas id="signatureCanvasTab" width="700" height="350"></canvas>
            <canvas id="signatureCanvasMobile" width="360" height="180"></canvas>
          </div>
          <a id="clearButton" class="btn btn-primary">Clear</a>
          <textarea id="signature64" name="signed" style="display: none;"></textarea>
        </div>
      </div><br>
      <div class="row">
        <div class="col-xs-offset-5 col-xs-2">
          <%= submit_tag 'Submit Form', :class => 'btn btn-primary', id: 'submitBtn' %>
        </div>
      </div><br>
    </div>
  </div>
<%end%>
<script type="text/javascript">
    $(".chosen").chosen();
</script>
<script>
$(document).ready(function() {
$(".multi_select_style").multiselect().multiselectfilter();
$(".ui-multiselect-all").hide();
$(".ui-multiselect-none").hide()
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js"></script>
<script type="text/javascript">
  function correspondence_address_disable(correspondence_address)
  {
    var address_type = event.target.value;
    console.log(address_type);
    document.getElementById(correspondence_address).disabled = true;
  }
  function populate_occupation_other()
  {
    var occupation_type=event.target.innerHTML;
    $.getScript('https://www.realtybucket.com/leads/leads/populate_occupation_other.js?type='+occupation_type);
    // $.getScript('http://localhost:3000/leads/leads/populate_occupation_other.js?type='+occupation_type);
  }
  function populate_area_other()
  {
    var area_type=event.target.innerHTML;
    $.getScript('https://www.realtybucket.com/leads/leads/populate_area_other.js?type='+area_type);
    // $.getScript('http://localhost:3000/leads/leads/populate_area_other.js?type='+area_type);
  }
  function populate_work_area_other()
  {
    var area_type=event.target.innerHTML;
    $.getScript('https://www.realtybucket.com/leads/leads/populate_work_area_other.js?type='+area_type);
    // $.getScript('http://localhost:3000/leads/leads/populate_work_area_other.js?type='+area_type);
  }
  function populate_designation_other()
  {
    var designation_type=event.target.innerHTML;
    $.getScript('https://www.realtybucket.com/leads/leads/populate_designation_other.js?type='+designation_type);
    // $.getScript('http://localhost:3000/leads/leads/populate_designation_other.js?type='+designation_type);
  }
  function populate_newspaper_other()
  {
    var newspaper_type=event.target.innerHTML;
    $.getScript('https://www.realtybucket.com/leads/leads/populate_newspaper_other.js?type='+newspaper_type);
  }

  function populate_channel_other()
  {
    var channel_type=event.target.innerHTML;
    $.getScript('https://www.realtybucket.com/leads/leads/populate_channel_other.js?type='+channel_type);
  }

  function populate_station_other()
  {
    var station_type=event.target.innerHTML;
    $.getScript('https://www.realtybucket.com/leads/leads/populate_station_other.js?type='+station_type);
  }

  function populate_magazine_other()
  {
    var magazine_type=event.target.innerHTML;
    $.getScript('https://www.realtybucket.com/leads/leads/populate_magazine_other.js?type='+magazine_type);
  }

</script>
<style>
  @media (max-width: 768px) {
  canvas{
    /*width: 370px!important;
    height: 150px!important;*/
  }
}

/* Styles for signature plugin v1.2.0. */
.kbw-signature {
  display: inline-block;
  border: 1px solid #a0a0a0;
  -ms-touch-action: none;
}
.kbw-signature-disabled {
  opacity: 0.35;
}
</style>
<style>
  .kbw-signature { width: 400px; height: 200px; }
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
  $(document).ready(function () {
    // Get the canvas elements
    var canvasTab = document.getElementById('signatureCanvasTab');
    var canvasMobile = document.getElementById('signatureCanvasMobile');

    // Set up signature pads with options
    var signaturePadTab = new SignaturePad(canvasTab, {
      backgroundColor: '#fff',
      penColor: '#000',
      minWidth: 2,
      maxWidth: 2,
    });

    var signaturePadMobile = new SignaturePad(canvasMobile, {
      backgroundColor: '#fff',
      penColor: '#000',
      minWidth: 2,
      maxWidth: 2,
    });

    // Function to clear both signature pads
    function clearSignature() {
      signaturePadTab.clear();
      signaturePadMobile.clear();
      $('#signature64').val(''); // Clear the hidden input field too
    }

    // Event listener for the "Clear Signature" button
    $('#clearButton').click(function () {
      clearSignature();
    });

    // Event listener for the form submission
    $('#submitBtn').click(function (event) {
      // Prevent the default form submission
      event.preventDefault();

      // Choose the appropriate signature pad based on the view (tab or mobile)
      var signaturePad = window.innerWidth >= 600 ? signaturePadTab : signaturePadMobile;
      
      // Get the signature data from the signature pad
      var signatureData = signaturePad.toDataURL();
      
      // Add the signature data to the form data
      // $('textarea[name="signed"]').val(signatureData);
       $('#signature64').val(signatureData);

      // Submit the form
      $('form').submit();
    });
  });
</script>
<script>
  $(document).ready(function() {
    // Get the canvas element
    var canvas = document.getElementById('signatureCanvasTab');
    var signatureData = '<%= @lead.try(:sv_form_signature) %>'; // Get the signature data from Ruby variable

    if (signatureData !== '') {
      // If signature data is present, convert it to an image and display on the canvas
      var image = new Image();
      image.onload = function() {
        var ctx = canvas.getContext('2d');
        ctx.drawImage(image, 0, 0, canvas.width, canvas.height);
      };
      image.src = signatureData;
    }
  });
  $(document).ready(function() {
    // Get the canvas element
    var canvas = document.getElementById('signatureCanvasMobile');
    var signatureData = '<%= @lead.try(:sv_form_signature) %>'; // Get the signature data from Ruby variable

    if (signatureData !== '') {
      // If signature data is present, convert it to an image and display on the canvas
      var image = new Image();
      image.onload = function() {
        var ctx = canvas.getContext('2d');
        ctx.drawImage(image, 0, 0, canvas.width, canvas.height);
      };
      image.src = signatureData;
    }
  });
</script>
<!-- <script type="text/javascript">
  function maskEmail(input) {
    const email = input.value.trim();
    const length = email.length;
    const visibleChars = Math.min(3, length);
    const maskedEmail = `${email.slice(0, visibleChars)}${'x'.repeat(length - visibleChars)}`;
    input.value = maskedEmail;
  }

  document.addEventListener("DOMContentLoaded", function() {
    const emailInput = document.getElementById("email_input");
    maskEmail(emailInput);
  });

  function maskMobile(input) {
    const mobile = input.value.trim();
    const length = mobile.length;
    const visibleChars = Math.min(3, length);
    const maskedMobile = `${mobile.slice(0, visibleChars)}${'x'.repeat(length - visibleChars)}`;
    input.value = maskedMobile;
  }

  document.addEventListener("DOMContentLoaded", function() {
    const mobileInput = document.getElementById("mobile_input");
    maskMobile(mobileInput);
  });
</script> -->
<style>
  body{
    line-height: 0.82857143!important;
  }
  .well{
    border-radius: 0px !important;
    border: 5px solid red;

  }
  .division{
    border-bottom: 2px solid darkgrey;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .form-control{
    margin-top: 5px!important;
  }
  .form_logo{
    width: 68%;
  }
  .form_heading{
    color: #000!important;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 3px;
  }
  .form_heading_margin{
    margin-top: 16px!important;
  }
  @media (max-width: 500px){
    .well{
      padding: 10px!important;
    }
    .col-xs-6{
      width: 100%;
      margin-bottom: 7px;
    }
    .form_logo{
      width: 100%!important;
    }
    .form_heading{
      font-size: 13px;
      letter-spacing: 1px;   
    }
    .form_heading_margin{
      margin-top: 7px!important;
    }
    #signatureCanvasTab{
      display: none;
    }
    #signatureCanvasMobile{
      display: block;
    }
  }
  @media (min-width: 600px){
    #signatureCanvasMobile{
      display: none;
    } 
  }
</style>