<%@header = 'Site Visit Register'%>
<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Heads up!</strong> <%= value %>
  </div>
<% end %>

<div align="center"><h3><b>Site Visits</b></h3></div>

<%= form_tag 'site_visited_leads' do  %>
  <div class="row">
    <% if current_personnel.status=='Admin' || current_personnel.status=='Back Office' %>
      <div class="col-lg-2">  
        <%= select(:project, :selected, options_for_select(@projects, selected: params[:project].try{|x| x[:selected]}),{}, {:class => 'form-control'})  %>
      </div>
      <div class="col-lg-2">
        <%= select(:salesteam, :personnel, options_for_select(@sales_team, selected: @sales_person),{}, {:class => 'form-control'})  %>
      </div>
      <div class="col-lg-4">
        <%= select(:salesteam, :source_category_id, options_for_select(@source_categories, selected: @source_category_selected),{}, {:class => 'form-control selectpicker', data: { live_search: true }})  %>
      </div>
    <% end %>

    <div class="col-lg-2">
      <%= date_field(:range, :from, :value => @from.to_date, :class => 'form-control') %>
    </div>
    <div class="col-lg-2">
      <%= date_field(:range, :to, :value => @to.to_date,:class => 'form-control') %>
    </div>

    <div class="col-lg-2">
      with children
      <% if @with_children == "true"%>
        <%= check_box_tag 'with_children', true, nil, :checked => true%>
      <%else%>
        <%= check_box_tag 'with_children', true, nil%>
      <%end%>
    </div>
    <div class="col-lg-2">
      <%= submit_tag "Refresh", name: "refresh", :class => 'btn btn-primary' %>
    </div>
</div>

  <table class="customers " id="site_visit_register">
    <thead>
      <tr>
        <th></th>
        <th><i class="glyphicon glyphicon-exclamation-sign"></i></th>
        <th>Lead id</th>
        <th>Project</th>
        <th>Name</th>
        <% if current_personnel.organisation_id == 6 || current_personnel.organisation_id == 7 || current_personnel.email=='ayush@thejaingroup.com' %>
          <th>Mobile</th>
          <th>Other No.</th>
          <th>Email</th>
        <%end%>
        <th>Budget From</th>
        <th>Budget To</th>
        <th>BHK</th>
        <th>Source</th>
        <th>Remarks</th>
        <% if current_personnel.organisation_id == 1 %>
          <th>Pincode</th>
          <th>Age</th>
          <th>Address</th>
          <th>Occupation</th>
          <th>Designation</th>
          <th>Company</th>
          <th>Office Address</th>
          <th>Off-Pincode</th>
          <th>Investment</th>
          <th>Searching Since</th>
          <th>Other Project Visited</th>
        <%end%>
        <th>Status</th>
        <th>Generated on</th>
        <th>Generated on sort</th>
        <th>Site Visited on</th>
        <th>Site Visited on sort</th>
        <% if current_personnel.organisation_id == 1 %>
          <th>Customer Feedback</th>
        <%end%>
        <th>Followup remarks</th>
        <th>To Followup on</th>
        <th>To Followup on sort</th>
        <th>To Followup on search</th>
        <th>Executive</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @leads.each do |lead| %>
        <tr>
          <td></td>
          <% if lead.escalated==true %>
            <td><span class="label label-danger">!</span></td>
          <% elsif lead.escalated==false %>
            <td><span class="label label-info">!</span></td>
          <% else %>
            <td></td>
          <% end %>
          <td><%= lead.id %></td>
          <td><%= lead.business_unit.name %></td>
          <td><%= lead.name %></td>
          <% if current_personnel.organisation_id == 6 || current_personnel.organisation_id == 7 || current_personnel.email=='ayush@thejaingroup.com' %>
            <td><%= lead.mobile %></td>
            <td><%= lead.other_number %></td>
            <td><%= lead.email %></td>
          <%end%>
          <td><%= lead.budget_from %></td>
          <td><%= lead.budget_to %></td>
          <td><%= lead.flat_type %></td>
          <td><%= lead.source_category.heirarchy %></td>
          <td>
            <% if lead.customer_remarks == nil || lead.customer_remarks == '' %>
            <%else%>
              <%= lead.customer_remarks%>
            <%end%>
          </td>
          <% if current_personnel.organisation_id == 1 %>
            <td><%= lead.try(:pincode)%></td>
            <td><%= lead.try(:age_bracket)%></td>
            <td><%= lead.try(:address)%></td>
            <td><%= lead.occupation.try{|x| x.description}%></td>
            <td><%= lead.designation.try{|x| x.description}%></td>
            <td><%= lead.try(:company)%></td>
            <td><%= lead.try(:work_address)%></td>
            <td><%= lead.try(:office_pincode)%></td>
            <td><%= lead.try(:investment)%></td>
            <td><%= lead.try(:searching_since)%></td>
            <%
              other_project_tag = OtherProjectTag.find_by_lead_id(lead.id)
            %>
            <td><%= other_project_tag.other_project.name if other_project_tag != nil %></td>
          <%end%>
          <% if lead.osv == true && lead.status == false && lead.interested_in_site_visit_on == nil && lead.qualified_on != nil%>
            <td>Qualified</td>
          <% elsif lead.osv == true && lead.status == false && lead.interested_in_site_visit_on != nil%>
            <td>Interested In Site Visit</td>
          <% elsif lead.status == nil %>
            <td>Fresh</td>
          <% elsif lead.status== false %>
           <td>Site Visited</td>
          <% elsif lead.status== true && lead.lost_reason_id==nil %>
            <td>Booked</td>
          <% else %>
            <td>Lost:<%= lead.lost_reason.description %></td>
          <% end %>
          <td><%= lead.generated_on.strftime("%d/%m/%y") %></td>
          <td><%= lead.generated_on.strftime("%m/%d/%y") %></td>
          <td><%= lead.site_visited_on.strftime("%d/%m/%y - %H:%M") %></td>
          <td><%= lead.site_visited_on.strftime("%m/%d/%y") %></td>
          <% if current_personnel.organisation_id == 1%>
            <td><%= lead.try(:customer_feedback)%></td>
          <%end%>
          <% if lead.follow_ups != [] %>
            <td>
              <% last_follow_up=lead.follow_ups.sort_by{|x| x.created_at}.last %>
              <% if last_follow_up.remarks == nil || last_follow_up.remarks == '' %>
              <%else%>
                <%= last_follow_up.remarks%>
              <%end%>
            </td>
            <td><%= (last_follow_up.follow_up_time).strftime("%d/%m/%y - %H:%M") %></td>
            <td><%= (last_follow_up.follow_up_time).strftime("%m/%d/%y") %></td>
            <td>$<%= (last_follow_up.follow_up_time).strftime("%d/%m/%y - %H:%M") %></td>
          <% else %>
            <td>Not done</td> 
            <td><%= (Time.now - 365.days).strftime("%m/%d/%y") %></td>
            <td>NA</td>
            <td>NA</td>
          <% end %>
          <td><%= lead.personnel.name %></td>
          <td></td>        
          <td><%= submit_tag ">", name: lead.id, :class => 'btn btn-primary btn-xs' %></td>  
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
<% end %>
<style >
  .dataTables_scrollHead{
    height: 40px;
  }
  .dataTables_info{
    display:inline-block;
    float:left;
  }
 .dataTables_length{
  display:inline-block;
 float:right;
 }
 .fixedHeader-floating th { background-color: #2b3e50; }
  </style>

<script>
<% if current_personnel.organisation_id == 6 %>
$(document).ready(function(){
var FilterTable=$("#site_visit_register").DataTable({  
   "fixedHeader": true,   
   "dom": '<"wrapper"lit>',
   "bAutoWidth": false,
   "lengthMenu": [ [-1, 10, 25, 50, 100], ["All", 10, 25, 50, 100] ],
   "bDeferRender": true,
   "aoColumns": [
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true}
                             ],
    "order": [[ 21, "desc" ]]
});

$("#filterbox").keyup(function() {
        FilterTable.search(this.value).draw();
    });
});

<% else %>

$(document).ready(function(){
var FilterTable=$("#site_visit_register").DataTable({  
   "fixedHeader": true,   
   "dom": '<"wrapper"lit>',
   "bAutoWidth": false,
   "lengthMenu": [ [-1, 10, 25, 50, 100], ["All", 10, 25, 50, 100] ],
   "bDeferRender": true,
   "aoColumns": [
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true},
                              {"bSortable": true}
                             ],
    "order": [[ 19, "desc" ]]
});

$("#filterbox").keyup(function() {
        FilterTable.search(this.value).draw();
    });
});
<% end %>


$('.popoverData').popover();
 </script>
 
<script type="text/javascript">
  $(".chosen").chosen();
</script>