<% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Heads up!</strong> <%= value %>
        </div>
<% end %>

<div class="col-lg-8 col-lg-offset-2">

<h1>Weekly Source Wise Leads with Opening</h1>

<p><%= link_to 'Weekly Source Wise Leads', {controller: 'windows', action: 'weekly_source_wise_leads'}, {method: :post} %></p>

<%= form_tag 'weekly_source_wise_leads_with_opening' do  %>

<%= select(:project, :selected, options_for_select(@projects, selected: params[:project].try{|x| x[:selected]}),{}, {})  %>

<%= select(:site_executive, :picked, options_for_select(@site_executives, selected: @executive), {}, {})   %>

<%= submit_tag 'Refresh', name: 'refreshnow', :class => 'btn btn-primary btn-xs' %>

<% 12.times do |count| %>
<%

@from=((Time.now-(count.weeks)).beginning_of_week)-1.day
@to=((Time.now-(count.weeks)).end_of_week)

if @executive==-1 
@leads_generated=Lead.includes(:personnel).where(:personnels => {organisation_id: current_personnel.organisation_id}, business_unit: @project_selected).where('leads.generated_on >= ? AND leads.generated_on < ?',@from.to_date.to_datetime, @to.to_date.to_datetime).group("leads.source_category_id").count
@opening_leads=Lead.includes(:personnel).where(:personnels => {organisation_id: current_personnel.organisation_id}, business_unit: @project_selected).where('leads.generated_on < ? and (booked_on is ? or booked_on >= ?)',@from.to_date.to_datetime, nil,@from.to_date.to_datetime).group("leads.source_category_id").count
@site_visited_during_the_period=Lead.includes(:personnel).where(:personnels => {organisation_id: current_personnel.organisation_id}, business_unit: @project_selected).where.not(site_visited_on: nil).where('leads.generated_on >= ? AND leads.generated_on < ?',@from.to_date.to_datetime, @to.to_date.to_datetime).where('leads.site_visited_on >= ? AND leads.site_visited_on < ?',@from.to_date.to_datetime, @to.to_date.to_datetime).group("leads.source_category_id").count
@site_visited_opening=Lead.includes(:personnel).where(:personnels => {organisation_id: current_personnel.organisation_id}, business_unit: @project_selected).where.not(site_visited_on: nil).where('leads.generated_on < ?',@from.to_date.to_datetime).where('leads.site_visited_on >= ? AND leads.site_visited_on < ?',@from.to_date.to_datetime, @to.to_date.to_datetime).group("leads.source_category_id").count
@booked_during_the_period=Lead.includes(:personnel).where(:personnels => {organisation_id: current_personnel.organisation_id}, business_unit: @project_selected, lost_reason_id: nil, status: true).where('leads.generated_on >= ? AND leads.generated_on < ?',@from.to_date.to_datetime, @to.to_date.to_datetime).where('leads.booked_on >= ? AND leads.booked_on < ?',@from.to_date.to_datetime, @to.to_date.to_datetime).group("leads.source_category_id").count
@booked_opening=Lead.includes(:personnel).where(:personnels => {organisation_id: current_personnel.organisation_id}, business_unit: @project_selected, lost_reason_id: nil, status: true).where('leads.generated_on < ?',@from.to_date.to_datetime).where('leads.booked_on >= ? AND leads.booked_on < ?',@from.to_date.to_datetime, @to.to_date.to_datetime).group("leads.source_category_id").count
@leads_lost_during_the_period=Lead.includes(:personnel).where(:personnels => {organisation_id: current_personnel.organisation_id}, business_unit: @project_selected, status: true).where.not(lost_reason_id: nil).where('leads.generated_on >= ? AND leads.generated_on < ?',@from.to_date.to_datetime, @to.to_date.to_datetime).where('leads.booked_on >= ? AND leads.booked_on < ?',@from.to_date.to_datetime, @to.to_date.to_datetime).group("leads.source_category_id").count
@leads_lost_opening=Lead.includes(:personnel).where(:personnels => {organisation_id: current_personnel.organisation_id}, business_unit: @project_selected, status: true).where.not(lost_reason_id: nil).where('leads.generated_on < ?',@from.to_date.to_datetime).where('leads.booked_on >= ? AND leads.booked_on < ?',@from.to_date.to_datetime, @to.to_date.to_datetime).group("leads.source_category_id").count
else
@leads_generated=Lead.includes(:personnel).where(:personnels => {id: @executive}, business_unit: @project_selected).where('leads.generated_on >= ? AND leads.generated_on < ?',@from.to_date.to_datetime, @to.to_date.to_datetime).group("leads.source_category_id").count
@opening_leads=Lead.includes(:personnel).where(:personnels => {id: @executive}, business_unit: @project_selected).where('leads.generated_on < ? and (booked_on is ? or booked_on >= ?)',@from.to_date.to_datetime, nil,@from.to_date.to_datetime).group("leads.source_category_id").count
@site_visited_during_the_period=Lead.includes(:personnel).where(:personnels => {id: @executive}, business_unit: @project_selected).where.not(site_visited_on: nil).where('leads.generated_on >= ? AND leads.generated_on < ?',@from.to_date.to_datetime, @to.to_date.to_datetime).where('leads.site_visited_on >= ? AND leads.site_visited_on < ?',@from.to_date.to_datetime, @to.to_date.to_datetime).group("leads.source_category_id").count
@site_visited_opening=Lead.includes(:personnel).where(:personnels => {id: @executive}, business_unit: @project_selected).where.not(site_visited_on: nil).where('leads.generated_on < ?',@from.to_date.to_datetime).where('leads.site_visited_on >= ? AND leads.site_visited_on < ?',@from.to_date.to_datetime, @to.to_date.to_datetime).group("leads.source_category_id").count
@booked_during_the_period=Lead.includes(:personnel).where(:personnels => {id: @executive}, business_unit: @project_selected, lost_reason_id: nil, status: true).where('leads.generated_on >= ? AND leads.generated_on < ?',@from.to_date.to_datetime, @to.to_date.to_datetime).where('leads.booked_on >= ? AND leads.booked_on < ?',@from.to_date.to_datetime, @to.to_date.to_datetime).group("leads.source_category_id").count
@booked_opening=Lead.includes(:personnel).where(:personnels => {id: @executive}, business_unit: @project_selected, lost_reason_id: nil, status: true).where('leads.generated_on < ?',@from.to_date.to_datetime).where('leads.booked_on >= ? AND leads.booked_on < ?',@from.to_date.to_datetime, @to.to_date.to_datetime).group("leads.source_category_id").count
@leads_lost_during_the_period=Lead.includes(:personnel).where(:personnels => {id: @executive}, business_unit: @project_selected, status: true).where.not(lost_reason_id: nil).where('leads.generated_on >= ? AND leads.generated_on < ?',@from.to_date.to_datetime, @to.to_date.to_datetime).where('leads.booked_on >= ? AND leads.booked_on < ?',@from.to_date.to_datetime, @to.to_date.to_datetime).group("leads.source_category_id").count
@leads_lost_opening=Lead.includes(:personnel).where(:personnels => {id: @executive}, business_unit: @project_selected, status: true).where.not(lost_reason_id: nil).where('leads.generated_on < ?',@from.to_date.to_datetime).where('leads.booked_on >= ? AND leads.booked_on < ?',@from.to_date.to_datetime, @to.to_date.to_datetime).group("leads.source_category_id").count
end
%>

<h1>Week: #<%= (Time.now-(count.weeks)).strftime("%U") %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(<%=((Time.now-(count.weeks)).beginning_of_week-1.day).strftime("%d/%m/%y") %>-<%=((Time.now-(count.weeks)).end_of_week-1.day).strftime("%d/%m/%y") %>)</h1>

<table class="table table-striped table-hover " id="orderedtasks">
  <thead>
    <tr>
      
      <th>Source</th>
      <th>Opening Live Leads</th>
      <th>Leads Lost Opening</th>
      <th>Site Visits Opening</th>
      <th>Bookings Opening</th>
      <th>Leads Generated</th>
      <th>Leads Lost During</th>
      <th>Site Visits During</th>
      <th>Bookings During</th>
      <th>Closing Live Leads</th>
      <th>Lost(%)</th>
      <th>Site Visit(%)</th>
      <th>Open(%)</th>
    </tr>
  </thead>

  <tbody>
      <% @sources.each do |source| %>
        <% if @leads_generated[source.id]==nil && @opening_leads[source.id]==nil && @site_visited_during_the_period[source.id]==nil && @site_visited_opening[source.id]==nil && @booked_during_the_period[source.id]==nil && @booked_opening[source.id]==nil && @leads_lost_opening[source.id]==nil && @leads_lost_during_the_period[source.id]==nil %>
        <% else %>
        <tr>
         <% if @leads_generated[source.id]==nil 
          leads_generated=0
          else
          leads_generated=@leads_generated[source.id]
          end
         %><% if @opening_leads[source.id]==nil 
          opening_leads=0
          else
          opening_leads=@opening_leads[source.id]
          end
         %>
         <% if @leads_lost_during_the_period[source.id]==nil 
          leads_lost_during_the_period=0
          else
          leads_lost_during_the_period=@leads_lost_during_the_period[source.id]
          end
         %>
         <% if @leads_lost_opening[source.id]==nil 
          leads_lost_opening=0
          else
          leads_lost_opening=@leads_lost_opening[source.id]
          end
         %>
         <% if @booked_during_the_period[source.id]==nil 
          booked_during_the_period=0
          else
          booked_during_the_period=@booked_during_the_period[source.id]
          end
         %>
         <% if @booked_opening[source.id]==nil 
          booked_opening=0
          else
          booked_opening=@booked_opening[source.id]
          end
         %>
         <% if @site_visited_during_the_period[source.id]==nil 
          site_visited_during_the_period=0
          else
          site_visited_during_the_period=@site_visited_during_the_period[source.id]
          end
         %>
         <% if @site_visited_opening[source.id]==nil 
          site_visited_opening=0
          else
          site_visited_opening=@site_visited_opening[source.id]
          end
         %>
         <td><%= source.heirarchy %></td>
         <td><%= @opening_leads[source.id] %></td>
         <td><%= leads_lost_opening %></td>
         <td><%= site_visited_opening %></td>
         <td><%= booked_opening %></td>
         <td><%= @leads_generated[source.id] %></td>
            
         <td><%= leads_lost_during_the_period %></td>
         <td><%= site_visited_during_the_period %></td>
         <td><%= booked_during_the_period %></td>
         <td><%= leads_generated+opening_leads-leads_lost_during_the_period-leads_lost_opening-booked_during_the_period-booked_opening %></td>
         <% if leads_generated+opening_leads==0 %>
         <td></td>
         <td></td>
         <td></td>
         <% else %>
         <td><%= (((leads_lost_during_the_period+leads_lost_opening).to_f/(leads_generated+opening_leads).to_f)*100).round %></td>
         <td><%= ((((site_visited_during_the_period+site_visited_opening).to_f)/((leads_generated+opening_leads).to_f))*100).round %></td> 
         <td><%= ((((leads_generated+opening_leads-leads_lost_during_the_period-leads_lost_opening-booked_during_the_period-booked_opening).to_f)/(leads_generated+opening_leads).to_f)*100).round %></td>
         <% end %> 
        </tr>
        <% end %>  
      <% end %>
      <tfoot>
      <tr>
        <td><b>TOTAL</b></td>
        <td><b><%= @opening_leads.sum{|key,value| value} %></b></td>
        <td><b><%= (@leads_lost_opening.sum{|key,value| value}) %></b></td>
        <td><b><%= (@site_visited_opening.sum{|key,value| value}) %></b></td>
        <td><b><%= (@booked_opening.sum{|key,value| value}) %></b></td>
        <td><b><%= @leads_generated.sum{|key,value| value} %></b></td>
        <td><b><%= (@leads_lost_during_the_period.sum{|key,value| value}) %></b></td>
        <td><b><%= (@site_visited_during_the_period.sum{|key,value| value}) %></b></td>
        <td><b><%= (@booked_during_the_period.sum{|key,value| value}) %></b></td>
        <td><b><%= (@leads_generated.sum{|key,value| value})+(@opening_leads.sum{|key,value| value})-(@leads_lost_during_the_period.sum{|key,value| value})-(@leads_lost_opening.sum{|key,value| value})-(@booked_during_the_period.sum{|key,value| value})-(@booked_opening.sum{|key,value| value})%></b></td>
        <td></td>
        <td></td>
        <td></td> 
      </tr>
      </tfoot>
      </tbody>
</table>
<% end %>
<% end %>
</div>