<p id="notice"><%= notice %></p>

<p>
  <strong>Block:</strong>
  <%= @flat.block_id %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @flat.floor %>
</p>

<p>
  <strong>Name:</strong>
  <%= @flat.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @flat.status %>
</p>

<p>
  <strong>Sba:</strong>
  <%= @flat.SBA %>
</p>

<p>
  <strong>Ota:</strong>
  <%= @flat.OTA %>
</p>

<p>
  <strong>Flat bua:</strong>
  <%= @flat.flat_bua %>
</p>

<p>
  <strong>Ot bua:</strong>
  <%= @flat.ot_bua %>
</p>

<p>
  <strong>Flat bua markup:</strong>
  <%= @flat.flat_bua_markup %>
</p>

<p>
  <strong>Ot bua markdown:</strong>
  <%= @flat.ot_bua_markdown %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @flat.bathrooms %>
</p>

<p>
  <strong>Balconies:</strong>
  <%= @flat.balconies %>
</p>

<%= link_to 'Edit', edit_flat_path(@flat) %> |
<%= link_to 'Back', flats_path %>
