<%@header = 'Demand Credit Note Register'%>
<h1>Credit Notes</h1>

<table id="customers">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Credit Note Head</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Remarks</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @credit_note_entries.each do |credit_note_entry| %>
      <tr>
        <td><%= credit_note_entry.booking.cost_sheet.lead_id %></td>
        <td><%= credit_note_entry.credit_note_head.description%></td>
        <td><%= credit_note_entry.amount%></td>
        <td><%= credit_note_entry.date.to_date.strftime('%d/%m/%Y')%></td>
        <td><%= credit_note_entry.try(:remarks)%></td>
        <td><%= link_to 'Edit', demand_credit_note_edit_path(credit_note_entry), :class => "edit_btn", :style => "text-decoration: none;"%></td>
        <td><%= link_to 'Destroy', demand_credit_note_destroy_path(credit_note_entry), :class => "dlt_btn", :style => "text-decoration: none;", data: { confirm: 'Are you sure ?'}%></td>
        <td><%= link_to 'Preview', demand_credit_note_preview_index_path(credit_note_entry), :class => "btn btn-primary"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
