<p id="notice"><%= notice %></p>

<p>
  <strong>Business unit:</strong>
  <%= @lead.business_unit_id %>
</p>

<p>
  <strong>Personnels:</strong>
  <%= @lead.personnels_id %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @lead.budget %>
</p>

<p>
  <strong>Status:</strong>
  <%= @lead.status %>
</p>

<p>
  <strong>Personnel remarks:</strong>
  <%= @lead.personnel_remarks %>
</p>

<p>
  <strong>Name:</strong>
  <%= @lead.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @lead.email %>
</p>

<p>
  <strong>Lost reason:</strong>
  <%= @lead.lost_reason_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @lead.address %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @lead.occupation_id %>
</p>

<p>
  <strong>Requirement:</strong>
  <%= @lead.requirement %>
</p>

<p>
  <strong>Area:</strong>
  <%= @lead.area %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @lead.mobile %>
</p>

<p>
  <strong>Preferred location:</strong>
  <%= @lead.preferred_location_id %>
</p>

<p>
  <strong>Marketing instance:</strong>
  <%= @lead.marketing_instance_id %>
</p>

<p>
  <strong>Source category:</strong>
  <%= @lead.source_category_id %>
</p>

<p>
  <strong>Customer remarks:</strong>
  <%= @lead.customer_remarks %>
</p>

<p>
  <strong>Newspaper:</strong>
  <%= @lead.newspaper_id %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @lead.channel_id %>
</p>

<p>
  <strong>Station:</strong>
  <%= @lead.station_id %>
</p>

<p>
  <strong>Magazine:</strong>
  <%= @lead.magazine_id %>
</p>

<p>
  <strong>Community:</strong>
  <%= @lead.community_id %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @lead.nationality_id %>
</p>

<p>
  <strong>Pan:</strong>
  <%= @lead.pan %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @lead.dob %>
</p>

<p>
  <strong>Company:</strong>
  <%= @lead.company %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @lead.designation %>
</p>

<p>
  <strong>First applicant:</strong>
  <%= @lead.first_applicant %>
</p>

<p>
  <strong>Second applicant:</strong>
  <%= @lead.second_applicant %>
</p>

<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>
