<%= form_tag 'broker_contact_whatsapp_massage', :html => {:class => 'form-horizontal'} do %>
  <%= hidden_field_tag "customer_number", params[:customer_number] %>
  <%= hidden_field_tag "whatsapp_number", params[:whatsapp_number] %>
  <div class="main-div"> 
    <div class="top-background"></div>
    <div class="down-background"></div>
      <div class="upper_background">
        <div class="header"></div>
        <div class="all_message">
          <div class="messages">
            <% @broker_contact.whatsapp_followups.each do |whatsapp_followup| %>
              <% if whatsapp_followup.message_id == nil || whatsapp_followup.message_id == "" %>
                <div class="message">
                  <%= whatsapp_followup.remarks %>
                </div>
              <% else %>
                <div class="reply">
                  <%= whatsapp_followup.remarks %>
                </div>
              <% end %>
            <% end %> 
          </div>
        </div>
      </div>
    <div class="footer">
      <div class="row" >
        <div class="col-xs-11" >
          <%= text_area_tag "reply_to_customer", '', :class => 'form-control' , :placeholder => 'Type a message'%>
        </div>
        <div class="col-xs-1">
          <%= submit_tag "Send", :class => 'btn btn-primary'%>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
    $(document).ready(function() {
        $(".multi_select_style").multiselect().multiselectfilter();
        $(".ui-multiselect-all").hide();
        $(".ui-multiselect-none").hide()
    });
</script>
<style>
        body {
      margin: 0;
      padding: 0;
    }
    .row{
      margin: 0% 1%;
    }
    .btn{
      margin: 20% 8% 4% 4%;
    }
    .main-div {
      position: absolute;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }

    .header {
      flex: 0 0 auto;
      height: 50px;
      background-color: #ffffff;
    }

    .all_message{
      height: 100%;
      overflow-y: hidden;
      padding-left: 15px;
      padding-right: 15px;
    }

    .messages {
      height: 700px;
      overflow-y: auto;
    }

    .footer {
      position: fixed;
      bottom: 0;
      width: 98%;
      height: 10%; 
      margin: 0% 0% 0% 1.5%;
      background-color: #ffffff;
    }

    .messages {
      display: flex;
      flex-direction: column;
    }

    .messages::-webkit-scrollbar {
        display: none;
      }

    .message,
    .reply {
      display: inline-block;
      max-width: 80%;
      margin-bottom: 10px;
      padding: 8px 12px;
      border-radius: 15px;
      word-wrap: break-word;
    }

    .message {
      background-color:#ffffff ; 
      align-self: flex-start;
    }

    .reply {
      background-color:#dcf8c6 ;
      align-self: flex-end;
    }

    .col-xs-11{
      padding: 8px 16px;
    }

    .main-div {
      width: 100vw;
      height: 100vh;
      overflow: hidden;
    }
    .down-background,
    .top-background {
      position: absolute;
      left: 0;
      width: 100%;
    }
    .top-background {
      top: 0;
      background-color: #00ab88;
      height: 20%;
    }

    .down-background {
      top: 14.75rem;
      background-color: #e1e0dd;
      height: 80.5%;
    }
    .upper_background{
      top: 3.19rem;
      background-color: #f3f3e9;
      position: absolute;
      left: 1.5%;
      width: 97%;
      height: 95vh;
    }
    @media (max-width: 450px){
    .footer {
        margin-top: 164%;
        background-color: white;
        height: 11%;
      }
    }
</style>