<%= form_tag 'broker_followup_entry', :html => {:class => 'form-horizontal'} do %>
  <%= hidden_field_tag 'broker_contact_id', @broker_contact.id%>
  <%= hidden_field_tag :telephony_call_id, nil, :id => 'telephony_call' %>
  <div align="center">
    <h3>
      Broker: <%= @broker_contact.broker.name%>, Contact Name: <%= @broker_contact.name %>, - <%= @broker_contact.personnel.name %> <%= link_to "Edit", broker_setup_broker_contact_edit_path(@broker_contact), target: "_blank", class: "edit_btn"%>
    </h3><br>
    <h3 style="color: #000; font-size: 17px; font-weight: 800;">Reference: <%= @broker_contact.reference %></h3>
  </div>
  <div class="container">
    <div class="form-group">
      <div class="row">
        <div class="col-md-4">
          <div ><b><i><font color="#004fff"> To Followup On</font></i></b></div>
          <%= date_field_tag "followup_date", Time.now.to_date, :class => 'form-control'%>
        </div>
        <div class="col-lg-2">
          <p class="text-danger"><%= radio_button_tag :anticipation , 'Hot', true %>27th November</p>
          <p class="text-success"><%= radio_button_tag :anticipation , 'Good' %>28th November</p>
          <p class="text-info"><%= radio_button_tag :anticipation , '' %>Not Decided</p>
        </div>
        <div class="col-lg-2">
          <div ><b><i><font color="#004fff">Inactive</font></i></b></div>
          <%= check_box_tag "inactive", true, nil%>
        </div>
        <div class="col-lg-4">
          <div ><b><i><font color="#004fff">Status</font></i></b></div>
          <%= select_tag "status", options_for_select(["Invitation accepted", "Not Interested", "Hardcopy Sent", "Site Visited"]), :class => 'form-control', :prompt => 'Please select'%>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
          Whatsapp-details:
        </div>
        <div class="col-lg-3">
          <%= select_tag 'whatsapp_templates[]', options_for_select(@gurukul_whatsapp_templates), :class => 'form-control, multi_select_style', :multiple => true %>
        </div>
        <div class="col-lg-2">
          Head Count:
        </div>
        <div class="col-lg-3">
          <%= number_field_tag "head_count", "", :class => 'form-control' %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div ><b><i><font color="#004fff">Follwoup Remarks</font></i></b></div>
          <%= text_area_tag "remarks", "", :class => 'form-control' %>
        </div>
      </div><br>
      <div class="row">
        <div class="col-lg-12">
          <%= submit_tag 'Update', name: 'update', :class => 'btn btn-primary', id: 'follow_up_update', :disabled => true %>
        </div>
      </div>
    </div><br>
  </div>
<%end%>
<style >
  .anticipation_div{
    width: 10%;
  }
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }
</style>
<script>
  $(document).ready(function() {
  $(".multi_select_style").multiselect().multiselectfilter();
  $(".ui-multiselect-all").hide();
  $(".ui-multiselect-none").hide()
  });
</script>
<script>
  function updateFormEnabled() {
    if (verifyAdSettings()) {
        $('#follow_up_update').prop('disabled', false);
        $('#follow_up_update').prop('value', 'Update');
        document.getElementById('follow_up_update').removeAttribute('data-confirm');
    } else {
        $('#follow_up_update').prop('disabled', true);
        $('#follow_up_update').prop('value', 'Pick Lost Reason');
    }
    if (BookingPicked()) {
    } else {
        document.getElementById('follow_up_update').setAttribute('data-confirm', "Are you sure this is a booking?");
    }
  }
</script>