<html>
 <head>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-K542CGGV');</script>
  <!-- End Google Tag Manager -->
  </head>
   <body>
      <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K542CGGV" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="col-lg-6 col-lg-offset-3">
     <div class= "agreement">
      <div class= "header"></div>
        <div class="col-xs-6 header-logo">
          <img alt="" class="img-responsive form_logo" src="/assets/sv_form_logo.png">
        </div>
        <div class="well">
          <div class="row" style="margin-top: 8%!important;">
            <center><p class ="form_heading" style="font-family: 'sans-serif;'; "  >Dream Gurukul - Info and Collaterals </p></center>
          </div>
              <p><font style="color: black; letter-spacing: 1px; font-family: 'sans-serif;'; font-weight: 600; font-size: 16px;">Google Map: </font><br><a href="https://maps.app.goo.gl/Qn3ceou68BrfyRYy5" target="_blank" style="color: blue; font-family: 'sans-serif;';"><button  id="print" class="btn btn-xs click_btn"> <i class="fa fa-share-square-o" aria-hidden="true"></i> Click to View</button></a></p>
            <p>
              <span style="color: black; letter-spacing: 1px; font-family: 'sans-serif;'; font-weight: 600; font-size: 16px;">Address:</span><br>
              <span style="color: black; letter-spacing: 1px; font-family: 'sans-serif;'; font-weight: normal; font-size: 16px;">Ward 26, Dream Gurukul, 154, Old Jessore Rd, Ganganagar, Doltala, Madhyamgram, Kolkata, West Bengal 700132</span>
            </p>
            <p>
              <span style="color: black; letter-spacing: 1px; font-family: 'sans-serif;';font-weight: 600; font-size: 16px;">Land Area:</span>
              <span style="color: black; letter-spacing: 1px;font-family: 'sans-serif;'; font-weight: normal; font-size: 16px;">4 Acre (Approx)</span>
           <br>
              <span style="color: black; letter-spacing: 1px; font-family: 'sans-serif;'; font-weight: 600; font-size: 16px;">No. of Towers:</span>
              <span style="color: black; letter-spacing: 1px; font-family: 'sans-serif;'; font-weight: normal; font-size: 16px;">6</span>
            <br>
              <span style="color: black; letter-spacing: 1px;  font-family: 'sans-serif;'; font-weight: 600; font-size: 16px;">Building Elevation:</span>
              <span style="color: black; letter-spacing: 1px; font-family: 'sans-serif;'; font-weight: normal; font-size: 16px;">G+7 </span>
            </p>              
             <p>
              <span style="color: black; letter-spacing: 1px; font-family: 'sans-serif;'; font-weight: 600; font-size: 16px;">Approved by:</span>
              <span style="color: black; letter-spacing: 1px; font-family: 'sans-serif;'; font-weight: normal; font-size: 16px;">Central Bank of India, HDFC Bank, ICICI Bank </span>
            </p>
             <!-- <p>
              <span style="color: black; letter-spacing: 1px; font-family: 'sans-serif;'; font-weight: 600; font-size: 16px;">Base Rate:</span>
              <span style="color: black; letter-spacing: 1px; font-family: 'sans-serif;'; font-weight: normal; font-size: 16px;">Rs 4999/sft</span>
            </p><br>
             -->
            <u style="color: black; letter-spacing: 1px; font-family: 'sans-serif;'; font-weight: 600; font-size: 18px;">Type of Apartments:</u>
            <br>

            
                <table class="table bordered-table" >
                  <thead>
                    <th>Flat Type</th>
                    <th>Area (In sft)</th>
                    <th>Price Range</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td> 2 BHK </td>
                      <td> 860 - 875</td>
                      <td> 50L </td>
                    </tr>
                    <tr>
                      <td> 3 BHK </td>
                      <td> 1225 - 1290</td>
                      <td> 72L </td>
                    </tr>

                  </tbody>
                </table><br>
           
            
            <p>
              <span style="color: black; letter-spacing: 1px; font-family: 'sans-serif;';font-weight: 600; font-size: 16px;">Garden Facing Charges:</span>
              <span style="color: black; letter-spacing: 1px; font-family: 'sans-serif;';font-weight: normal; font-size: 16px;">₹ 100/sft</span>
           <br>
              <span style="color: black; letter-spacing: 1px; font-family: 'sans-serif;';font-weight: 600; font-size: 16px;">South Facing Charges:</span>
              <span style="color: black; letter-spacing: 1px; font-family: 'sans-serif;';font-weight: normal; font-size: 16px;">₹ 100/sft</span>
            <br>
              <span style="color: black; letter-spacing: 1px; font-family: 'sans-serif;'; font-weight: 600; font-size: 16px;">Floor Rise Charges:</span>
              <span style="color: black; letter-spacing: 1px; font-family: 'sans-serif;'; font-weight: normal; font-size: 16px;">₹ 50/sft from 2nd floor</span>
            </p><br>
            <p>
              <span style="color: black; letter-spacing: 1px; font-family: 'sans-serif;'; font-weight: 600; font-size: 16px;">Covered Parking Charges:</span>
              <span style="color: black; letter-spacing: 1px; font-family: 'sans-serif;'; font-weight: normal; font-size: 16px;">₹ 5 Lakhs</span>
            <br>
              <span style="color: black; letter-spacing: 1px; font-family: 'sans-serif;'; font-weight: 600; font-size: 16px;">Open Parking Charges:</span>
              <span style="color: black; letter-spacing: 1px;  font-family: 'sans-serif;'; font-weight: normal; font-size: 16px;">₹ 4 Lakhs</span>
            </p><br>

          <p>
            <span style="color: black; letter-spacing: 1px; font-family: 'sans-serif;'; font-weight: 600; font-size: 17px;">Videos: </span><br>
     
            <span style="color: black; font-family: 'sans-serif;'"><b>Ajoy Chakraborty:</b></span>
            <a  href="https://youtu.be/c9eosJxIhCg?si=Pewu93OkpJzcoEpH" target="_blank" style="color: blue; font-family: 'sans-serif;'; text-decoration: none;"><i id="print"> 
                  https://youtu.be/c9eosJxIhCg?si=Pewu93OkpJzcoEpH</i>
            </a><br>
         
       
            <span style="color: black; font-family: 'sans-serif;'" ><b>Mamata Shankar:</b></span>
            <a  href="https://youtu.be/d0SI9pyPa7E?si=dGe86YECAqG8kqTk" target="_blank"  style="color: blue; font-family: 'sans-serif;'; text-decoration: none;"><i id="print">
                  https://youtu.be/d0SI9pyPa7E?si=dGe86YECAqG8kqTk</i>
            </a><br>
         
            <span style="color: black; font-family: 'sans-serif;'" ><b>Bhaichung Bhutia:</b></span>
            <a   href="https://youtu.be/VZXLvujxdGM?si=e9F29QiL2OVpgm83"  target="_blank" style="color: blue; font-family: 'sans-serif;';text-decoration: none;"><i id="print">
                  https://youtu.be/VZXLvujxdGM?si=e9F29QiL2OVpgm83</i>
            </a><br>
            <span style="color: black; font-family: 'sans-serif;'" ><b>Subhaprasanna:</b></span>
            <a  href="https://youtu.be/UNUShpMZ4ZY?si=IVkaP7YEBYTfLWmy" target="_blank" style="color: blue; font-family: 'sans-serif;'; text-decoration: none;"><i id="print">
                 https://youtu.be/UNUShpMZ4ZY?si=IVkaP7YEBYTfLWmy</i>
            </a><br><br>    
          </p>

          <p>
            <span style="color: black; font-family: 'sans-serif;'" ><b>Walk through</b></span>
            <a  href="https://www.youtube.com/watch?v=4bWFJfU5AYg" target="_blank" style="color: blue; font-family: 'sans-serif;'; text-decoration: none;"><i id="print">
                 https://www.youtube.com/watch?v=4bWFJfU5AYg</i>
            </a><br><br>    
          </p>

        <!-- <p><font style="color: black; letter-spacing: 1px; font-weight: 600; font-size: 14px;">Leaderboard Link: </font><br><a href="https://www.realtybucket.com/broker_setup/broker_leaderboard" target="_blank" style="color: blue;">https://www.realtybucket.com/broker_setup/broker_leaderboard</a></p> -->
        <p>
         <span style="color: black; letter-spacing: 1px; font-family: 'sans-serif;'; font-weight: 600; font-size: 16px;">Brochure Link:</span><br>
          
            <% if @broker_contact.mobile_one == nil || @broker_contact.mobile_one == ""%>
              <% if @broker_contact.mobile_two == nil || @broker_contact.mobile_two == ""%>
                <% if @broker_contact.email == nil || @broker_contact.email == ""%>
                  <td><a href="https://dreamgurukul.in/brochure.html?broker_contact_id=<%= @broker_contact.id.to_s%>"  target="_blank" style="color: blue; text-decoration: none; ">
                   <button id="print" class="btn btn-xs click_btn"> <i class="fa fa-share-square-o" aria-hidden="true"></i> Click to View</button>
                  </a></td>
                <%else%>
                  <td><a href="https://dreamgurukul.in/brochure.html?broker_contact_id=<%= @broker_contact.id.to_s%>&email=<%= @broker_contact.try(:email).to_s%>"  target="_blank" style="color: blue; font-family: 'sans-serif;'; text-decoration: none; "><button  id="print" class="btn btn-xs click_btn"> <i class="fa fa-share-square-o" aria-hidden="true"></i> Click to View</button></a></td>
                <%end%>
              <%else%>
                <% if @broker_contact.email == nil || @broker_contact.email == ""%>
                  <td><a href="https://dreamgurukul.in/brochure.html?broker_contact_id=<%= @broker_contact.id.to_s%>&mobile=<%= @broker_contact.try(:mobile_two).to_s%>" target="_blank" style="color: blue;font-family: 'sans-serif;'; text-decoration: none; "><button id="print" class="btn btn-xs click_btn"> <i class="fa fa-share-square-o" aria-hidden="true"></i> Click to View</button></a></td>
                <%else%>
                  <td><a href="https://dreamgurukul.in/brochure.html?broker_contact_id=<%= @broker_contact.id.to_s%>&mobile=<%= @broker_contact.try(:mobile_two).to_s%>&email=<%= @broker_contact.try(:email).to_s%>" target="_blank" style="color: blue; font-family: 'sans-serif;'; text-decoration: none; "><button id="print" class="btn btn-xs click_btn"> <i class="fa fa-share-square-o" aria-hidden="true"></i> Click to View</button>
                  </a></td>
                <%end%>
              <%end%>
            <%else%>
              <% if @broker_contact.email == nil || @broker_contact.email == ""%>
                <td><a href="https://dreamgurukul.in/brochure.html?broker_contact_id=<%= @broker_contact.id.to_s%>&mobile=<%= @broker_contact.try(:mobile_one).to_s%>" target="_blank" style="color: blue; font-family: 'sans-serif;'; text-decoration: none; "><button  id="print" class="btn btn-xs click_btn"> <i class="fa fa-share-square-o" aria-hidden="true"></i> Click to View</button>
                </a></td>
              <%else%>
                <td><a href="https://dreamgurukul.in/brochure.html?broker_contact_id=<%= @broker_contact.id.to_s%>&mobile=<%= @broker_contact.try(:mobile_one)%>&email=<%= @broker_contact.try(:email).to_s%>" target="_blank" style="color: blue;font-family: 'sans-serif;'; text-decoration: none; "><button id="print" class="btn btn-xs click_btn"> <i class="fa fa-share-square-o" aria-hidden="true"></i> Click to View</button></a></td>
              <%end%>
            <%end%>
          </a></p><br>
          <p>
         <span style="color: black; letter-spacing: 1px; font-family: 'sans-serif;'; font-weight: 600; font-size: 16px;">Floor Plan Link:</span><br>
          
            <% if @broker_contact.mobile_one == nil || @broker_contact.mobile_one == ""%>
              <% if @broker_contact.mobile_two == nil || @broker_contact.mobile_two == ""%>
                <% if @broker_contact.email == nil || @broker_contact.email == ""%>
                  <td><a href="https://dreamgurukul.in/floor.html?broker_contact_id=<%= @broker_contact.id.to_s%>"  target="_blank" style="color: blue; text-decoration: none; ">
                   <button id="print" class="btn btn-xs click_btn"> <i class="fa fa-share-square-o" aria-hidden="true"></i> Click to View</button>
                  </a></td>
                <%else%>
                  <td><a href="https://dreamgurukul.in/floor.html?broker_contact_id=<%= @broker_contact.id.to_s%>&email=<%= @broker_contact.try(:email).to_s%>"  target="_blank" style="color: blue; font-family: 'sans-serif;'; text-decoration: none; "><button  id="print" class="btn btn-xs click_btn"> <i class="fa fa-share-square-o" aria-hidden="true"></i> Click to View</button></a></td>
                <%end%>
              <%else%>
                <% if @broker_contact.email == nil || @broker_contact.email == ""%>
                  <td><a href="https://dreamgurukul.in/floor.html?broker_contact_id=<%= @broker_contact.id.to_s%>&mobile=<%= @broker_contact.try(:mobile_two).to_s%>" target="_blank" style="color: blue;font-family: 'sans-serif;'; text-decoration: none; "><button id="print" class="btn btn-xs click_btn"> <i class="fa fa-share-square-o" aria-hidden="true"></i> Click to View</button></a></td>
                <%else%>
                  <td><a href="https://dreamgurukul.in/floor.html?broker_contact_id=<%= @broker_contact.id.to_s%>&mobile=<%= @broker_contact.try(:mobile_two).to_s%>&email=<%= @broker_contact.try(:email).to_s%>" target="_blank" style="color: blue; font-family: 'sans-serif;'; text-decoration: none; "><button id="print" class="btn btn-xs click_btn"> <i class="fa fa-share-square-o" aria-hidden="true"></i> Click to View</button>
                  </a></td>
                <%end%>
              <%end%>
            <%else%>
              <% if @broker_contact.email == nil || @broker_contact.email == ""%>
                <td><a href="https://dreamgurukul.in/floor.html?broker_contact_id=<%= @broker_contact.id.to_s%>&mobile=<%= @broker_contact.try(:mobile_one).to_s%>" target="_blank" style="color: blue; font-family: 'sans-serif;'; text-decoration: none; "><button id="print" class="btn btn-xs click_btn"> <i class="fa fa-share-square-o" aria-hidden="true"></i> Click to View</button>
                </a></td>
              <%else%>
                <td><a href="https://dreamgurukul.in/floor.html?broker_contact_id=<%= @broker_contact.id.to_s%>&mobile=<%= @broker_contact.try(:mobile_one)%>&email=<%= @broker_contact.try(:email).to_s%>" target="_blank" style="color: blue;font-family: 'sans-serif;'; text-decoration: none; "><button id="print" class="btn btn-xs click_btn"> <i class="fa fa-share-square-o" aria-hidden="true"></i> Click to View</button></a></td>
              <%end%>
            <%end%>
          </a></p><br>
       <p>
        <font style="color: black; font-family: 'sans-serif;'; letter-spacing: 1px; font-weight: 600; font-size: 16px;">Lead Protection Form Link:</font><br>
        <a  href="https://www.realtybucket.com/broker_setup/broker_lead_intimation_form?broker_contact_id=<%= @broker_contact.id.to_s%>" target="_blank"  style="color: blue; font-family: 'sans-serif;';"><button id="print" class="btn btn-xs click_btn"> <i class="fa fa-share-square-o" aria-hidden="true"></i> Click to View</button></a>
       </p><br>
      
       <p>
        <font style="color: black; letter-spacing: 1px; font-family: 'sans-serif;'; font-weight: 600; font-size: 16px;">Gurukul Creative Google Drive Link: </font><br>
        <a  href="https://drive.google.com/drive/folders/1_BFcVYRVQxkGVOlLsTSX9fvufNgjwQKw?usp=sharing" target="_blank" style="color: blue; font-family: 'sans-serif;'; ">
          <button id="print" class="btn btn-xs click_btn"><i class="fa fa-share-square-o"  aria-hidden="true"></i> Click to View</button></a>
       </p><br>

        <p>
            <font style="color: black; letter-spacing: 1px; font-family: 'sans-serif;'; font-weight: 600; font-size: 16px;">When posting on social media do tag us at<br>
            <i class="fa fa-facebook-official" aria-hidden="true"> The Jain Group  </i><br>
            <i class="fa fa-instagram" aria-hidden="true"> @jaingroupofficial  </i><br>
            <font style="color: black; letter-spacing: 1px; font-family: 'sans-serif;'; font-weight: 600; font-size: 16px;">Use</font>
            <span style="color: black; letter-spacing: 1px; font-family: 'sans-serif;'; font-weight: normal; font-size: 16px;">#DreamGurukulKolkata</span>
            </font><br>
        </p>

      </div>
        
              
      <br><br><br><br>

          </div>
        <div class="col-xs-offset-6 col-xs-6 footer-logo">
          <img alt="" class="img-responsive form_logo" src="/assets/deam_gurukul_logo.png" style="width: 90%;">
        </div>
      <div class="footer"></div>
    </div>
  </div>
    <style>
      @media print{
        body {
        background: #fff; 
      }
      .header {
       display: block !important;
           visibility: visible !important;

      }
      .print-content {
        background: #fff;
      }
       #print {
        display: none;
      }
      }
      canvas{
        box-shadow: 0px 0px 20px 2px grey;
      }
      
      body{
        line-height: 1.3!important;
      }
      .well{
        background: transparent;
        padding:20px;
        margin-top: -10%;
        border-radius: 0px!important;
        box-shadow: none!important;
      }
      .click_btn{
      background: #27303f;
      color: #fff;
      border-left: 7px solid #c8222c;
      margin-left: 1%;
      width: 37%;
      font-size: 15px;
      }      
      .form-control{
        margin-top: 5px!important;
      }
      .form_sub_heading{
          color: black;
          letter-spacing: 1px;

          font-weight: 300;
          font-size: 10px;
      }
      .form_heading{
        color: #000!important;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 1px;
        padding:4%;
      }
      .header{
        background-image: url(../assets/agreement_mobile_top.png);
        height: 20vh;
        width: 100%;
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
      }
      .footer{
        background-image: url(../assets/agreement_mobile_down.png);
        height: 18vh;
        width: 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        margin-top: -30%;
      }
      .agreement{
        background: #fff;
        border-radius: 0px !important;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0px 0px 20px 2px grey;
      }
      .header-logo{
        margin-top: -25%;
      }
      .footer-logo{
        display: none;
      }
      table, .table {
        color: black;
        font-family: 'sans-serif;';
      }
      /*#user_nav
      {
        display: none!important;
      }*/

      @media (max-width: 500px){
        .click_btn{
            background: #27303f;
            color: #fff;
            border-left: 7px solid #c8222c;
            margin-left: 1%;
            width: 45%;
            padding:3px;
            font-size: 15px;
          }
      }
      @media (min-width: 600px){
          .header{
            background-image: url(../assets/agreement_tablet_top.png);
            height: 22vh;
            width: 100%;
            background-repeat: no-repeat;
            background-position: top;
            background-size: cover;
          }
          .footer {
            background-image: url(../assets/agreement_tablet_down.png);
            height: 32vh;
            width: 100%;
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: contain;
            margin-top: -30%;
          }
          .click_btn{
            background: #27303f;
            color: #fff;
            border-left: 7px solid #c8222c;
            margin-left: 1%;
            width: 22%;
            padding: 3px;
            font-size: 15px;
          }
          .header-logo{
            margin-top: -20%;
            max-width: 40%;
          }
          .footer-logo{
            margin-top: -4%;
            max-width: 40%;
            margin-left: 60%;
            display: block;
          }
          .form_heading{
            font-size: 24px;

          }
      }
      @media (min-width: 1200px){
          .header{
            background-image: url(../assets/agreement_tablet_top.png);
            height: 32vh;
            width: 100%;
            background-repeat: no-repeat;
            background-position: top;
            background-size: cover;
          }
          .footer {
            background-image: url(../assets/agreement_tablet_down.png);
            height: 50vh;
            width: 100%;
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: contain;
            margin-top: -30%;
          }
          .click_btn{
            background: #27303f;
            color: #fff;
            border-left: 7px solid #c8222c;
            margin-left: 1%;
            width: 22%;
            padding: 3px;
            font-size: 15px;
          }
          .header-logo{
            margin-top: -20%;
            max-width: 40%;
          }
          .footer-logo{
            margin-top: -4%;
            max-width: 40%;
            margin-left: 60%;
            display: block;
          }
          .form_heading{
            font-size: 24px;
          }
        }
    </style>
  </body>
</html>

