<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Organisation:</strong>
  <%= @company.organisation_id %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @company.address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @company.address_2 %>
</p>

<p>
  <strong>Address 3:</strong>
  <%= @company.address_3 %>
</p>

<p>
  <strong>Address 4:</strong>
  <%= @company.address_4 %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @company.phone %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
