<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<%@header = 'Live Lead WhatsApp'%>
<% if params[:data] == nil && params[:personnel_id] == nil %>
	<% if current_personnel.email == "ayush@thejaingroup.com"%>
		<%= form_tag 'live_lead_whatsapp', :html => {:class => 'form-horizontal'} do %>	
			<div class="row">
				<div class="col-lg-1">
					Executives:
				</div>
				<div class="col-lg-3">
					<%= select_tag "personnel_id", options_for_select(@executives, selected: @executive_selected), :class => 'form-control', :prompt => "Please Select" %>
				</div>
				<div class="col-lg-2">
					<%= submit_tag "View Details", :class => "btn btn-primary" %>
				</div>
			</div>
		<%end%>
	<%end%>
<%else%>
	<%= form_tag 'whatsapp_to_lead', :html => {:class => 'form-horizontal'} do %>
		<%= hidden_field_tag "lead_id", @selected_lead.id if @selected_lead != nil %>
		<div class="green-styling"></div>
		<div class= "main"> 
			<div class="left-container">
				<div class="search-div">
					<input type="text" id="searchInput" class="search" onkeyup="filterContacts()" placeholder="Search or Start a new chat">
				</div>
				<div class="contacts">
		      <% @leads.each do |lead|%>
		      	<div class="phone-number">
		      		<div class="row">
		      			<div class="col-lg-11">
					        <% if params[:data] == nil%>
										<%= link_to lead[1], transaction_live_lead_whatsapp_path("data" => {"lead_id" => lead[0], "personnel_id" => params[:personnel_id]}) %>
									<%else%>
										<%= link_to lead[1], transaction_live_lead_whatsapp_path("data" => {"lead_id" => lead[0], "personnel_id" => 	params[:data][:personnel_id]}) %>
									<%end%>
								</div>
								<% if lead[2] == 0 %>
									<div class="col-lg-1">
									</div>
								<%else%>
									<div class="col-lg-1">
										<span class="indicator"><%= lead[2]%></span>
									</div>
								<%end%>
							</div>
						</div>
					<%end%>
				</div>
			</div>
			<div class ="right-container">  
				<div class="right-navbar">
					<% if @selected_lead %>
	          <%= @selected_lead.name %>
          <% end %>
				</div>
				<div class="chatbox-container">
					 <div class="chatbox" id="chatbox">	
						<div class="messages" id="messages">
						 	<% if @selected_lead %>
						 	 <% today = Date.current %>
				       <% yesterday = today - 1.day %> 
						    <% @selected_lead.whatsapp_followups.sort_by{|x| x.created_at}.reverse.each do |whatsapp_followup| %>
						    	<% if whatsapp_followup.template_message == nil %>
						    		<% if whatsapp_followup.remarks == nil || whatsapp_followup.remarks == "" %>
						    			<% if whatsapp_followup.bot_message == nil || whatsapp_followup.bot_message == "" %>
						    			<%else%>
						    				<div class="reply">
						    					<div class="reply-text">
						    					<% position_one = whatsapp_followup.bot_message.index(":") %>
							    					<% if position_one == nil%>
							    						<%= whatsapp_followup.bot_message %>
							    					<%else%>
															<%= whatsapp_followup.bot_message[position_one+2..whatsapp_followup.bot_message.length] %>
														<%end%>
													</div>
														<div class="time">
										          <% if whatsapp_followup.created_at.in_time_zone('New Delhi').strftime('%I:%M %p') == today %> 
                                  <%= whatsapp_followup.created_at.in_time_zone('New Delhi').strftime('%I:%M %p') %>
                              <% elsif whatsapp_followup.created_at.in_time_zone('New Delhi').strftime('%I:%M %p') == yesterday %> 
                                  Yesterday <%= whatsapp_followup.created_at.in_time_zone('New Delhi').strftime('%I:%M %p') %>
                              <% else %>
                                  <%= whatsapp_followup.created_at.in_time_zone('New Delhi').strftime('%b %d, %Y'  ' %I:%M %p' ) %>
                              <% end %>
														</div>
														<div class="tick-status">
														    <%if whatsapp_followup.delivered_on != nil || whatsapp_followup.seen == true  %>
															    <span id="blue-tick" class="material-symbols-outlined">done_all</span>
																<%elsif whatsapp_followup.delivered_on != nil || whatsapp_followup.seen == false
																	 	%>
																	<span id="black-tick" class="material-symbols-outlined">done_all</span>
																<%else%>
																	<span id="single-tick" class="material-symbols-outlined">done</span>
														    <%end%>
														</div>
							          </div>
						    			<%end%>
						    		<%else%>
							    		<div class="message">			                	
												<%= whatsapp_followup.remarks%>
												<div class="time-message">
                          <% if whatsapp_followup.created_at.in_time_zone('New Delhi').strftime('%I:%M %p') == today %>
                              <%= whatsapp_followup.created_at.in_time_zone('New Delhi').strftime('%I:%M %p') %>
                          <% elsif whatsapp_followup.created_at.in_time_zone('New Delhi').strftime('%I:%M %p') == yesterday %> 
                              Yesterday <%= whatsapp_followup.created_at.in_time_zone('New Delhi').strftime('%I:%M %p') %>
                          <% else %>
                              <%= whatsapp_followup.created_at.in_time_zone('New Delhi').strftime('%b %d, %Y'  ' %I:%M %p') %>
                          <% end %>
	                      </div>
			                </div>
						    		<%end%>
						    	<%end%>
				        <%end%>
			        <% end %>
						</div>
					</div>			  				
			  </div>
				<div class="reply-bar">
					<%= text_field_tag "reply_to_customer", '', placeholder: 'Type something', :class => 'reply-box' %>
					<span id="send-button" class="material-symbols-outlined">
					<%= submit_tag "Send" %>
					</span>
				</div>
			</div>
		 </div>	
	<% end %>
<% end %>
<script>
	function filterContacts() {
	    var input, filter, contacts, contact, i, txtValue;
	    input = document.getElementById('searchInput');
	    filter = input.value.toUpperCase();
	    contacts = document.getElementsByClassName('phone-number');
	    for (i = 0; i < contacts.length; i++) {
	        contact = contacts[i];
	        txtValue = contact.textContent || contact.innerText;
	        if (txtValue.toUpperCase().indexOf(filter) > -1) {
	            contacts[i].style.display = "";
	        } else {
	            contacts[i].style.display = "none";
	        }
	    }
	}
   function rightNavbar(contactName,phoneId) {
       document.querySelector('.right-navbar').textContent = contactName;
       document.querySelector('.chatbox').innerHTML = chatbox;
       document.getElementById('chatbox').style.display = 'block';
   }
</script>
<style type="text/css">
	*{
		border: none;
	}
	body{
		background-color: gray;
		overflow: hidden;
		background-color: #f0f2f5;

	}
	
	.green-styling{
		background-color: #00a884;
		height: 16.5vh;
		width: 100vw;
		position: absolute;
		top: 0;
		z-index: -1;
	}
	.main{
		display: flex;
		flex-direction: row;
		height: 95vh;
		width: 97.7vw;
		margin: 1.2% 1.2%;
	}
	.left-container, .right-container{
		display: flex;
		flex-direction: column;
	}
	.left-container{
		width: 30%;
		background-color: white;

	}
	.profile-image{
		background-color: #eff2f5;
		height: 9vh;
	}
	.search-div{
		width: 29.5%;
		display: flex;
		border-right: 1px solid #dddddd;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid #eff2f5;
		height: 9vh;
		position: fixed;
		padding: 30px 10px;
		background-color: #fff;
		z-index: 2;
	}
	.search{
		width: 95%;
		height: 35px;
		padding: 1% 2.5%;
		margin: 0;
		background-color: #eff2f5 ;
		border-radius: 7px;
		border: none;
	}
	.search:focus {
    outline: none;
    border: 1px solid transparent;
	}
	.contacts{
		display: flex;
		flex-direction: column;
		margin-top:60px ;
		overflow-y: auto;
		scrollbar-width: thin;
	    scrollbar-color: #888 #f1f1f1;
	}
	.contacts::-webkit-scrollbar {
	  width: 5px;
	}
	.contacts::-webkit-scrollbar-track {
	  background: #f4f6f6;
	}
	.contacts::-webkit-scrollbar-thumb {
	  background: #888;
	}
	.phone-number{
		padding: 3% 5% 1% 5%;
		border-bottom: 1px solid lightgray;
		text-decoration: none;
	}
	.phone-number:hover{
		background-color: #f4f6f6;
	}
	.phone-number:focus{
		background-color: rgba(255, 255, 255, 0.5);
	}
	.right-container{
		width: 70%;
		background-color: #f9f9f9;
	}
	.right-navbar{
		width: 100%;
		height: 70px;
		background-color: #f4f6f6;
		color: black;
		padding: 2% 3%;
		box-shadow: none;
	}
	.chatbox-container{
		width: 100%;
		height: 80%;
		background-image: url('https://i.pinimg.com/736x/1e/4c/ef/1e4cefe5bf30c9878342660064560811.jpg');
		background-size: 100%;
		background-size: cover;
		background-repeat: no-repeat;
	}
	
	.chatbox{
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	.messages {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    height: 100%;
  }

  .messages::-webkit-scrollbar {
      display: none;
    }

  .message{
  	display: flex;
    flex-direction: column;
    min-width: 10%;
    max-width: 80%;
    margin: 10px;
    padding: 8px 12px;
    border-radius: 15px;
    word-wrap: break-word;
  }
  .reply-text{
  	display: flex;
  	flex-direction: row;
  	position: relative;
  	max-width: 85%;
	  align-items:flex-start;
  }
  .reply {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-content: center;
		justify-content: space-evenly;	
		min-width: 10%;
		max-width: 80%;
		margin: 10px;
		padding: 8px 12px;
		border-radius: 15px;	
		word-wrap: break-word;
    }
  .time{
		display: flex;
		justify-content: center;
		align-items: end;
		position: relative;
		bottom: 0;
		font-size: 10px;
		text-align: center;
  }
  .time-message{
		font-size: 10px;
		text-align: right;
    }
   .tick-status{
    	display: flex;
    	justify-content: center;
    	align-items: end;
    }
 
		#blue-tick{
			color: #53bdeb;
		}
		#blue-tick, #black-tick, #single-tick{
    font-size: 23px;
    font-variation-settings: 'wght' 300;	
    }	
    .message {
      color: black;
      background-color:white ; 
      align-self: flex-start;
    }

	.reply-bar{
		background-color: transparent;
		display: flex;
		border-top: 1px solid #dddddd;
		flex-direction: row;
		top:90%;
		bottom: 0;
	}

    .reply {
      color: black;
      background-color:#dcf8c6 ;
      align-self: flex-end;
    }

	.reply-box{
			width: 80%;
			height: 40px;
			margin: 1.5% 2% 0 2%;
			padding: 1% 2%;
			border-radius: 12px;
			background-color: #dddddd;
			border: 1px solid white;
			box-shadow: 2px 2px 2px gray, inset 3px 3px 3px lightgray;
			outline: none;
		}
	.send{
		width: 20%;
		height: 40px;
		margin: 0 1%;
		border-radius: 	12px;
		margin: 2% 2% 2% 1%;
	}
	#user_nav{
	    display: none!important;
	}
	a{
		text-decoration: none !important;
		color: black !important;
		display: block;
		height: 100%;
		width: 100%;
	}
	.indicator{
		width: 27px;
		height: 27px;
		background-color: #25d366;
		font-size: 15px;
		border-radius: 50%;
		padding: 0 14% 0 0;
		text-align: center;
		color: #fff;
		display: block;
	}
	.material-symbols-outlined {
		  font-variation-settings:
		  'FILL' 0,
		  'wght' 500,
		  'GRAD' 0,
		  'opsz' 24;
		  color: #54656f;
		  font-size: 50px;
		  margin: 1% 0 0 0;
<%# 		  cursor: pointer; %>
		}
		#send-button{
			background: transparent;
		}
		
</style>