<center><h1>Call Audit Report</h1></center><br>
<div class="col-lg-8 col-lg-offset-2">
	<%= form_tag 'call_audit_report', :html => {:class => 'form-horizontal'} do %>
		<div class="row">
			<div class="col-lg-2">
				Executives:
			</div>
			<div class="col-lg-4">
				<%= select_tag "personnel_id", options_for_select(@executives, selected: @executive), :class => 'form-control chosen'%>
			</div>
		</div><br>
		<div class="row">
			<div class="col-lg-1">
				From:
			</div>
			<div class="col-lg-3">
				<%= date_field_tag "from", @from.to_date, :class => 'form-control'%>
			</div>
			<div class="col-lg-1">
				To:
			</div>
			<div class="col-lg-3">
				<%= date_field_tag "to", @to.to_date, :class => 'form-control'%>
			</div>
			<div class="col-lg-2">
				<%= submit_tag "View Details", :class => "btn btn-primary"%>
			</div>
		</div>
	<%end%><br>
	<table class="customers">
		<thead>
			<th>Description</th>
			<th>Total Calls</th>
			<th>UnMatched</th>
			<th>Matched(Duration)</th>
			<!-- <th>Not Called</th> -->
		</thead>
		<tbody>
			<% @audit_report.each do |key, value| %>
				<tr>
					<td><%= key%></td>
					<%value.each do |call_data|%>
						<% if call_data.kind_of?(Array)%>
							<td><%= link_to call_data[0], report_detailed_audit_report_path(lead_data: call_data[1])%></td>
						<%else%>
							<td><%= call_data%></td>
						<%end%>
					<%end%>
				</tr>
			<%end%>
		</tbody>
	</table>
</div>
<script type="text/javascript">
  $(".chosen").chosen();
</script>