<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Project</Data></Cell>    
        <Cell><Data ss:Type="String">Block</Data></Cell>
        <Cell><Data ss:Type="String">Customer</Data></Cell>
        <Cell><Data ss:Type="String">Mobile</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">flat</Data></Cell>
        <Cell><Data ss:Type="String">Outstanding</Data></Cell>
      </Row>
      <% grand_total=0%>
      <% @flats.each do |flat| %>
        <% if flat.outstanding != 0 %>
          <Row>
            <Cell><Data ss:Type="String"><%= project_name = flat.block.business_unit.name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= block_name = flat.block.name%></Data></Cell>
            <Cell><Data ss:Type="String"><%= customer_name = flat.lead.name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= mobile = flat.lead.try(:mobile)%></Data></Cell>
            <Cell><Data ss:Type="String"><%= email = flat.lead.try(:email)%></Data></Cell>
            <Cell><Data ss:Type="String"><%= flat_name = flat.name%></Data></Cell>
            <Cell><Data ss:Type="String"><%= outstanding = flat.outstanding%></Data></Cell>
            <% grand_total += flat.outstanding %>
          </Row>
        <% end %>  
      <% end %>
        <Row>
          <Cell><Data ss:Type="String">Grand Total:</Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"><%= total = grand_total%></Data></Cell>
        </Row>
  </Table>
</Worksheet>
</Workbook>