<%@header = 'Maintenance Customer Ledger'%>
  <br>
<%= form_tag 'maintainance_bill_report_index', :html => {:class => 'form-horizontal'} do %>    
  <div class="row">   
    <div class="col-lg-3 col-lg-offset-1">
      <h4>Select Customer With their Flats:</h4>
    </div>
    <div class="col-lg-3">
      <%= select_tag 'flat[flat_id][]', options_for_select(@customer_with_flats), :class => 'form-control selectpicker', data: { live_search: true },:prompt => 'Please Select'%>
    </div>
    <div class="col-lg-2">
      <%= submit_tag 'View Details',:class => 'btn btn-primary btn-block' %>
    </div>
  </div>
<%end%>
<% if request.post?%>
  <div id="bill_report">
    <div class="col-lg-8 col-lg-offset-1">
      <h1>Maintenance Bill Report</h1>
    <div class="col-lg-2">
      <legend>customer:</legend>
    </div>
    <div class="col-lg-3">
      <legend><font color="#000"><%= @flat.lead.name%>-<%= @flat.full_name%></font></legend>
    </div>
    <table id="customers" >
      <thead>
        <th>Date</th>
        <th>Description</th>
        <th style="text-align: right!important;">Amount</th>
        <th style="text-align: right!important;">Balance</th>
        <th></th>
      </thead>
      <tbody>
        <% 
          maintainance_bill_amount=0
          money_receipt_amount=0
          balance=0
        %>
        <% if @flat.try(:opening_balance) != nil %>
          <tr>
            <td>22.06.20</td>
            <td>Opening Balance: </td>
            <td style="text-align: right!important;"><%= @flat.opening_balance %></td>
            <% balance += @flat.opening_balance %>
            <td style="text-align: right!important;"><%= balance %></td>
            <td></td>
          </tr>
        <% end %>
        <% @both_documents.each do |both_document|%>
          <%if both_document.class == MaintainenceBill%>
            <tr>
              <td><%= both_document.date.to_date.strftime('%d.%m.%y')%></td>
              <td>Maintenance Bill-Period: <%= both_document.from.to_date.strftime('%d.%m.%y')%>to <%= both_document.to.to_date.strftime('%d.%m.%y')%>-Rate: <%= both_document.rate%></td>
              <td style="text-align: right!important;"><%= both_document.amount%></td>
              <% balance += both_document.amount %>
              <td style="text-align: right!important;"><%= balance %></td>
              <td><%= link_to 'Preview', maintainance_bill_maintainance_bill_preview_index_path(both_document),:class => 'link_btn ', :style => "text-decoration: none"%></td>
            </tr>
          <%elsif both_document.class == MoneyReceipt%>
            <tr>
              <td><%= both_document.date.to_date.strftime('%d.%m.%y')%></td>
              <td>Money Receipt-Customer: <%= both_document.lead.name%>-Flat: <%= both_document.flat.full_name%></td>
              <td style="text-align: right!important;">-<%= both_document.amount%></td>
              <% balance = balance-both_document.amount %>
              <td style="text-align: right!important;"><%= balance %></td>
              <td><%= link_to 'Preview', maintainance_bill_money_receipt_preview_index_path(both_document),:class => 'link_btn ', :style => "text-decoration: none"%></td>
            </tr>
          <%end%>
        <%end%>
      </tbody>
    </table>
  </div>
<%end%>
  </div>
<style>
  
 .col-lg-offset-1 {
    margin-left: 16.333333% !important;
}
.col-lg-2{
  margin-left: -15px!important;
}
</style>
<script type="text/javascript">
  $(".chosen").chosen();
</script>
