<%= form_tag 'monthly_target_create', :html => {:class => 'form-horizontal'} do %>  
  <div class="col-lg-5 col-lg-offset-3">
    <div class="well bs-component">
      <legend>&nbspMonthly Traget</legend>
      <div class="row">
        <div class="col-lg-2">
          <%= label_tag :'Project' %>
        </div>
        <div class="col-lg-10">
          <%= select(:business_unit, :business_unit_id, options_for_select(@business_units, selected: @business_unit_id),{}, {:class => 'form-control'}) %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-2">
          <%= label_tag :'Month' %>
        </div>
        <div class="col-lg-4">
            <%= select_month((Date.today.month), {},{:class => "form-control"}) %>
        </div>
        <div class="col-lg-2">
          <%= label_tag :'Year' %>
        </div>      
        <div class="col-lg-4">
            <%= select_year Date.today, {:start_year => (Date.today+1.year).year, :end_year => -3.year.from_now.year}, :class => "form-control" %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-2">
          <%= label_tag :'Leads' %>
        </div>
        <div class="col-lg-4">
          <%= text_field_tag 'monthly_target[leads]','', :class => 'form-control'%>
        </div>    
        <div class="col-lg-2">
          <%= label_tag :'Bookings' %>
        </div>
        <div class="col-lg-4">
           <%= text_field_tag 'monthly_target[booking]','', :class => 'form-control'%>
        </div>
      </div>
      <br> 
      <div class="row">
        <div class="col-lg-2">
          <%= label_tag :'Collection' %>
        </div>
        <div class="col-lg-4">
          <%= text_field_tag 'monthly_target[collection]','', :class => 'form-control'%>
        </div>
        <div class="col-lg-2">
          <%= label_tag :'Activities' %>
        </div>
        <div class="col-lg-4">
          <%= text_field_tag 'monthly_target[activity]','', :class => 'form-control'%>
        </div>
      </div>  
      <div class="form-group row">
        <div class="col-lg-8 col-lg-offset-4">
          <br>
          <%= submit_tag 'Submit',:class => 'btn btn-primary btn_width' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<style>
  .well{
    width: 700px !important;
    height: auto !important;
  }
  .btn_width{
    width: 50% !important;
  }
</style>
<script type="text/javascript">
  $(".chosen").chosen();
</script>
