<% @demand_money_receipt_with_gst=DemandMoneyReceipt.find(demand_money_receipt_id.to_i)%>
<html>
    <head>
    <style>
    * { margin: 0; padding: 0; }
    /**/
    body {font-family: Arial, Helvetica, sans-serif;}
    #page-wrap { width: 850px; height: 455px; margin: 0 auto; background: #fff !important; border: 1px solid #000; }

    textarea { border: 0; font: 14px Times, Serif; overflow: hidden; resize: none; }
   
    .delivery_to { border: 0; font: 14px Times, Serif; height:130px;width:240px; resize: none; }

    table { border-collapse: collapse; width: 845px;}
    table td, table th { border: 1px solid black !important; padding: 2px; background: #fff !important; color: #584d4d!important}

    #header { height: 100px; width: 100%; margin: 10px 0; background: #fff; text-align: center; color: #584d4d;font: bold;text-decoration: uppercase;  padding: 4px 0px; }

    .customeraddress { margin: 0 10px 0 0; width: 220px; height: 300px; float: left; }
    /**/
    .cc_mail_box{width: 200px; height: 25px; font: 14px Times, Serif; }
    #attachment_box{border: 0; font: 14px Times, Serif; height:120px;width:270px; resize: none; float: left; position: relative; top: 61px; }
    #attachment_else_box{border: 0; font: 14px Times, Serif; height:120px;width:270px; resize: none; float: left; right: 370px; position: relative; top: 61px; }
    #regular_attachment_box{border: 0; font: 14px Times, Serif; height:120px;width:270px; resize: none;float:left; position: relative; bottom: 140px; left: 720px}
    #found_ok {width: 25em;  height: 5em; float: center; position: relative; bottom: -57px; left: 235px}
    #customer { overflow: hidden; }
    #button { width: 250px; height: 50px; float: right; }
    #smallbutton {width: 125px; height: 50px; float: right; }
    #sidesmallbutton {width: 125px; height: 50px; float: right;}
    #leftsmallbutton { width: 125px; height: 50px; float: left; }
    #logo { text-align: right; float: right; position: relative; margin-top: 0px; margin-right: 60px; border: 1px solid #fff; max-width: 540px; max-height: 150px; overflow: hidden; float:center; }
    #logoctr { display: none; }
    #logo:hover #logoctr, #logo.edit #logoctr { display: block; text-align: right; line-height: 25px; background: #22222263; padding: 0 5px; }
    #logohelp { text-align: left; display: none; font-style: italic; padding: 10px 5px;}
    #logohelp input { margin-bottom: 5px; }
    .edit #logohelp { display: block; }
    .edit #save-logo, .edit #cancel-logo { display: inline; }
    .edit #image, #save-logo, #cancel-logo, .edit #change-logo, .edit #delete-logo { display: none; }
    #customer-title { font-size: 15px; font-weight: bold; }

    #meta { margin-top: 1px; width: 845px; float: right; }

    #meta td.meta-head { width: 200px; text-align: left; background: #22222263; }
    #meta td textarea { width: 700px; text-align: left; }

    #metadata { margin-top: 1px; width: 845px; float: left; }
    #metadata td { text-align: left;  }
    #metadata td.meta-head { width: 20px; text-align: left; background: #22222263; }
    #metadata td textarea { height: 20px; text-align: left; width: 200px; }

    #items { clear: both; width: 100%; margin: 30px 0 0 0 }
    #items th { background: #c85e17; }
    #items th.quantity { text-align: right; }
    #items textarea { width: 80px; height: 50px; }
    #items tr.item-row td { border-width: 0px; border-bottom: 1px solid black; vertical-align: top; }
    #items td.description { width: 300px; }
    #items td.item-name { width: 175px; }
    #items td.description textarea, #items td.item-name textarea { width: 100%; }
    #items td.total-line { border-right: 0; text-align: right; }
    #items td.reg-nos { border-right: 0; text-align: center; text-transform: uppercase; font: 13px Helvetica, Sans-Serif; letter-spacing: 5px; }
    #items td.quantity { text-align: right; }
    #items td.quantity_centre { text-align: center; }

    #items td.total-value { border-left: 0; padding: 10px; text-align: right; }
    #items td.total-value textarea { height: 20px; background: none; }
    #items td.balance { background: #c85e17; }
    #items td.blank { border: 0; }
    .tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}

    #terms { text-align: left; margin: 8px 0 0 0; }
    #terms h5 { text-transform: uppercase; font: 13px Helvetica, Sans-Serif; letter-spacing: 10px; border-bottom: 1px solid black; padding: 0 0 4px 0; margin: 0 0 8px 0; }
    #terms h3 { text-align: center; font: 10px Helvetica, Sans-Serif; letter-spacing: 4px; padding: 0 0 8px 0; margin: 0 0 4px 0; }
    #terms h4 { text-align: center; font: 15px Helvetica, Sans-Serif; letter-spacing: 4px; border-bottom: 1px solid black; padding: 0 0 8px 0; margin: 0 0 4px 0; }

    #terms textarea { width: 100%; text-align: left;}

    .auto-textarea{height:auto; width:auto;}
    .quatation_details{width:100px;}
    .item_details{width:770px;text-align:justify;text-justify:inter-word;}
    .delete-wpr { position: relative; }
    .delete { display: block; color: #000; text-decoration: none; position: absolute; background: #EEEEEE; font-weight: bold; padding: 0px 3px; border: 1px solid; top: -6px; left: -22px; font-family: Verdana; font-size: 12px; }

    .address { margin: 0 10px 10px 0; width: 200px; height: 120px; float: right;text-align: left; }
    .customer_address {  border: 0; font: 14px Times, Serif; width:200px; text-align:left; float: right; }
    .company_address { border: 0; font: 14px Times, Serif; width:240px; resize: none; text-align: left; float: left;   }
    </style>
  </head>


  <body>
    <table class="table table-striped table-hover metadata">
      <tbody>
          <tr>
            <td colspan="3">
              <center>
                <%= image_tag(@demand_money_receipt_with_gst.booking.cost_sheet.lead.personnel.organisation.group_logo, alt: "", class: "ledger-logo") %>  
              </center>
            </td>
            <td colspan="6">
              <center>
                <% if @demand_money_receipt_with_gst.booking.cost_sheet.flat.block.name == 'Block-1'|| @demand_money_receipt_with_gst.booking.cost_sheet.flat.block.name == 'Block-2' %>
                  <p><b>Jain Group Projects Pvt. Ltd.</b><br><U>44/2A, Hazra Road, Kolkata-700019</U><br><U>Demand Money receipt</U><br><u>Project: <%=@demand_money_receipt_with_gst.booking.cost_sheet.flat.block.business_unit.name %></u></p>
                <%elsif @demand_money_receipt_with_gst.booking.cost_sheet.flat.block.name == 'Block-3'|| @demand_money_receipt_with_gst.booking.cost_sheet.flat.block.name == 'Block-4' %>    
                    <p><b>Dream Gateway Hotels Limited</b><br><U>44/2A, Hazra Road, Kolkata-700019</U><br><U>Demand Money receipt</U><br><u>Project: <%=@demand_money_receipt_with_gst.booking.cost_sheet.flat.block.business_unit.name %></u></p>
                <%else%>
                    <p><b>JSB Infrastructures</b><br><U>Jhalukpara, Dibrugarh-786001, Assam</U><br><U>Receipt Voucher</U><br><u>Project: <%=@demand_money_receipt_with_gst.booking.cost_sheet.flat.block.business_unit.name %></u><br><u><%= @demand_money_receipt_with_gst.booking.cost_sheet.flat.block.business_unit.try(:address_1)%>, <%= @demand_money_receipt_with_gst.booking.cost_sheet.flat.block.business_unit.try(:address_2)%>, <%= @demand_money_receipt_with_gst.booking.cost_sheet.flat.block.business_unit.try(:address_3)%>, <%= @demand_money_receipt_with_gst.booking.cost_sheet.flat.block.business_unit.try(:address_4)%></u></p>
                <%end%>
              </center>
            </td>
            <td colspan="3">
              <center>
                <%= image_tag(@demand_money_receipt_with_gst.booking.cost_sheet.flat.block.business_unit.logo, alt: "", class: "ledger-logo") %>  
              </center>
            </td>
          </tr>
          <tr>
            <td colspan="12" style="text-align: right !important; color: #000 !important;">
              <% if @demand_money_receipt_with_gst.date.month>3 %>
              <b>Sl No:</b><%=current_personnel.organisation.shortform %>/<%= @demand_money_receipt_with_gst.booking.cost_sheet.flat.block.business_unit.shortform %>/<%= @demand_money_receipt_with_gst.date.year-2000 %><%= @demand_money_receipt_with_gst.date.year-2000+1%>/<%= @demand_money_receipt_with_gst.serial.to_s.rjust(3, '0') %>
              <% else %>
              <b>Sl No:</b><%=current_personnel.organisation.shortform %>/<%= @demand_money_receipt_with_gst.booking.cost_sheet.flat.block.business_unit.shortform %>/<%= @demand_money_receipt_with_gst.date.year-2000-1 %><%= @demand_money_receipt_with_gst.date.year-2000%>/<%= @demand_money_receipt_with_gst.serial.to_s.rjust(3, '0') %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td colspan="10" style="background-color: #0083ff!important;"><center><b style="color: #fff!important;">Money Receipt</b></center></td>
          </tr>
        <tr>
          <% if current_personnel.organisation_id == 6 %>
            <td colspan="2"><b>Name of Customer:</b></td>
          <%else%>
            <td colspan="2"><b>Name of Owner:</b></td>
          <%end%>
          <td colspan="4"><b><%= @demand_money_receipt_with_gst.booking.cost_sheet.lead.name%></b></td>
          <td colspan="2"><%= @demand_money_receipt_with_gst.booking.cost_sheet.flat.block.name%>, Flat <%= @demand_money_receipt_with_gst.booking.cost_sheet.flat.full_name%></td>
          <%if current_personnel.organisation_id == 6%>
            <td colspan="1"><b>PAN:</b></td>
            <td colspan="1"><%= @demand_money_receipt_with_gst.booking.cost_sheet.lead.try(:pan)%></td>          
          <%else%>
            <td colspan="1"><b><%=@demand_money_receipt_with_gst.booking.cost_sheet.flat.SBA %> sft</b></td>
            <td colspan="1"><b>@<%= @demand_money_receipt_with_gst.booking.cost_sheet.flat.rate%>/sft</b></td>          
          <%end%>
        </tr>

          <tr>
            <td colspan="10"><b>Customer Address: </b><%= @demand_money_receipt_with_gst.booking.cost_sheet.lead.try(:address)%>, <b>Area:</b><%= @demand_money_receipt_with_gst.booking.cost_sheet.lead.try(:area).try(:name)%>, <b>City: </b><%= @demand_money_receipt_with_gst.booking.cost_sheet.lead.try(:city).try(:name)%>, <b>Pincode: </b><%= @demand_money_receipt_with_gst.booking.cost_sheet.lead.try(:pincode)%>, <b>State: </b><%= @demand_money_receipt_with_gst.booking.cost_sheet.lead.try(:state)%></td>
          </tr>
       
          <tr>
          	<%if current_personnel.organisation_id == 6%>
              <td colspan="4"><b>Place of Supply:</b> Assam</td>
              <td colspan="3"><b>State Code:</b>  18</td>           
            <%else%>
              <td colspan="4"><b>Place of Supply:</b> West Bengal</td>
              <td colspan="3"><b>State Code:</b>  19</td>           
            <%end%>
          	<% if current_personnel.organisation_id == 6%>
              <td colspan="3"><b>HSN Code:</b> 995411 </td>
            <%else%>
              <td colspan="3"><b>HSN Code:</b> 9954 </td>
            <%end%>
          </tr>
          <tr>
            <td colspan="12"><b>Payment Mode: </b><%= @demand_money_receipt_with_gst.payment_mode%>, <b>No.: </b><%= @demand_money_receipt_with_gst.cheque_number%>, <b>Dated: </b><%= @demand_money_receipt_with_gst.instrument_date.try{|x| x.strftime('%d/%m/%Y')}%>, <b>Drawn On: </b><%= @demand_money_receipt_with_gst.try(:bank_name)%></td>
          </tr>
          <tr>
            <td colspan="6"><b>Payment Date: </b></td>
            <td colspan="6" style="text-align: right!important;">
              <%= @demand_money_receipt_with_gst.date.to_date.strftime('%d/%m/%Y')%>  
            </td>     
          </tr>
          <tr>	
          	<td colspan="6"><b>Advance Taken:</b></td>
          	<td colspan="6" style="text-align: right!important;"> 
          		<% if @demand_money_receipt_with_gst.taxable_value == " "|| @demand_money_receipt_with_gst.taxable_value == nil %>
                <% taxable_value = @demand_money_receipt_with_gst.taxable_value = 0 %>
                <% tax_with_gst = taxable_value %>
                <% non_taxable_amoumt = @demand_money_receipt_with_gst.amount - tax_with_gst  %>
                <%= image_tag 'https://bl6pap003files.storage.live.com/y4mzP5RhDz4tzH3pS6Keb00ixHe5wre6QbYnlTOb7feaji2KIPbVueumbYcvNRyA0sZ4CJ3Q_iIn2aNGPmIPjScrg1VYVdGkffEn667PzTLgdapkDcqH3t0tq5sdJ7arr53YGh2eZYDN1ZMZ1beIaFuMzVbEhQp-1hHSE1zUDQYIzIzHIqkKHzgUmRdLR1eexho?width=512&height=512&cropmode=none', alt: "", class: "rupee_icon"%> <%= comma_separated((non_taxable_amoumt + @demand_money_receipt_with_gst.taxable_value).round) %>
              <%elsif @demand_money_receipt_with_gst.booking.cost_sheet.flat.block.business_unit.taxes[0].overall==1 %>
                <% tax_with_gst = @demand_money_receipt_with_gst.taxable_value*(1.015) %>
                <% non_taxable_amoumt = @demand_money_receipt_with_gst.amount - tax_with_gst  %>
                <%= image_tag 'https://bl6pap003files.storage.live.com/y4mzP5RhDz4tzH3pS6Keb00ixHe5wre6QbYnlTOb7feaji2KIPbVueumbYcvNRyA0sZ4CJ3Q_iIn2aNGPmIPjScrg1VYVdGkffEn667PzTLgdapkDcqH3t0tq5sdJ7arr53YGh2eZYDN1ZMZ1beIaFuMzVbEhQp-1hHSE1zUDQYIzIzHIqkKHzgUmRdLR1eexho?width=512&height=512&cropmode=none', alt: "", class: "rupee_icon"%> <%= comma_separated((non_taxable_amoumt + @demand_money_receipt_with_gst.taxable_value).round) %>
              <%else%>
                <% tax_with_gst = @demand_money_receipt_with_gst.taxable_value*(1.075) %>
                <% non_taxable_amoumt = @demand_money_receipt_with_gst.amount - tax_with_gst  %>
                <%= image_tag 'https://bl6pap003files.storage.live.com/y4mzP5RhDz4tzH3pS6Keb00ixHe5wre6QbYnlTOb7feaji2KIPbVueumbYcvNRyA0sZ4CJ3Q_iIn2aNGPmIPjScrg1VYVdGkffEn667PzTLgdapkDcqH3t0tq5sdJ7arr53YGh2eZYDN1ZMZ1beIaFuMzVbEhQp-1hHSE1zUDQYIzIzHIqkKHzgUmRdLR1eexho?width=512&height=512&cropmode=none', alt: "", class: "rupee_icon"%> <%= comma_separated((non_taxable_amoumt + @demand_money_receipt_with_gst.taxable_value).round) %>  
              <%end%>
          	</td>
          </tr>
    	    <tr>
          	<td colspan="6"><b>Taxable Value: </b></td>
          	<td colspan="6" style="text-align: right!important;">
              <% if @demand_money_receipt_with_gst.taxable_value == " "|| @demand_money_receipt_with_gst.taxable_value == nil %>
                <% taxable_value = @demand_money_receipt_with_gst.taxable_value = 0 %>
                <%= image_tag 'https://bl6pap003files.storage.live.com/y4mzP5RhDz4tzH3pS6Keb00ixHe5wre6QbYnlTOb7feaji2KIPbVueumbYcvNRyA0sZ4CJ3Q_iIn2aNGPmIPjScrg1VYVdGkffEn667PzTLgdapkDcqH3t0tq5sdJ7arr53YGh2eZYDN1ZMZ1beIaFuMzVbEhQp-1hHSE1zUDQYIzIzHIqkKHzgUmRdLR1eexho?width=512&height=512&cropmode=none', alt: "", class: "rupee_icon"%> <%= comma_separated(taxable_value) %>
              <%else%>
                <%= image_tag 'https://bl6pap003files.storage.live.com/y4mzP5RhDz4tzH3pS6Keb00ixHe5wre6QbYnlTOb7feaji2KIPbVueumbYcvNRyA0sZ4CJ3Q_iIn2aNGPmIPjScrg1VYVdGkffEn667PzTLgdapkDcqH3t0tq5sdJ7arr53YGh2eZYDN1ZMZ1beIaFuMzVbEhQp-1hHSE1zUDQYIzIzHIqkKHzgUmRdLR1eexho?width=512&height=512&cropmode=none', alt: "", class: "rupee_icon"%> <%= comma_separated((@demand_money_receipt_with_gst.taxable_value).round)%>
              <%end%>
            </td>
          </tr>
                    
          <% if @demand_money_receipt_with_gst.booking.cost_sheet.flat.block.business_unit.taxes[0].overall==1 %>
          <tr>
          	<td colspan="6"><b>CGST(@0.75%): </b></td>
          	<td colspan="6" style="text-align: right!important;"><%= image_tag 'https://bl6pap003files.storage.live.com/y4mzP5RhDz4tzH3pS6Keb00ixHe5wre6QbYnlTOb7feaji2KIPbVueumbYcvNRyA0sZ4CJ3Q_iIn2aNGPmIPjScrg1VYVdGkffEn667PzTLgdapkDcqH3t0tq5sdJ7arr53YGh2eZYDN1ZMZ1beIaFuMzVbEhQp-1hHSE1zUDQYIzIzHIqkKHzgUmRdLR1eexho?width=512&height=512&cropmode=none', alt: "", class: "rupee_icon"%> <%= comma_separated((@demand_money_receipt_with_gst.taxable_value*(0.0075)).round)%></td>
          </tr>
          <tr>
          	<td colspan="6"><b>SGST(@0.75%): </b></td>
          	<td colspan="6" style="text-align: right!important;"><%= image_tag 'https://bl6pap003files.storage.live.com/y4mzP5RhDz4tzH3pS6Keb00ixHe5wre6QbYnlTOb7feaji2KIPbVueumbYcvNRyA0sZ4CJ3Q_iIn2aNGPmIPjScrg1VYVdGkffEn667PzTLgdapkDcqH3t0tq5sdJ7arr53YGh2eZYDN1ZMZ1beIaFuMzVbEhQp-1hHSE1zUDQYIzIzHIqkKHzgUmRdLR1eexho?width=512&height=512&cropmode=none', alt: "", class: "rupee_icon"%> <%= comma_separated((@demand_money_receipt_with_gst.taxable_value*(0.0075)).round) %></td>
          </tr>
          <% else %>
          <tr>
            <td colspan="6"><b>CGST(@3.75%): </b></td>
            <td colspan="6" style="text-align: right!important;"><%= image_tag 'https://bl6pap003files.storage.live.com/y4mzP5RhDz4tzH3pS6Keb00ixHe5wre6QbYnlTOb7feaji2KIPbVueumbYcvNRyA0sZ4CJ3Q_iIn2aNGPmIPjScrg1VYVdGkffEn667PzTLgdapkDcqH3t0tq5sdJ7arr53YGh2eZYDN1ZMZ1beIaFuMzVbEhQp-1hHSE1zUDQYIzIzHIqkKHzgUmRdLR1eexho?width=512&height=512&cropmode=none', alt: "", class: "rupee_icon"%> <%= comma_separated((@demand_money_receipt_with_gst.taxable_value*(0.0375)).round)%></td>
          </tr>
          <tr>
            <td colspan="6"><b>SGST(@3.75%): </b></td>
            <td colspan="6" style="text-align: right!important;"><%= image_tag 'https://bl6pap003files.storage.live.com/y4mzP5RhDz4tzH3pS6Keb00ixHe5wre6QbYnlTOb7feaji2KIPbVueumbYcvNRyA0sZ4CJ3Q_iIn2aNGPmIPjScrg1VYVdGkffEn667PzTLgdapkDcqH3t0tq5sdJ7arr53YGh2eZYDN1ZMZ1beIaFuMzVbEhQp-1hHSE1zUDQYIzIzHIqkKHzgUmRdLR1eexho?width=512&height=512&cropmode=none', alt: "", class: "rupee_icon"%> <%= comma_separated((@demand_money_receipt_with_gst.taxable_value*(0.0375)).round) %></td>
          </tr>
          <% end %>

          <tr>
          	<td colspan="6"><b>Grand Total: </b></td>
          	<td colspan="6" style="text-align: right!important;"><%= image_tag 'https://bl6pap003files.storage.live.com/y4mzP5RhDz4tzH3pS6Keb00ixHe5wre6QbYnlTOb7feaji2KIPbVueumbYcvNRyA0sZ4CJ3Q_iIn2aNGPmIPjScrg1VYVdGkffEn667PzTLgdapkDcqH3t0tq5sdJ7arr53YGh2eZYDN1ZMZ1beIaFuMzVbEhQp-1hHSE1zUDQYIzIzHIqkKHzgUmRdLR1eexho?width=512&height=512&cropmode=none', alt: "", class: "rupee_icon"%> <%= comma_separated((@demand_money_receipt_with_gst.amount).round)%></td>
          </tr>

          <tr>
            <td colspan="12">Amount in words (Rs.): <b><i><%= (@demand_money_receipt_with_gst.amount).round.rupees%> only.</i></b></td>
          </tr>
          
          <tr>
            <% if @demand_money_receipt_with_gst.booking.cost_sheet.flat.block.name == 'Block-1'|| @demand_money_receipt_with_gst.booking.cost_sheet.flat.block.name == 'Block-2' %>
              <td colspan="6">
                Company Name: Jain Group Projects Pvt. Ltd.<br>
                PAN: AACCJ1203D<br>
                GSTIN: 19AACCJ1203D1Z7<br>
                SAC CODE: 995411<br>
                Bank Name : HDFC BANK LTD<br>
                Bank Branch Add : South Calcutta Girls College Branch<br>
                Kolkata : 700025<br>
                Bank A/C No : 50200006506346<br>
                IFSC : HDFC0001404
              </td>
            <%elsif @demand_money_receipt_with_gst.booking.cost_sheet.flat.block.name == 'Block-3'|| @demand_money_receipt_with_gst.booking.cost_sheet.flat.block.name == 'Block-4' %>    
              <td colspan="6">
            		Company Name: Dream Gateway Hotels Ltd.<br>
        				PAN: AADCD0692H<br>
        				GSTIN: AADCD0692H1ZL<br>
        				SAC CODE: 995411<br>
        				Bank Name : HDFC BANK LTD<br>
        				Bank Branch Add : 72 SARAT BOSE ROAD<br>
        				Kolkata : 700025<br>
        				Bank A/C No : 50200006508062<br>
        				IFSC : HDFC0001404
  			      </td>
            <% elsif @demand_money_receipt_with_gst.booking.cost_sheet.flat.block.business_unit.name=='JSB Jyoti Residency' %>
            <td colspan="6">
                Company Name: JSB Infrastructures<br>
                GSTIN: 18AAHFJ8556F1Z0<br>
              
            </td>
            <% elsif @demand_money_receipt_with_gst.booking.cost_sheet.flat.block.business_unit.name=='JSB Springfield' %>
            <td colspan="5">
                Company Name: JSB Infrastructures<br>
                GSTIN: 18AAHFJ8556F1Z0<br>
            </td>
            <% elsif @demand_money_receipt_with_gst.booking.cost_sheet.flat.block.business_unit.name=='JSB Lake Front' %>
            <td colspan="5">
                Company Name: JSB Infrastructures<br>
                GSTIN: 18AAHFJ8556F1Z0<br>
            </td>
            <% else %>
            <td colspan="6">
                Company Name: JSB Infrastructures<br>
                GSTIN: 18AAHFJ8556F1Z0<br>
            </td>       
            <%end%>
          	<td colspan="6">
              <% if @demand_money_receipt_with_gst.booking.cost_sheet.flat.block.name == 'Block-1'|| @demand_money_receipt_with_gst.booking.cost_sheet.flat.block.name == 'Block-2' %>
                E & O.E.<br><br><br>For Jain Group Projects Pvt. Ltd.<br><br><br>This is a computer generated document no signature required
              <%elsif @demand_money_receipt_with_gst.booking.cost_sheet.flat.block.name == 'Block-3'|| @demand_money_receipt_with_gst.booking.cost_sheet.flat.block.name == 'Block-4' %>      
          		  E & O.E.<br><br><br>For Dream Gateway Hotels Ltd.<br><br><br>This is a computer generated document no signature required
              <%else%>
                E & O.E.<br><%= image_tag 'https://dm2304files.storage.live.com/y4mmRc8He-bBMhxijexsqhppV7Q6-3OcMsuMmY4iFRfSL-fhG0nIImEwBtApY2r0yRbP8o5uC9YssQo2Vn7a4WA-RXIsrvMQ1OP3CZ8E5swI7UUI_wMaPmIAXn7M4FqrzGV-6pj7xzDD8c8ZqqxBQgoVI2Np92vVRjnx8tFSSz9rh-mOSES-exIVRBbudp0ICXZ?width=384&height=161&cropmode=none', alt: "", class: "signature"%><br>JSB Infrastructures
              <%end%>
          	</td>
          </tr>
</tbody>
</table> 
<style type="text/css">
  .ledger-logo{
    width: 150px!important;
    height: auto!important;
  }
  .rupee_icon{
      width: 11px!important;
      height: auto!important;
     }
     
  .signature{
    width: 120px;
    height: auto;
  }
  .table > thead > tr > th,
        .table > tbody > tr > th,
        .table > tfoot > tr > th,
        .table > thead > tr > td,
        .table > tbody > tr > td,
        .table > tfoot > tr > td {
          padding: 12px!important;
          line-height: 1.42857143;
          vertical-align: middle!important;
          /*border-top: 1px solid transparent;*/
        }
</style> 

    </body>

</html>