<%= form_tag 'builder_noc_send', :html => {:class => 'form-horizontal'} do %>
<%= hidden_field_tag 'booking_id', @booking.id%>
<html>
  <head>
    <style>
    * { margin: 0; padding: 0; }
    /**/
    body { font: 14px/1.4 Times, Serif; }
    #page-wrap { width: 850px; height: 900px; margin: 0 auto; background: #fff !important; border: 2px solid #000; }

    textarea { border: 0; font: 14px Times, Serif; overflow: hidden; resize: none; }
   
    .delivery_to { border: 0; font: 14px Times, Serif; height:130px;width:240px; resize: none; }

    table { border-collapse: collapse; width: 845px;}
    table td, table th { border: 2px solid black !important; padding: 2px; background: #fff !important; color: #000!important;}

    #header { height: 100px; width: 100%; margin: 10px 0; background: #fff; text-align: center; color: #000;font: bold;text-decoration: uppercase;  padding: 4px 0px; }

    .customeraddress { margin: 0 10px 0 0; width: 220px; height: 300px; float: left; }
    /**/
    .cc_mail_box{width: 200px; height: 25px; font: 14px Times, Serif; }
    #attachment_box{border: 0; font: 14px Times, Serif; height:120px;width:270px; resize: none; float: left; position: relative; top: 61px; }
    #attachment_else_box{border: 0; font: 14px Times, Serif; height:120px;width:270px; resize: none; float: left; right: 370px; position: relative; top: 61px; }
    #regular_attachment_box{border: 0; font: 14px Times, Serif; height:120px;width:270px; resize: none;float:left; position: relative; bottom: 140px; left: 720px}
    #found_ok {width: 25em;  height: 5em; float: center; position: relative; bottom: -57px; left: 235px}
    #customer { overflow: hidden; }
    #button { width: 250px; height: 50px; float: right; }
    #smallbutton {width: 125px; height: 50px; float: right; }
    #sidesmallbutton {width: 125px; height: 50px; float: right;}
    #leftsmallbutton { width: 125px; height: 50px; float: left; }
    #logo { text-align: right; float: right; position: relative; margin-top: 0px; margin-right: 60px; border: 1px solid #fff; max-width: 540px; max-height: 150px; overflow: hidden; float:center; }
    #logoctr { display: none; }
    #logo:hover #logoctr, #logo.edit #logoctr { display: block; text-align: right; line-height: 25px; background: #22222263; padding: 0 5px; }
    #logohelp { text-align: left; display: none; font-style: italic; padding: 10px 5px;}
    #logohelp input { margin-bottom: 5px; }
    .edit #logohelp { display: block; }
    .edit #save-logo, .edit #cancel-logo { display: inline; }
    .edit #image, #save-logo, #cancel-logo, .edit #change-logo, .edit #delete-logo { display: none; }
    #customer-title { font-size: 15px; font-weight: bold; }

    #meta { margin-top: 1px; width: 845px; float: right; }

    #meta td.meta-head { width: 200px; text-align: left; background: #22222263; }
    #meta td textarea { width: 700px; text-align: left; }

    #metadata { margin-top: 1px; width: 845px; float: left; }
    #metadata td { text-align: left;  }
    #metadata td.meta-head { width: 20px; text-align: left; background: #22222263; }
    #metadata td textarea { height: 20px; text-align: left; width: 200px; }

    #items { clear: both; width: 100%; margin: 30px 0 0 0 }
    #items th { background: #c85e17; }
    #items th.quantity { text-align: right; }
    #items textarea { width: 80px; height: 50px; }
    #items tr.item-row td { border-width: 0px; border-bottom: 1px solid black; vertical-align: top; }
    #items td.description { width: 300px; }
    #items td.item-name { width: 175px; }
    #items td.description textarea, #items td.item-name textarea { width: 100%; }
    #items td.total-line { border-right: 0; text-align: right; }
    #items td.reg-nos { border-right: 0; text-align: center; text-transform: uppercase; font: 13px Helvetica, Sans-Serif; letter-spacing: 5px; }
    #items td.quantity { text-align: right; }
    #items td.quantity_centre { text-align: center; }

    #items td.total-value { border-left: 0; padding: 10px; text-align: right; }
    #items td.total-value textarea { height: 20px; background: none; }
    #items td.balance { background: #c85e17; }
    #items td.blank { border: 0; }
    .tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}

    #terms { text-align: left; margin: 8px 0 0 0; }
    #terms h5 { text-transform: uppercase; font: 13px Helvetica, Sans-Serif; letter-spacing: 10px; border-bottom: 1px solid black; padding: 0 0 4px 0; margin: 0 0 8px 0; }
    #terms h3 { text-align: center; font: 10px Helvetica, Sans-Serif; letter-spacing: 4px; padding: 0 0 8px 0; margin: 0 0 4px 0; }
    #terms h4 { text-align: center; font: 15px Helvetica, Sans-Serif; letter-spacing: 4px; border-bottom: 1px solid black; padding: 0 0 8px 0; margin: 0 0 4px 0; }

    #terms textarea { width: 100%; text-align: left;}

    .auto-textarea{height:auto; width:auto;}
    .quatation_details{width:100px;}
    .item_details{width:770px;text-align:justify;text-justify:inter-word;}
    .delete-wpr { position: relative; }
    .delete { display: block; color: #000; text-decoration: none; position: absolute; background: #EEEEEE; font-weight: bold; padding: 0px 3px; border: 1px solid; top: -6px; left: -22px; font-family: Verdana; font-size: 12px; }

    .address { margin: 0 10px 10px 0; width: 200px; height: 120px; float: right;text-align: left; }
    .customer_address {  border: 0; font: 14px Times, Serif; width:200px; text-align:left; float: right; }
    .company_address { border: 0; font: 14px Times, Serif; width:240px; resize: none; text-align: left; float: left;   }
    </style>
  </head>

  <body>
    <div id="page-wrap">
      <div id="header">
        <div class="row">
          <div class="col-md-3">
            <%= image_tag(@booking.cost_sheet.lead.personnel.organisation.group_logo, alt: "", class: "ledger-logo") %>
          </div>
          <div class="col-md-6">
            <p><b>Dream Gateway Hotels Ltd.</b><br><U>44/2A, Hazra Road, Kolkata-700019</U><br><U>Tel: 03340319999</U><br><u>Website: www.thejaingroup.com</u><br><u>E-mail: contact@thejaingroup.com</u><br><u>Project: <%= @booking.cost_sheet.flat.block.business_unit.name%></u></p>
          </div>
          <div class="col-md-3">
            <%= image_tag(@booking.cost_sheet.flat.block.business_unit.logo, alt: "", class: "ledger-logo") %>
          </div>
        </div>
      </div>                    
      <div class="row">
        <div class="col-md-6">
          
        </div>
        <div class="col-md-6">
        	<br>
          <p style="text-align: right !important; color: #000 !important;"><br>Date: <%= DateTime.now.to_date.strftime('%d/%m/%Y')%><br></p>
        </div>
      </div>	
      <div class="row">
        <p style="color: #000!important; margin-left: 30px!important;">
          To<br>
          <br>
          Mr. HDFC Ltd.<br>
          Brook House 2nd floor<br>
          9 Shakespeare Sarani.<br>
          Kolkata-700071<br><br>
          <center style="color: #000!important; margin-left: 30px!important;"><u><b>Sub:</b> PERMISSION TO MORTGAGE</u></center>
          <br><br>
        </p>
        <p style="color: #000!important; margin-left: 30px!important; margin-right: 30px!important; text-align: justify!important;">
          Dear Sir,<br>
          This is to confirm that we have agreed to sell the Flat No.<b><%= @booking.cost_sheet.flat.floor%><%= @booking.cost_sheet.flat.name%>, Block :<%= @booking.cost_sheet.flat.block.name%>, <%= @booking.cost_sheet.flat.floor%>floor</b>
          Apartment admeasuring <b><%= @booking.cost_sheet.flat.SBA%></b> sq ft approx, together with the fixtures and fittings
          thereon existing and future on the <b><%= @booking.cost_sheet.flat.floor%></b> floor situated at/within <%= @booking.cost_sheet.flat.block.business_unit.address_1%>, <%= @booking.cost_sheet.flat.block.business_unit.address_2 %>,<%= @booking.cost_sheet.flat.block.business_unit.address_3%>, <%= @booking.cost_sheet.flat.block.business_unit.address_4%> together with the undivided proportionate
          share of land, to <b><%= @booking.cost_sheet.lead.name%></b> for a total
          consideration  as per agreement of Rs.-----
          --------------------------------- (Rupees ----------------------------------------------------------------
          only) under an agreement dated --------------------------------------. We hereby assure you
          that the flat as well as the said building situated at/within ----------------------------------------
          ----------------------------------------------- and the land appurtenant thereto are not subject to
          any encumbrances, charge or abilities of any kind whatsoever and that the entire property
          is free and marketable.
          We further confirm that we have a clear legal and marketable title to the said property and
          every part thereof.
          We also undertake and confirm that we shall not raise any loan from any Bank, Institution,
          Firm, Corporate Body or anywhere and create any change/encumbrances on the said
          property without your written consent.
          We further undertake and confirm that we shall not allow the Purchaser/s to transfer,
          exchange or cancel the said flat without your written consent.
          We have "No Objection" to HDFC giving a loan to <b><%= @booking.cost_sheet.lead.name%></b> purchaser/s of the said flat together with undivided proportionate share of plot of land
          referred to in Paragraph 1 of this letter and his/her/their mortgaging the same with you/ the
          security trustee nominated by you by way of security for repayment of the loan
          notwithstanding anything to the contrary contained in our Agreement dated ------------------
          --------------executed with the Purchaser/s.
          We also undertake to inform you/the security trustee and give proper notice to the Co-
          operative Society/Apartment Owners Associations, as and when formed, about the flat
          being so mortgaged.
          Thanking you, yours faithfully,
        </p>
      </div><br>
    </div>
  </body>
</html>
<%end%>