<%@header = 'Flat Cancellation Form'%>
<%= form_tag 'cancel', :html => {:class => 'form-horizontal'} do %>
  <% adhoc_charge = AdhocCharge.find_by_description('Cancellation Charge')%>
  <%= hidden_field_tag :adhoc_charge_id, adhoc_charge.id%>
  <div class="col-lg-5 col-lg-offset-3">
    <div class="well bs-component">
      <legend>&nbspFlat Cancellation</legend>
      <div class="row">
        <div class="col-lg-3">
          <%= label_tag :'Customer with flats' %>
        </div>
        <div class="col-lg-9">
          <%= select_tag 'adhoc_charge_entry[booking_id]', options_for_select(@customer_with_flats), :class => 'form-control selectpicker', data: { live_search: true }, :prompt => 'Select Customer' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-3">
          <%= label_tag :'Adhoc Charge' %>
        </div>
        <div class="9">
          <font style="color: #000!important;"><%= adhoc_charge.description%></font>
        </div>
      </div><br>
      <div class="row">
        <div class="col-lg-2">
          <%= label_tag :'Cancellation Date' %>
        </div>
        <div class="col-lg-4">
          <%= date_field_tag 'adhoc_charge_entry[date]', '', :class => 'form-control'%>
        </div> 
        <div class="col-lg-2">
          <%= label_tag :'Cancellation Charge' %>
        </div>      
        <div class="col-lg-4">
          <%= number_field_tag 'adhoc_charge_entry[amount]', '', required: true, step: "any", :class => 'form-control'%>
        </div>
      </div>
     <div class="row">
      <div class="col-lg-2">
          <%= label_tag :'remarks' %>
      </div>
      <div class="col-lg-10">
        <%= text_area_tag 'adhoc_charge_entry[remarks]', '', :class => 'form-control'%>
      </div>
     </div>
 <br>    
      <div class="form-group row">
        <div class="col-lg-8 col-lg-offset-4">
          <br>
          <%= submit_tag 'Cancel Flat',:class => 'btn btn-primary btn_width' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<style>
  .well{
    width: 700px !important;
    height: auto !important;
  }
  .btn_width{
    width: 50% !important;
  }
</style>
<script type="text/javascript">
  $(".chosen").chosen();
</script>
