<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business_unit.name %>
</p>

<p>
  <strong>Organisation:</strong>
  <%= @business_unit.organisation_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @business_unit.company_id %>
</p>

<p>
  <strong>Base Rate:</strong>
  <%= @business_unit.base_rate %>
</p>

<p>
  <strong>Open Covered Ratio:</strong>
  <%= @business_unit.open_covered_ratio %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @business_unit.address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @business_unit.address_2 %>
</p>

<p>
  <strong>Address 3:</strong>
  <%= @business_unit.address_3 %>
</p>

<p>
  <strong>Address 4:</strong>
  <%= @business_unit.address_4 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @business_unit.email %>
</p>

<p>
  <strong>Shortform:</strong>
  <%= @business_unit.shortform %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @business_unit.logo %>
</p>

<p>
  <strong>Walkthrough:</strong>
  <%= @business_unit.walkthrough %>
</p>

<%= link_to 'Edit', edit_business_unit_path(@business_unit) %> |
<%= link_to 'Back', business_units_path %>
