<%@header = 'Project Rates'%>
<h1>Project Rates</h1>
<table class="customers">
  <thead>
    <tr>
      <th>Date</th>
      <th>Project</th>
      <th>Base Rate</th>
      <th></th>
      <% if current_personnel.email != 'ayush@thejaingroup.com' %>
      <%else%>
        <th></th>
      <%end%>
    </tr>
  </thead>

  <tbody>
  	<% @project_rates.each do |project_rate|%>
    		<tr>
          <td><%= project_rate.date.to_date.strftime('%d/%m/%Y')%></td>
          <td><%= project_rate.business_unit.name%></td>
    			<td><%= project_rate.base_rate%></td>
          <td><%= link_to 'Edit', setup_project_rate_edit_path(project_rate),:class => 'edit_btn ', :style => "text-decoration: none"%></td>
    			<td>
          <% if current_personnel.email != 'ayush@thejaingroup.com' %>
          <% else %>
          <%= link_to 'Destroy', setup_project_rate_destroy_path(project_rate),:class => "dlt_btn", :style => "text-decoration: none", data: { confirm: 'Are you sure ?'}%>
          <% end %>
          </td>
    		</tr>
  	<%end%>
  </tbody>
</table><br>
<%= link_to 'New Entry', setup_project_rate_new_path, :class => 'btn btn-primary' %>