<%= form_tag 'project_rate_create', :html => {:class => 'form-horizontal'} do %>  
  <div class="col-lg-5 col-lg-offset-3">
    <div class="well bs-component">
      <center><legend>&nbspGenerate Project Rate</legend></center>
      <div class="row">
        <div class="col-lg-2">
          <%= label_tag :'Projects' %>
        </div>
        <div class="col-lg-10">
          <%= select_tag 'business_unit_id', options_for_select(@business_units), :class => 'form-control', :prompt => 'Select Project' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-2">
          <%= label_tag :'Date' %>
        </div>
        <div class="col-lg-4">
          <%= date_field_tag 'date', '', required: true, :class => 'form-control'%>
        </div> 
        <div class="col-lg-2">
          <%= label_tag :'Base Rate' %>
        </div>      
        <div class="col-lg-4">
          <%= number_field_tag 'base_rate', '', required: true, step: "any", :class => 'form-control'%>
        </div>
      </div>
      <br>   
      <div class="form-group row">
        <div class="col-lg-8 col-lg-offset-4">
          <br>
          <%= submit_tag 'Create Project Rate',:class => 'btn btn-primary btn_width' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<style>
  .well{
    width: 700px !important;
    height: auto !important;
  }
  .btn_width{
    width: 50% !important;
  }
</style>
<script type="text/javascript">
  $(".chosen").chosen();
</script>
<script>
  function populate_bank_other()
  {
    var bank_name=event.target.value;
    $.getScript('https://www.realtybucket.com/demand/populate_bank_other.js?name='+bank_name);
  }
</script>