<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @community.description %>
</p>

<p>
  <strong>Organisation:</strong>
  <%= @community.organisation_id %>
</p>

<%= link_to 'Edit', edit_community_path(@community) %> |
<%= link_to 'Back', communities_path %>
